openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX RPC Entidades API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX RPC Entidades
  description: RPC entidades are company records extracted from the Registro Publico de Comercio. They group registration profile data, related registry acts, and shareholder records found for an entity.
paths:
  /datasources/mx/rpc/entidades/{id}:
    get:
      tags:
      - DS MX RPC Entidades
      operationId: GetRpcEntidades
      summary: Retrieve RPC entidade
      description: Retrieve one RPC entidade by ID, including the company profile, related actos, and related socios extracted from Registro Publico de Comercio.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/RpcEntidade'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/datasources/mx/rpc/entidades:
    get:
      tags:
      - DS MX RPC Entidades
      operationId: ListRpcEntidades
      summary: List an entity's RPC entidades
      description: List RPC entidades extracted for an entity. Use this endpoint after an `rpc` extraction finishes to review the RPC company records found for the entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - name: lookupBy
        in: query
        description: Filter by RPC lookup type (exact match)
        schema:
          $ref: '#/components/schemas/RpcEntidadeLookupBy'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerRpcEntidadeCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    RpcEntidadeAntecedenteRegistral:
      type:
      - string
      - 'null'
      description: Prior registry reference reported by RPC
    RpcEntidadeMunicipio:
      type:
      - string
      - 'null'
      description: Municipality where the registry record is held
      example: Guadalajara
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    RpcEntidadeCurp:
      type:
      - string
      - 'null'
      description: CURP reported by RPC when present
    RpcEntidade:
      type: object
      description: Company record extracted from the Registro Publico de Comercio
      properties:
        '@id':
          type: string
          format: iri-reference
          description: RPC entidade IRI reference
          example: /datasources/mx/rpc/entidades/99c13810-868f-482e-a6f1-878254248d27
        '@type':
          type: string
          default: RpcEntidade
        id:
          $ref: '#/components/schemas/RpcEntidadeID'
        fme:
          $ref: '#/components/schemas/RpcEntidadeFme'
        nombreRazonSocial:
          $ref: '#/components/schemas/RpcEntidadeNombreRazonSocial'
        objetoSocial:
          $ref: '#/components/schemas/RpcEntidadeObjetoSocial'
        duracionDeLaSociedad:
          $ref: '#/components/schemas/RpcEntidadeDuracionDeLaSociedad'
        domicilioSocial:
          $ref: '#/components/schemas/RpcEntidadeDomicilioSocial'
        nacionalidad:
          $ref: '#/components/schemas/RpcEntidadeNacionalidad'
        estatusFme:
          $ref: '#/components/schemas/RpcEntidadeEstatusFme'
        rfc:
          $ref: '#/components/schemas/RpcEntidadeRfc'
        tipoDePersona:
          $ref: '#/components/schemas/RpcEntidadeTipoDePersona'
        antecedenteRegistral:
          $ref: '#/components/schemas/RpcEntidadeAntecedenteRegistral'
        regimenJuridico:
          $ref: '#/components/schemas/RpcEntidadeRegimenJuridico'
        giro:
          $ref: '#/components/schemas/RpcEntidadeGiro'
        entidadFederativa:
          $ref: '#/components/schemas/RpcEntidadeEntidadFederativa'
        municipio:
          $ref: '#/components/schemas/RpcEntidadeMunicipio'
        oficinaRegistral:
          $ref: '#/components/schemas/RpcEntidadeOficinaRegistral'
        fechaDeInscripcion:
          $ref: '#/components/schemas/RpcEntidadeFechaDeInscripcion'
        curp:
          $ref: '#/components/schemas/RpcEntidadeCurp'
        lookupBy:
          $ref: '#/components/schemas/RpcEntidadeLookupBy'
        actos:
          type: array
          description: Registry acts found for this RPC entidade
          items:
            $ref: '#/components/schemas/RpcEntidadeActo'
        socios:
          type: array
          description: Shareholder or partner records found for this RPC entidade
          items:
            $ref: '#/components/schemas/RpcEntidadeSocio'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    RpcEntidadeDomicilioSocial:
      type:
      - string
      - 'null'
      description: Registered social domicile
      example: Zona Metropolitana ...
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    RpcEntidadeActo:
      type: object
      description: Registry act nested in an RPC entidade response
      properties:
        id:
          type: string
          format: uuid
          description: RPC acto ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        formaPrecodificada:
          type:
          - string
          - 'null'
          description: RPC pre-coded form for the act
          example: M0 - ...
        acto:
          type:
          - string
          - 'null'
          description: Name or type of registry act
        nci:
          type:
          - string
          - 'null'
          description: NCI reported by RPC
        fechaDeIngreso:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time the act was submitted to RPC
          example: 01/01/2017 12:00:00 T.CENTRO
        fechaDeInscripcion:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time the act was registered by RPC
          example: 01/01/2017 12:00:00 T.CENTRO
        numeroDeDocumento:
          type:
          - string
          - 'null'
          description: Document number reported by RPC
        modalidad:
          type:
          - string
          - 'null'
          description: Act modality reported by RPC
        data:
          type:
          - object
          - 'null'
          description: Parsed act data from RPC
          additionalProperties: true
        file:
          $ref: '#/components/schemas/File'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    RpcEntidadeID:
      type: string
      format: uuid
      description: RPC Entidade ID
      example: 99c13810-868f-482e-a6f1-878254248d27
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    RpcEntidadeDuracionDeLaSociedad:
      type:
      - string
      - 'null'
      description: Company duration reported by RPC
      example: INDEFINIDA
    RpcEntidadeNacionalidad:
      type:
      - string
      - 'null'
      description: Company nationality reported by RPC
      example: Mexicana
    RpcEntidadeNombreRazonSocial:
      type:
      - string
      - 'null'
      description: Legal name reported by RPC
      example: FOO BAR, S.A. DE C.V.
    RpcEntidadeRfc:
      type:
      - string
      - 'null'
      description: RFC reported by RPC
      example: PEIC211118IS0
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    RpcEntidadeLookupBy:
      type: string
      description: Search source that produced the RPC entidade
      enum:
      - entity
      - shareholder
      example: entity
    RpcEntidadeEntidadFederativa:
      type:
      - string
      - 'null'
      description: Mexican state where the registry record is held
      example: Jalisco
    RpcEntidadeFme:
      type:
      - string
      - 'null'
      description: Electronic commercial folio assigned by RPC
      example: N-2000000000
    RpcEntidadeObjetoSocial:
      type:
      - string
      - 'null'
      description: Corporate purpose reported by RPC
      example: a) La operación, administración, comercialización...
    RpcEntidadeFechaDeInscripcion:
      type:
      - string
      - 'null'
      format: date-time
      description: Registration date reported by RPC
      example: 01/01/2017 12:00:00 T.CENTRO
    RpcEntidadeOficinaRegistral:
      type:
      - string
      - 'null'
      description: Registry office that holds the record
      example: Guadalajara
    RpcEntidadeRegimenJuridico:
      type:
      - string
      - 'null'
      description: Legal regime reported by RPC
      example: Sociedad Anónima
    RpcEntidadeEstatusFme:
      type:
      - string
      - 'null'
      description: RPC folio status
      example: Abierto
    TaxpayerRpcEntidadeCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/RpcEntidade
          '@id':
            default: /entities/{entityId}/datasources/mx/rpc/entidades
            example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/datasources/mx/rpc/entidades
          hydra:member:
            items:
              $ref: '#/components/schemas/RpcEntidade'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    RpcEntidadeGiro:
      type:
      - string
      - 'null'
      description: Business activity reported by RPC
    RpcEntidadeTipoDePersona:
      type: string
      description: Type of person reported by RPC
      example: Moral
    RpcEntidadeSocio:
      type: object
      description: Shareholder or partner record nested in an RPC entidade response
      properties:
        id:
          type: string
          format: uuid
          description: RPC socio ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        estatus:
          type:
          - string
          - 'null'
          description: Shareholder status reported by RPC
          example: Activo
        nacionalidad:
          type:
          - string
          - 'null'
          description: Shareholder nationality reported by RPC
          example: Mexicana
        nombre:
          type:
          - string
          - 'null'
          description: Shareholder given name or company name
          example: FOO BAR
        apellidoPaterno:
          type:
          - string
          - 'null'
          description: Shareholder paternal surname
        apellidoMaterno:
          type:
          - string
          - 'null'
          description: Shareholder maternal surname
        rfc:
          type:
          - string
          - 'null'
          description: Shareholder RFC when reported by RPC
        curp:
          type:
          - string
          - 'null'
          description: Shareholder CURP when reported by RPC
        serie:
          type:
          - string
          - 'null'
          description: Share series reported by RPC
          example: A
        fechaDeConstitucion:
          type:
          - string
          - 'null'
          description: Incorporation date when the shareholder is a company
          example: 04/05/2016
        fechaDeNacimiento:
          type:
          - string
          - 'null'
          description: Birth date when the shareholder is a person
        acciones:
          type:
          - string
          - 'null'
          description: Number of shares reported by RPC
          example: '999'
        total:
          type:
          - string
          - 'null'
          description: Total share amount reported by RPC
          example: '19000.0'
        valor:
          type:
          - string
          - 'null'
          description: Share value reported by RPC
          example: '19000.0'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
  responses:
    RpcEntidade:
      description: RPC entidade resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/RpcEntidade
            - $ref: '#/components/schemas/RpcEntidade'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TaxpayerRpcEntidadeCollection:
      description: RPC entidades collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/TaxpayerRpcEntidadeCollection'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
