openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Sales Revenue Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Sales Revenue Insight
paths:
  /entities/{entityId}/insights/sales-revenue:
    get:
      tags:
      - Sales Revenue Insight
      operationId: GetSalesRevenueInsight
      summary: Get sales revenue
      description: Money the entity has earned over time, aggregated from issued income invoices.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
      - name: options[periodicity]
        in: query
        description: The data set is grouped by this field
        schema:
          enum:
          - daily
          - weekly
          - monthly
          - quarterly
          - yearly
          type: string
          default: monthly
      - name: options[type]
        in: query
        description: The type of expenditure
        schema:
          enum:
          - total
          - currency
          - customers
          - export
          - customer-type
          - payment-type
          type: string
          default: total
      responses:
        '200':
          description: Sales Revenue
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  data:
                    description: Sales revenue data grouped by period and dimension
                    type: array
                    items:
                      type: object
                      properties:
                        mxnAmount:
                          description: '**Deprecated.** Use `metric` instead. Total revenue in `MXN` for the period.

                            '
                          deprecated: true
                          type: number
                          example: 39934.827
                        metric:
                          description: Total revenue in `MXN` for the period.
                          type: number
                          example: 39934.827
                        date:
                          description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period.

                            '
                          deprecated: true
                          type: string
                          example: '202408'
                        dateLabel:
                          description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period. Human-readable label for the period.

                            '
                          deprecated: true
                          type: string
                          example: 2024/Aug
                        startDate:
                          description: The start date of the period in `YYYY-MM-DD` format.
                          type: string
                          format: date
                          example: '2024-08-01'
                        transactions:
                          description: Number of invoices processed to get this record
                          type: integer
                          example: 6
                        dimension:
                          description: 'The dimension value for the selected `options[type]` grouping.


                            | `options[type]` | `dimension` values |

                            | --- | --- |

                            | `total` | `"total"` |

                            | `currency` | ISO 4217 code — e.g. `MXN`, `USD`, `EUR` |

                            | `customers` | Receiver RFC |

                            | `export` | `"exports"` (receiver RFC `XEXX010101000`) or `"national"` |

                            | `customer-type` | `"legal"` (12-char RFC) or `"physical"` (13-char RFC). Generic RFCs `XAXX010101000` / `XEXX010101000` map to `"unknown"`. |

                            | `payment-type` | `"PUE"` or `"PPD"` |


                            Two sentinel values can also appear for any `options[type]`:

                            - `"unknown"` — the underlying value was `NULL` in the database.

                            - `"others"` — aggregation bucket for high-cardinality dimensions (`customers`) when a row''s share of the period total is below 10%.

                            '
                          type: string
                          example: total
                        label:
                          description: Human-readable display label. Equal to `dimension` for most types; for `customers` it is the customer name followed by the RFC in parentheses.
                          type: string
                          example: total
                        groupName:
                          description: '**Deprecated.** Use `dimension` instead. Same value as `dimension`.

                            '
                          deprecated: true
                          type: string
                          example: total
                  stats:
                    description: Data quality statistics per period, indicating how many invoices had the required fields for accurate calculation.
                    type: array
                    items:
                      type: object
                      properties:
                        total:
                          description: Total number of invoices in this period
                          type: integer
                          example: 50
                        hits:
                          description: Number of invoices with sufficient data for accurate calculation
                          type: integer
                          example: 48
                        date:
                          description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period.

                            '
                          deprecated: true
                          type: string
                          example: '202408'
                        dateLabel:
                          description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period. Human-readable label for the period.

                            '
                          deprecated: true
                          type: string
                          example: 2024/Aug
                        startDate:
                          description: The start date of the period in `YYYY-MM-DD` format
                          type: string
                          format: date
                          example: '2024-08-01'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
