openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX RPC Actos API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX RPC Actos
  description: RPC actos are commercial registry acts associated with an RPC entidade. They can include extracted act data and file references for registry documents.
paths:
  /rpc/actos/{id}:
    get:
      tags:
      - DS MX RPC Actos
      operationId: GetRpcActo
      summary: Retrieve RPC acto
      description: Retrieve one RPC acto by ID, including registry act metadata, parsed act data, and file reference when a registry document is available.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/RpcActo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/datasources/mx/rpc/actos:
    get:
      tags:
      - DS MX RPC Actos
      operationId: ListEntityRpcActos
      summary: List an entity's RPC actos
      description: List RPC actos extracted for an entity. Use this endpoint when your integration needs individual registry acts rather than the complete RPC entidade response.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - name: rpcEntidade.lookupBy
        in: query
        description: Filter by the lookup type of the related RPC entidade (exact match)
        schema:
          $ref: '#/components/schemas/RpcEntidadeLookupBy'
      responses:
        '200':
          $ref: '#/components/responses/EntityRpcActoCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    RpcActo:
      allOf:
      - $ref: '#/components/schemas/RpcEntidadeActo'
      - type: object
        properties:
          '@id':
            type: string
            format: iri-reference
            description: RPC acto IRI reference
            example: /rpc/actos/91106968-1abd-4d64-85c1-4e73d96fb997
          '@type':
            type: string
            default: RpcActo
    RpcEntidadeLookupBy:
      type: string
      description: Search source that produced the RPC entidade
      enum:
      - entity
      - shareholder
      example: entity
    RpcEntidadeActo:
      type: object
      description: Registry act nested in an RPC entidade response
      properties:
        id:
          type: string
          format: uuid
          description: RPC acto ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        formaPrecodificada:
          type:
          - string
          - 'null'
          description: RPC pre-coded form for the act
          example: M0 - ...
        acto:
          type:
          - string
          - 'null'
          description: Name or type of registry act
        nci:
          type:
          - string
          - 'null'
          description: NCI reported by RPC
        fechaDeIngreso:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time the act was submitted to RPC
          example: 01/01/2017 12:00:00 T.CENTRO
        fechaDeInscripcion:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time the act was registered by RPC
          example: 01/01/2017 12:00:00 T.CENTRO
        numeroDeDocumento:
          type:
          - string
          - 'null'
          description: Document number reported by RPC
        modalidad:
          type:
          - string
          - 'null'
          description: Act modality reported by RPC
        data:
          type:
          - object
          - 'null'
          description: Parsed act data from RPC
          additionalProperties: true
        file:
          $ref: '#/components/schemas/File'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    EntityRpcActoCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/RpcActo
          '@id':
            default: /entities/{entityId}/datasources/mx/rpc/actos
            example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/datasources/mx/rpc/actos
          hydra:member:
            items:
              $ref: '#/components/schemas/RpcActo'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  responses:
    EntityRpcActoCollection:
      description: RPC actos collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/EntityRpcActoCollection'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    RpcActo:
      description: RPC acto resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/RpcActo
            - $ref: '#/components/schemas/RpcActo'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
