openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Summary Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Summary Insight
paths:
  /entities/{entityId}/insights/summary:
    get:
      tags:
      - Summary Insight
      operationId: GetSummaryInsight
      summary: Get entity summary
      description: Aggregated profile of the entity combining identity, economic activity, tax regimes, and headline figures from the latest annual tax return.
      parameters:
      - $ref: '#/components/parameters/entityId'
      responses:
        '200':
          description: Summary
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  rfc:
                    $ref: '#/components/schemas/TaxpayerID'
                  name:
                    description: Legal or full name of the entity. Taken from the latest Constancia de Situación Fiscal when available, otherwise the entity's stored name.
                    type:
                    - string
                    - 'null'
                    example: FOO BAR, S.A. DE C.V.
                  fiscalAddress:
                    description: Full fiscal address from the latest Constancia de Situación Fiscal, formatted as a single string.
                    type:
                    - string
                    - 'null'
                    example: AV. EJEMPLO 123, COL. CENTRO, 06000, CUAUHTÉMOC, CIUDAD DE MÉXICO
                  address:
                    description: 'Structured fiscal address from the latest Constancia de Situación Fiscal, exposing the same components that back the `fiscalAddress` string. Use this object when you need to render address fields individually or geocode the address. `null` when the entity has no Tax Status on record.


                      In CSV and XLSX exports, each component is flattened into its own column as `address.<component>` (for example, `address.postalCode`).

                      '
                    allOf:
                    - $ref: '#/components/schemas/TaxStatusAddress'
                  fiscalAddressStatusRaw:
                    description: Raw SAT status string for the fiscal address (e.g. domicilio localizado, no localizado).
                    type:
                    - string
                    - 'null'
                    example: Domicilio Localizado
                  economicActivities:
                    description: Economic activities registered with the SAT, filtered to those with no end date or an end date in the future.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Comercio al por mayor de abarrotes
                        percentage:
                          type: integer
                          example: 100
                        startDate:
                          type:
                          - string
                          - 'null'
                          format: date
                          example: '2014-01-01'
                        endDate:
                          type:
                          - string
                          - 'null'
                          format: date
                          example: null
                  taxRegimes:
                    description: Tax regimes registered with the SAT, filtered to those with no end date or an end date in the future.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Régimen General de Ley Personas Morales
                        startDate:
                          type:
                          - string
                          - 'null'
                          format: date
                          example: '2014-01-01'
                        endDate:
                          type:
                          - string
                          - 'null'
                          format: date
                          example: null
                  totalEmployees:
                    description: Number of employees reported in the previous calendar month's payroll invoices.
                    type:
                    - integer
                    - 'null'
                    example: 42
                  lastYearNetIncome:
                    description: '**Deprecated.** Kept for backwards compatibility. Same value as `lastYearTotalIncome`. Total income for the latest annual tax return''s fiscal year, in `MXN`.

                      '
                    deprecated: true
                    type:
                    - integer
                    - 'null'
                    example: 12000000
                  lastYearTotalIncome:
                    description: Total income for the latest annual tax return's fiscal year, in `MXN`.
                    type:
                    - integer
                    - 'null'
                    example: 12000000
                  totalRevenueLastTaxReturn:
                    description: '**Deprecated.** Kept for backwards compatibility. Prefer `totalNetProfitLastTaxReturn`. Gross profit (or net loss as a negative value) from the latest annual tax return''s income statement, in `MXN`.

                      '
                    deprecated: true
                    type:
                    - integer
                    - 'null'
                    example: 5000000
                  totalNetProfitLastTaxReturn:
                    description: Net profit (or net loss as a negative value) from the latest annual tax return's income statement, in `MXN`.
                    type:
                    - integer
                    - 'null'
                    example: 1500000
                  lastTaxReturnYear:
                    description: Fiscal year of the most recent annual tax return used for the income figures above.
                    type:
                    - integer
                    - 'null'
                    example: 2024
                  totalSalesRevenueCurrentYear:
                    description: Sales revenue in `MXN` for the current calendar year (from January 1st up to today). Returns `null` when invoice extractions do not sufficiently cover the year-to-date period.
                    type:
                    - number
                    - 'null'
                    example: 3500000.0
                  registrationDate:
                    description: Date the entity was registered with the SAT.
                    type:
                    - string
                    - 'null'
                    format: date
                    example: '2014-01-15'
                  blacklistStatus:
                    description: Current SAT blacklist status of the entity.
                    type:
                    - string
                    - 'null'
                    example: null
                  lastEfirmaCertificate:
                    description: Metadata about the most recent e.firma (FIEL) certificate on record. Only present when the feature is enabled.
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type: string
                        format: uuid
                      serialNumber:
                        type: string
                        example: '00001000000500000000'
                      type:
                        type: string
                        example: efirma
                      status:
                        type:
                        - string
                        - 'null'
                        example: active
                      validFrom:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      validTo:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      revokedAt:
                        type:
                        - string
                        - 'null'
                        format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  schemas:
    TaxStatusAddress:
      type: object
      description: Fiscal address from the SAT tax status document
      properties:
        streetReferences:
          type: array
          minItems: 1
          description: Address references or nearby streets
          items:
            type: string
            example: Camiño Galván
        streetNumber:
          type: string
          description: Exterior street number
          example: '8124'
        buildingNumber:
          type: string
          description: Interior building or unit number
          example: '496'
        locality:
          type: string
          description: Locality or city
          example: TUXTLA GUTIERREZ
        municipality:
          type: string
          description: Municipality or delegation
          example: TUXTLA GUTIERREZ
        postalCode:
          type: string
          description: Postal code
          example: '29000'
        state:
          type: string
          description: State
          example: CHIAPAS
        streetName:
          type: string
          description: Street name
          example: Plaza Jorge Luis
        streetType:
          type: string
          description: Street type
          example: Calle
        neighborhood:
          type: string
          description: Neighborhood or colonia
          example: Paseo Ricardo
        statusRaw:
          type: string
          description: Raw SAT address location status
          example: LOCALIZADO - Domicilio Localizado
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
