openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Mexico Addresses API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Mexico Addresses
paths:
  /datasources/mx/addresses/{postalCode}:
    get:
      tags:
      - Mexico Addresses
      operationId: GetMxAddressesByPostalCode
      summary: Retrieve Mexico addresses by postal code
      description: Retrieve Mexico address options for a postal code. Buró de Crédito and Buró Empresas require submitted addresses to match the postal-code address catalog, and a postal code can return multiple neighborhoods.
      parameters:
      - name: postalCode
        in: path
        description: Five-digit Mexico postal code
        required: true
        schema:
          type: string
          minLength: 5
          maxLength: 5
          pattern: ^[0-9]{5}$
          example: '11510'
      responses:
        '200':
          description: Mexico address options for the postal code
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Collection'
                - type: object
                  properties:
                    '@context':
                      example: /contexts/MxPostalCodeAddress
                    '@id':
                      example: /datasources/mx/addresses/11510
                    hydra:member:
                      type: array
                      items:
                        type: object
                        properties:
                          '@id':
                            type: string
                            format: iri-reference
                            example: /.well-known/genid/f2d82cee1ffcca39dbd2
                          '@type':
                            type: string
                            default: MxPostalCodeAddress
                          postalCode:
                            type: string
                            description: Five-digit Mexico postal code
                            example: '11510'
                          neighborhood:
                            type: string
                            description: Neighborhood or settlement name
                            example: Los Morales
                          neighborhoodType:
                            type: string
                            description: Type of neighborhood or settlement
                            example: Colonia
                          municipality:
                            type: string
                            description: Municipality or borough
                            example: Miguel Hidalgo
                          state:
                            type: string
                            description: State name
                            example: Ciudad de México
                          stateCode:
                            type: string
                            description: Three-letter state code
                            example: CMX
                          city:
                            type: string
                            description: City name
                            example: Cd de Mexico
                          officeKey:
                            type: string
                            description: Postal office key associated with the address
                            example: '01234'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    HydraView:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:totalItems:
          type: integer
          description: Total number of items found
          minimum: 0
          example: 1
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:first:
              type: string
              format: iri-reference
              description: First page IRI reference; omitted when there is no pagination
            hydra:next:
              type: string
              format: iri-reference
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              format: iri-reference
              description: Last page IRI reference; omitted when there is no pagination
    Collection:
      allOf:
      - $ref: '#/components/schemas/HydraView'
      - type: object
        properties:
          hydra:search:
            type: object
            properties:
              '@type':
                type: string
              hydra:template:
                type: string
              hydra:variableRepresentation:
                type: string
              hydra:mapping:
                type: array
                items:
                  type: object
                  properties:
                    '@type':
                      type: string
                    variable:
                      type: string
                    property:
                      type: string
                    required:
                      type: boolean
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
