openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Vendor Network Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Vendor Network Insight
paths:
  /entities/{entityId}/insights/metrics/vendor-network:
    get:
      tags:
      - Vendor Network Insight
      operationId: GetVendorNetwork
      summary: Get vendor network
      description: Vendors the entity has purchased from, with invoiced totals and cancellation rates per counterparty.
      parameters:
      - $ref: '#/components/parameters/entityId'
      responses:
        '200':
          description: Success
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/HydraView'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/GetVendorNetwork
                    '@id':
                      example: /entities/9bd4a640-9f41-4cd5-a158-20767b386ca0/insights/metrics/vendor-network
                    hydra:member:
                      items:
                        properties:
                          vendor:
                            type: string
                            example: Apple
                            description: Vendor name
                          totalReceived:
                            type: string
                            format: float
                            example: '15928890.28'
                          totalCancelledReceived:
                            type: string
                            format: float
                            example: '0.00'
                          percentageCancelled:
                            type: string
                            format: float
                            example: '0.0000'
                          receivedDiscounts:
                            type: string
                            format: float
                            example: '963836.78'
                          receivedCreditNotes:
                            type: string
                            format: float
                            example: '897457.12'
                          receivedPaymentPending:
                            type: string
                            format: float
                            example: '0.00'
                          netReceived:
                            type: string
                            format: float
                            example: '14067696.38'
                          pueReceived:
                            type: string
                            format: float
                            example: '15928890.28'
                          ppdReceived:
                            type: string
                            format: float
                            example: '0.00'
                          ppdCount:
                            type: integer
                            example: 0
                          paymentAmount:
                            type: string
                            format: float
                            example: '0.00'
                          collectedInInstallments:
                            type: string
                            format: float
                            example: '0.0000'
                          daysPayableOutstanding:
                            type: string
                            format: float
                            example: '0.00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    HydraView:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:totalItems:
          type: integer
          description: Total number of items found
          minimum: 0
          example: 1
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:first:
              type: string
              format: iri-reference
              description: First page IRI reference; omitted when there is no pagination
            hydra:next:
              type: string
              format: iri-reference
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              format: iri-reference
              description: Last page IRI reference; omitted when there is no pagination
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
