openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX Buró de Crédito Authorizations API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX Buró de Crédito Authorizations
  description: Buró de Crédito authorizations store the consent, RFC, address, and identity data required before Syntage can request Buró de Crédito reports for an entity.
paths:
  /datasources/mx/buro-de-credito/authorizations:
    get:
      tags:
      - DS MX Buró de Crédito Authorizations
      operationId: GetMxBuroDeCreditoAuthorizations
      summary: Get Buró de Crédito authorizations
      description: List Buró de Crédito authorizations for the organization
      parameters:
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          description: Buró de Crédito Authorizations
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CursorCollection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BuroDeCreditoAuthorization
                    '@id':
                      example: /datasources/mx/buro-de-credito/authorizations
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/BuroDeCreditoAuthorization'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /entities/{entityId}/datasources/mx/buro-de-credito/authorizations:
    get:
      tags:
      - DS MX Buró de Crédito Authorizations
      operationId: GetEntityMxBuroDeCreditoAuthorization
      summary: Get an entity's Buró de Crédito authorizations
      description: List Buró de Crédito authorizations associated with an entity
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          description: Buró de Crédito Authorizations
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CursorCollection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BuroDeCreditoAuthorization
                    '@id':
                      example: /entities/9bd4a640-9f41-4cd5-a158-20767b386ca0/datasources/mx/buro-de-credito/authorizations
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/BuroDeCreditoAuthorization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - DS MX Buró de Crédito Authorizations
      operationId: CreateMxBuroDeCreditoAuthorization
      summary: Create a Buró de Crédito authorization
      description: Create a Buró de Crédito authorization for an entity so report extractions can use it
      parameters:
      - $ref: '#/components/parameters/entityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - title: Person
                properties:
                  authorizedAt:
                    type: string
                    format: date-time
                    description: Date and time when authorization was granted
                    example: '2024-01-31T00:00:00+00:00'
                  taxpayer:
                    type: object
                    description: Person identity and address data authorized for Buró de Crédito
                    required:
                    - rfc
                    - nationality
                    - birthdate
                    - firstName
                    - firstLastName
                    - secondLastName
                    - address
                    properties:
                      rfc:
                        type: string
                        description: Person RFC
                        example: PRPU800101HM2
                      nationality:
                        type: string
                        description: Two-letter nationality code
                        example: MX
                      birthdate:
                        type: string
                        format: date
                        description: Person birth date
                        example: '1980-01-01'
                      firstName:
                        type: string
                        description: Person first name
                        example: UNO
                      middleName:
                        type:
                        - string
                        - 'null'
                        description: Person middle name
                        example: DOS
                      firstLastName:
                        type: string
                        description: Person first last name
                        example: PRUEBA
                      secondLastName:
                        type: string
                        description: Person second last name
                        example: PROSPECTOR
                      address:
                        type: object
                        description: Mexico address data in the format required by Buró de Crédito
                        required:
                        - address
                        - city
                        - municipality
                        - state
                        - postalCode
                        - neighborhood
                        - country
                        properties:
                          address:
                            type: string
                            description: Street name
                            example: Jaime Balmes
                          city:
                            type: string
                            description: City
                            example: Cd de Mexico
                          municipality:
                            type: string
                            description: Municipality or borough
                            example: Miguel Hidalgo
                          state:
                            type: string
                            description: Buró de Crédito state code
                            example: CMX
                          postalCode:
                            type: string
                            description: Five-digit postal code
                            example: '11510'
                          exteriorNumber:
                            type:
                            - string
                            - 'null'
                            description: Exterior number
                            example: '8'
                          interiorNumber:
                            type:
                            - string
                            - 'null'
                            description: Interior number
                            example: ''
                          neighborhood:
                            type: string
                            description: Neighborhood
                            example: Los morales
                          country:
                            type: string
                            description: Two-letter country code
                            example: MX
              - title: Company
                properties:
                  authorizedAt:
                    type: string
                    format: date-time
                    description: Date and time when authorization was granted
                    example: '2024-01-31T00:00:00+00:00'
                  taxpayer:
                    type: object
                    description: Company identity and address data authorized for Buró de Crédito
                    properties:
                      rfc:
                        type: string
                        description: Company RFC
                        example: AGS930324RN7
                      nationality:
                        type: string
                        description: Two-letter nationality code
                        example: MX
                      tradeName:
                        type: string
                        description: Company trade or legal name
                        example: ALMACENES GHINOS, SA DE CV
                      address:
                        type: object
                        description: Mexico address data in the format required by Buró de Crédito
                        required:
                        - address
                        - city
                        - municipality
                        - state
                        - postalCode
                        - neighborhood
                        - country
                        properties:
                          address:
                            type: string
                            description: Street name
                            example: AV IGNACIO ALLENDE LOTE 11-B LOCAL 2
                          city:
                            type: string
                            description: City
                            example: TEPEAPULCO
                          municipality:
                            type: string
                            description: Municipality or borough
                            example: Cd de Mexico
                          state:
                            type: string
                            description: Buró de Crédito state code
                            example: CMX
                          postalCode:
                            type: string
                            description: Five-digit postal code
                            example: '11510'
                          exteriorNumber:
                            type:
                            - string
                            - 'null'
                            description: Exterior number
                            example: '8'
                          interiorNumber:
                            type:
                            - string
                            - 'null'
                            description: Interior number
                            example: ''
                          neighborhood:
                            type: string
                            description: Neighborhood
                            example: CD SAHAGUN HGO
                          country:
                            type: string
                            description: Two-letter country code
                            example: MX
                    required:
                    - rfc
                    - nationality
                    - tradeName
                    - address
                required:
                - authorizedAt
                - taxpayer
              required:
              - authorizedAt
              - taxpayer
      responses:
        '201':
          description: Buró de Crédito Authorization created successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /datasources/mx/buro-de-credito/authorizations/{id}:
    get:
      tags:
      - DS MX Buró de Crédito Authorizations
      operationId: GetMxBuroDeCreditoAuthorization
      summary: Get a Buró de Crédito authorization
      description: Get a single Buró de Crédito authorization by authorization ID
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Buró de Crédito Authorization
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BuroDeCreditoAuthorization
                    '@id':
                      example: /entities/9bd4a640-9f41-4cd5-a158-20767b386ca0/datasources/mx/buro-de-credito/authorizations/9bd4a640-9f41-4cd5-a158-20767b386cb0
                - $ref: '#/components/schemas/BuroDeCreditoAuthorization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - DS MX Buró de Crédito Authorizations
      operationId: DeleteMxBuroDeCreditoAuthorization
      summary: Delete a Buró de Crédito authorization
      description: Delete a Buró de Crédito authorization by authorization ID
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '204':
          description: Buró de Crédito Authorization deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Taxpayer:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Taxpayer IRI reference
          example: /taxpayers/PEIC211118IS0
        '@type':
          type: string
          default: Taxpayer
        id:
          $ref: '#/components/schemas/TaxpayerID'
        personType:
          $ref: '#/components/schemas/TaxpayerPersonType'
        registrationDate:
          type: string
          format: date
          description: Taxpayer registration date
        name:
          $ref: '#/components/schemas/TaxpayerName'
    EntityType:
      type: string
      enum:
      - company
      - person
      description: Type of entity
      example: company
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    BuroDeCreditoAuthorization:
      oneOf:
      - title: Person
        type: object
        required:
        - id
        - rfc
        - authorizedAt
        - authorizedUntil
        - link
        - nationality
        - birthdate
        - firstName
        - firstLastName
        - secondLastName
        - address
        - city
        - municipality
        - state
        - postalCode
        - neighborhood
        - country
        - createdAt
        - updatedAt
        properties:
          id:
            type: string
            format: uuid
            description: Unique authorization ID
            example: 9bd4a640-9f41-4cd5-a158-20767b386ca0
          rfc:
            type: string
            description: RFC authorized for Buró de Crédito report requests
            example: PRPU800101HM2
          link:
            description: Entity associated with the authorization
            $ref: '#/components/schemas/Entity'
          authorizedAt:
            type: string
            format: date-time
            description: Date and time when authorization was granted
            example: '2024-01-31T00:00:00+00:00'
          authorizedUntil:
            type: string
            format: date-time
            description: Date and time when authorization expires
            example: '2027-01-31T00:00:00+00:00'
          nationality:
            type: string
            description: Two-letter nationality code
            example: MX
          birthdate:
            type: string
            format: date
            description: Person birth date
            example: '1980-01-01'
          firstName:
            type: string
            description: Person first name
            example: UNO
          middleName:
            type:
            - string
            - 'null'
            description: Person middle name
            example: DOS
          firstLastName:
            type: string
            description: Person first last name
            example: PRUEBA
          secondLastName:
            type: string
            description: Person second last name
            example: PROSPECTOR
          address:
            type: string
            description: Street name used for the authorization address
            example: Jaime Balmes
          city:
            type: string
            description: City used for the authorization address
            example: Cd de Mexico
          municipality:
            type: string
            description: Municipality or borough used for the authorization address
            example: Miguel Hidalgo
          state:
            type: string
            description: Buró de Crédito state code for the authorization address
            example: CMX
          postalCode:
            type: string
            description: Five-digit postal code used for the authorization address
            example: '11510'
          exteriorNumber:
            type:
            - string
            - 'null'
            description: Exterior number used for the authorization address
            example: '8'
          interiorNumber:
            type:
            - string
            - 'null'
            description: Interior number used for the authorization address
            example: ''
          neighborhood:
            type: string
            description: Neighborhood used for the authorization address
            example: Los morales
          country:
            type: string
            description: Two-letter country code for the authorization address
            example: MX
          email:
            type:
            - string
            - 'null'
            description: Email address associated with the authorization when available
            example: person@example.com
          origin:
            type: string
            enum:
            - external
            - onboarding
            description: How the authorization was created
            example: external
          isValid:
            type: boolean
            description: Whether the authorization has not expired
            example: true
          createdAt:
            type: string
            format: date-time
            description: Date and time when the authorization was created
            example: '2024-01-31T00:00:00+00:00'
          updatedAt:
            type: string
            format: date-time
            description: Date and time when the authorization was last updated
            example: '2024-01-31T00:00:00+00:00'
          deletedAt:
            type:
            - string
            - 'null'
            format: date-time
            description: Date and time when the authorization was deleted
            example: '2024-01-31T00:00:00+00:00'
      - title: Company
        type: object
        required:
        - id
        - rfc
        - authorizedAt
        - authorizedUntil
        - link
        - nationality
        - tradeName
        - address
        - city
        - municipality
        - state
        - postalCode
        - neighborhood
        - country
        - createdAt
        - updatedAt
        properties:
          id:
            type: string
            format: uuid
            description: Unique authorization ID
            example: 9bd4a640-9f41-4cd5-a158-20767b386ca0
          rfc:
            type: string
            description: RFC authorized for Buró de Crédito report requests
            example: PRPU800101HM2
          link:
            description: Entity associated with the authorization
            $ref: '#/components/schemas/Entity'
          authorizedAt:
            type: string
            format: date-time
            description: Date and time when authorization was granted
            example: '2024-01-31T00:00:00+00:00'
          authorizedUntil:
            type: string
            format: date-time
            description: Date and time when authorization expires
            example: '2027-01-31T00:00:00+00:00'
          nationality:
            type: string
            description: Two-letter nationality code
            example: MX
          tradeName:
            type: string
            description: Company trade or legal name used for the authorization
            example: PROSPECTOR
          address:
            type: string
            description: Street name used for the authorization address
            example: Jaime Balmes
          city:
            type: string
            description: City used for the authorization address
            example: Cd de Mexico
          municipality:
            type: string
            description: Municipality or borough used for the authorization address
            example: Miguel Hidalgo
          state:
            type: string
            description: Buró de Crédito state code for the authorization address
            example: CMX
          postalCode:
            type: string
            description: Five-digit postal code used for the authorization address
            example: '11510'
          exteriorNumber:
            type:
            - string
            - 'null'
            description: Exterior number used for the authorization address
            example: '8'
          interiorNumber:
            type:
            - string
            - 'null'
            description: Interior number used for the authorization address
            example: ''
          neighborhood:
            type: string
            description: Neighborhood used for the authorization address
            example: Los morales
          country:
            type: string
            description: Two-letter country code for the authorization address
            example: MX
          email:
            type:
            - string
            - 'null'
            description: Email address associated with the authorization when available
            example: company@example.com
          origin:
            type: string
            enum:
            - external
            - onboarding
            description: How the authorization was created
            example: external
          isValid:
            type: boolean
            description: Whether the authorization has not expired
            example: true
          createdAt:
            type: string
            format: date-time
            description: Date and time when the authorization was created
            example: '2024-01-31T00:00:00+00:00'
          updatedAt:
            type: string
            format: date-time
            description: Date and time when the authorization was last updated
            example: '2024-01-31T00:00:00+00:00'
          deletedAt:
            type:
            - string
            - 'null'
            format: date-time
            description: Date and time when the authorization was deleted
            example: '2024-01-31T00:00:00+00:00'
    CredentialStatus:
      type: string
      enum:
      - waiting
      - pending
      - valid
      - invalid
      - disabled
      - deactivated
      - error
      x-enumDeprecated:
        deactivated: Legacy status retained for existing records. The `disabled` status is used for credentials that can no longer be used.
      description: 'Credential validation status:


        | Value | Description |

        | --- | --- |

        | `waiting` | Credential validation is temporarily disabled, usually because of an ongoing incident. The credential will be validated later. |

        | `pending` | Credential validation has been requested and is waiting to be processed. |

        | `valid` | The credential was accepted by SAT and can be used for extractions. |

        | `invalid` | SAT rejected the credential during validation. |

        | `disabled` | SAT reported the credential as disabled or otherwise unrecoverable during validation. |

        | `deactivated` | **Deprecated.** Legacy status retained for existing records. The `disabled` status is used for credentials that can no longer be used. |

        | `error` | Credential validation failed because of an unexpected error. |

        '
      example: pending
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    TaxpayerName:
      type: string
      minLength: 1
      maxLength: 254
      description: Taxpayer name
      example: Pedro Infante Cruz
    Entity:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Entity IRI reference
          example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type; Entity resources currently use the legacy `Link` JSON-LD type for backwards compatibility
          default: Link
        id:
          $ref: '#/components/schemas/uuid'
        type:
          $ref: '#/components/schemas/EntityType'
        taxpayer:
          $ref: '#/components/schemas/Taxpayer'
        credential:
          $ref: '#/components/schemas/Credential'
        tags:
          $ref: '#/components/schemas/EntityTagCollection'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    EntityTag:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Entity Tag IRI reference
          example: /entity-tags/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: EntityTag
        id:
          $ref: '#/components/schemas/uuid'
        name:
          type: string
          description: Display name for the entity tag
          example: Priority Entity
        color:
          type:
          - string
          - 'null'
          description: Lowercase 7-character hexadecimal color used to display the tag (`#RRGGBB`). Defaults to `#a3aab5` when an entity tag is created without a color.
          example: '#22c558'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    Credential:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: SAT Credential IRI reference
          example: /credentials/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: Credential
        id:
          type: string
          format: uuid
          description: Credential ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          $ref: '#/components/schemas/CredentialType'
        rfc:
          $ref: '#/components/schemas/TaxpayerID'
        status:
          $ref: '#/components/schemas/CredentialStatus'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    EntityTagCollection:
      type: array
      items:
        $ref: '#/components/schemas/EntityTag'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    TaxpayerPersonType:
      type: string
      enum:
      - physical
      - legal
      example: physical
    CredentialType:
      type: string
      enum:
      - ciec
      - efirma
      example: ciec
    uuid:
      type: string
      format: uuid
      example: e0a24894-7fbf-48ae-bfb0-efaae30a6319
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
