openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Risks Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Risks Insight
paths:
  /entities/{entityId}/insights/risks:
    get:
      tags:
      - Risks Insight
      operationId: GetRisksInsight
      summary: Get risk calculations
      description: Risk indicators (concentration, foreign-currency exposure, cash-transaction share, insolvency, tax compliance, etc.) computed from the entity's invoicing, payments, and tax-filing data.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Risks
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      taxCompliance:
                        type: object
                        properties:
                          value:
                            type: string
                            example: positive
                          risky:
                            type: boolean
                      blacklistStatus:
                        type: object
                        properties:
                          value:
                            type: string
                            format: nullable
                          risky:
                            type: boolean
                      blacklistedCounterparties:
                        type: object
                        properties:
                          value:
                            type: integer
                            format: int32
                            example: 4
                          risky:
                            type: boolean
                      intercompanyTransactions:
                        type: object
                        properties:
                          value:
                            type: number
                            example: 0.486
                          risky:
                            type: boolean
                      customerConcentration:
                        type: object
                        properties:
                          value:
                            type: integer
                            format: int32
                            example: 858
                          risky:
                            type: boolean
                      supplierConcentration:
                        type: object
                        properties:
                          value:
                            type: integer
                            format: int32
                            example: 1008
                          risky:
                            type: boolean
                      foreignExchangeRisk:
                        type: object
                        properties:
                          value:
                            type: number
                            example: 0.06
                          risky:
                            type: boolean
                      cashTransactionRisk:
                        type: object
                        properties:
                          value:
                            type: number
                            example: 0.04
                          risky:
                            type: boolean
                      accountingInsolvency:
                        type: object
                        properties:
                          value:
                            type: number
                            example: 1.14
                          risky:
                            type: boolean
                      canceledIssuedInvoices:
                        type: object
                        properties:
                          value:
                            type: number
                            example: 0.1
                          risky:
                            type: boolean
                      canceledReceivedInvoices:
                        type: object
                        properties:
                          value:
                            type: number
                            example: 0.1
                          risky:
                            type: boolean
                      moratoryInterest:
                        type: object
                        description: Moratory-interest risk indicator. This key is present when the moratory-interest insight is enabled.
                        properties:
                          value:
                            type: number
                            description: Total moratory interest for the selected period.
                            example: 18250.5
                          risky:
                            type: boolean
                            description: Whether the total exceeds the configured threshold or the charges are recurring.
                            example: true
                          isRecurring:
                            type: boolean
                            description: Whether moratory-interest charges are recurring in the analyzed window.
                            example: true
                          institutionCount:
                            type: integer
                            description: Number of financial institutions charging moratory interest in the selected period.
                            example: 2
                          ordinaryInterestTotal:
                            type: number
                            description: Total ordinary interest for the selected period. Present when ordinary-interest comparison is enabled.
                            example: 92000
                          penaltyRatio:
                            type:
                            - number
                            - 'null'
                            description: Share of total credit cost paid as penalties, calculated as moratory interest divided by ordinary plus moratory interest. Present when ordinary-interest comparison is enabled.
                            example: 0.1655
                          sharedInstitutionCount:
                            type: integer
                            description: Number of financial institutions charging both ordinary and moratory interest in the selected period. Present when ordinary-interest comparison is enabled.
                            example: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
