openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Scheduler Rules API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Scheduler Rules
paths:
  /schedulers/rules:
    post:
      tags:
      - Scheduler Rules
      operationId: CreateSchedulerRule
      summary: Create a scheduler rule
      description: Create a rule that runs an extractor on a scheduler.
      requestBody:
        $ref: '#/components/requestBodies/SchedulerRuleCreate'
      responses:
        '202':
          $ref: '#/components/responses/SchedulerRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /schedulers/rules/{id}:
    get:
      tags:
      - Scheduler Rules
      summary: Retrieve a scheduler rule
      operationId: GetTSchedulerRule
      description: Retrieve a scheduler rule by ID.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/SchedulerRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Scheduler Rules
      summary: Update a scheduler rule
      operationId: UpdateSchedulerRule
      description: Update the extractor, options, or cron expression for a scheduler rule.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      requestBody:
        $ref: '#/components/requestBodies/SchedulerRuleUpdate'
      responses:
        '200':
          $ref: '#/components/responses/SchedulerRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
      - Scheduler Rules
      summary: Delete a scheduler rule
      operationId: DeleteSchedulerRule
      description: Delete a scheduler rule.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '204':
          description: Scheduler rule resource deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    SchedulerRule:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Scheduler Rule IRI reference
          example: /schedulers/rules/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: SchedulerRule
        id:
          $ref: '#/components/schemas/uuid'
        scheduler:
          type: string
          description: Scheduler that owns this rule
          example: Daily Invoices Scheduler
        extractor:
          $ref: '#/components/schemas/ExtractionExtractor'
        options:
          $ref: '#/components/schemas/ExtractionOptions'
        cronExpression:
          type:
          - string
          - 'null'
          description: Cron expression that controls when the rule runs
          example: '@daily'
        nextRunDate:
          type: string
          description: Date and time the resource should execute in the next iteration
          example: '2020-01-01T12:15:00.000Z'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    SchedulerRuleUpdateInput:
      type: object
      properties:
        extractor:
          $ref: '#/components/schemas/ExtractionExtractor'
        options:
          $ref: '#/components/schemas/ExtractionOptions'
        cronExpression:
          type: string
          writeOnly: true
          description: Cron expression that controls when the rule runs
          example: '@daily'
    ExtractionOptions:
      type: object
      description: Extractor options; check the available options for each extractor in [Extractions](https://docs.syntage.com/api-reference/extractions/overview#extractors)
      example:
        types:
        - I
        - E
        - P
        period:
          from: '2020-01-01T00:00:00.000Z'
          to: '2020-03-31T23:59:59.000Z'
    SchedulerRuleInput:
      type: object
      required:
      - scheduler
      - extractor
      properties:
        scheduler:
          type: string
          writeOnly: true
          description: Scheduler IRI reference
          example: /schedulers/91106968-1abd-4d64-85c1-4e73d96fb997
        extractor:
          $ref: '#/components/schemas/ExtractionExtractor'
        options:
          $ref: '#/components/schemas/ExtractionOptions'
        cronExpression:
          type: string
          writeOnly: true
          description: Cron expression that controls when the rule runs
          example: '@daily'
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    ExtractionExtractor:
      type: string
      description: Extractor to run, which retrieves resources from the corresponding datasource
      enum:
      - invoice
      - monthly_tax_return
      - annual_tax_return
      - rif_tax_return
      - tax_status
      - tax_retention
      - tax_compliance
      - electronic_accounting
      - sat_certificates
      - rpc
      - buro_de_credito_report
      - bil
      - rug
      - background_check
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    uuid:
      type: string
      format: uuid
      example: e0a24894-7fbf-48ae-bfb0-efaae30a6319
  requestBodies:
    SchedulerRuleCreate:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SchedulerRuleInput'
    SchedulerRuleUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SchedulerRuleUpdateInput'
  responses:
    SchedulerRule:
      description: Scheduler rule resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/SchedulerRule
            - $ref: '#/components/schemas/SchedulerRule'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
