openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage RPC Shareholders Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: RPC Shareholders Insight
paths:
  /entities/{entityId}/insights/rpc-shareholders:
    get:
      tags:
      - RPC Shareholders Insight
      operationId: GetRpcShareholdersInsight
      deprecated: true
      summary: Get RPC Shareholders (beta)
      description: '**Deprecated:** Use Get Shareholders instead.


        Shareholder information is obtained from the Registro Público de Comercio (RPC) and, when available for the entity, from Company Verification reports.


        When at least one shareholder for the entity has been ingested from a Company Verification report, the response returns only the Company Verification-sourced shareholders, and ownership percentages reflect the values recorded on the verification report. Otherwise, the response falls back to RPC-sourced shareholders, with percentages computed from share counts.


        Please be aware of the following limitations:

        - Not all companies are included in the RPC data source.

        - While some companies are listed in RPC, their shareholder information may not be available.

        - RPC data only includes initial shareholders and does not reflect changes in the shareholder structure, such as new or removed shareholders. Use Company Verification reports to get an up-to-date cap table.'
      parameters:
      - $ref: '#/components/parameters/entityId'
      responses:
        '200':
          $ref: '#/components/responses/RpcShareholdersInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    RpcShareholdersInsight:
      description: RPC Shareholders
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      description: Name
                      type: string
                      example: FOO BAR, S.A. DE C.V.
                    rfc:
                      description: RFC
                      type: string
                      example: PEIC211118IS0
                    shares:
                      description: Number of shares
                      type: number
                      example: 12345
                    percentage:
                      description: Shares percentage
                      type: number
                      format: float
                      example: 100
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
