openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Customer Concentration Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Customer Concentration Insight
paths:
  /entities/{entityId}/insights/customer-concentration:
    get:
      tags:
      - Customer Concentration Insight
      operationId: GetCustomerConcentrationInsight
      summary: Get customer invoice concentration
      description: Returns the concentration of issued or received invoices by customers.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Entity invoicing concentration
          content:
            application/ld+json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Customer name
                      example: ASOCIACIóN CERVANTES DE ÁNGELES S.A.B.
                    rfc:
                      $ref: '#/components/schemas/TaxpayerID'
                    total:
                      type: number
                      description: Total amount of all invoices in the given period
                      example: 118260.18
                    share:
                      type: number
                      description: Percentage representing the amount invoiced vs. the total sales in the selected period
                      example: 16.1
                    transactions:
                      type: array
                      items:
                        type: object
                        properties:
                          date:
                            type: string
                            format: date
                            description: Date period
                            example: 2014-01-01
                          total:
                            type: number
                            description: Total amount of all transactions in the given period
                            example: 37578.456999999995
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
