openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX Buró de Crédito Reports API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX Buró de Crédito Reports
  description: Buró de Crédito reports contain credit bureau data generated for an entity by the `buro_de_credito_report` extractor. Reports include the selected product type, provider report ID, parsed provider response, score when available, and generated files such as the report PDF.
paths:
  /entities/{entityId}/datasources/mx/buro-de-credito/reports:
    get:
      tags:
      - DS MX Buró de Crédito Reports
      operationId: GetEntityMxBuroDeCreditoReports
      summary: Get an entity's Buró de Crédito reports
      description: List Buró de Crédito reports generated for an entity
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          description: Buró de Crédito Reports
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CursorCollection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BuroDeCreditoReport
                    '@id':
                      example: /entities/9bd4a640-9f41-4cd5-a158-20767b386ca0/datasources/mx/buro-de-credito/reports
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/BuroDeCreditoReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /datasources/mx/buro-de-credito/reports/{id}:
    get:
      tags:
      - DS MX Buró de Crédito Reports
      operationId: GetEntityMxBuroDeCreditoReport
      summary: Get a Buró de Crédito report
      description: Get a single Buró de Crédito report by report ID
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Buró de Crédito Report
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BuroDeCreditoReport
                    '@id':
                      example: /entities/9bd4a640-9f41-4cd5-a158-20767b386ca0/datasources/mx/buro-de-credito/reports/9bd4a640-9f41-4cd5-a158-20767b386cb0
                - $ref: '#/components/schemas/BuroDeCreditoReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    BuroDeCreditoReport:
      oneOf:
      - title: '007'
        type: object
        required:
        - id
        - link
        - provider
        - productType
        - reportId
        - data
        - score
        - files
        properties:
          id:
            type: string
            format: uuid
            description: Unique Buró de Crédito report ID
            example: 9bd4a640-9f41-4cd5-a158-20767b386ca0
          link:
            type: string
            format: iri-reference
            description: Entity associated with the report
            example: /entities/0191ebdd-a743-7d0a-840f-5b1b7ff8adcf
          provider:
            type: string
            enum:
            - buro_de_credito
            - moffin
            description: Provider that generated the report
            example: buro_de_credito
          productType:
            type: string
            enum:
            - '007'
            - '004'
            description: Buró de Crédito product requested for the report
            example: '007'
          reportId:
            type: string
            description: Provider report ID
            example: '012342'
          data:
            type: object
            description: Parsed Buró de Crédito provider response for the selected product type
            example:
              respuesta:
                persona:
                  nombre:
                    RFC: XDFR991206
                    sexo: M
                    estadoCivil: M
                    nacionalidad: MX
                    primerNombre: CARLOS
                    apellidoMaterno: GARCIA
                    apellidoPaterno: LOPEZ
                    fechaNacimiento: '15071985'
                    claveImpuestosOtroPais: XDFR991206JHGRYD00
                    numeroRegistroElectoral: 0187654321098
                  cuentas:
                  - montoPagar: '890'
                    tipoCuenta: R
                    saldoActual: 1260+
                    fechaReporte: 02082024
                    modoReportar: A
                    saldoVencido: '0'
                    tipoContrato: CC
                    creditoMaximo: '17689'
                    limiteCredito: '21000'
                    historicoPagos: '11111100'
                    fechaUltimoPago: 02082024
                    formaPagoActual: '01'
                    frecuenciaPagos: Z
                    montoUltimoPago: '3972'
                    nombreOtorgante: BANCO
                    fechaUltimaCompra: '27072024'
                    fechaActualizacion: 08082024
                    fechaAperturaCuenta: '21122023'
                    claveUnidadMonetaria: MX
                    numeroTelefonoOtorgante: '0'
                    indicadorTipoResponsabilidad: I
                    fechaMasAntiguaHistoricoPagos: '31122023'
                    fechaMasRecienteHistoricoPagos: '31072024'
                    identificadorSociedadInformacionCrediticia: '0'
                  - montoPagar: '0'
                    tipoCuenta: I
                    numeroPagos: '16'
                    saldoActual: 0+
                    fechaReporte: '14012021'
                    modoReportar: A
                    saldoVencido: '0'
                    tipoContrato: PL
                    creditoMaximo: '5174'
                    historicoPagos: '1111'
                    fechaUltimoPago: '12012021'
                    formaPagoActual: '01'
                    frecuenciaPagos: V
                    montoUltimoPago: '393'
                    nombreOtorgante: BANCO
                    claveObservacion: CC
                    fechaCierreCuenta: '13012021'
                    fechaUltimaCompra: '23092020'
                    fechaActualizacion: '15012021'
                    fechaAperturaCuenta: '23092020'
                    claveUnidadMonetaria: MX
                    numeroTelefonoOtorgante: '0'
                    indicadorTipoResponsabilidad: I
                    fechaMasAntiguaHistoricoPagos: '30092020'
                    fechaMasRecienteHistoricoPagos: '07122020'
                    identificadorSociedadInformacionCrediticia: '0'
                  - montoPagar: '0'
                    tipoCuenta: I
                    numeroPagos: '16'
                    saldoActual: 0+
                    fechaReporte: '31082020'
                    modoReportar: A
                    saldoVencido: '0'
                    tipoContrato: PL
                    creditoMaximo: '5174'
                    historicoPagos: '311111111'
                    fechaUltimoPago: '27082020'
                    formaPagoActual: '01'
                    frecuenciaPagos: V
                    montoUltimoPago: '1620'
                    nombreOtorgante: BANCO
                    claveObservacion: CC
                    fechaCierreCuenta: '30082020'
                    fechaUltimaCompra: '22012020'
                    fechaActualizacion: 02092020
                    fechaAperturaCuenta: '22012020'
                    numeroPagosVencidos: '1'
                    claveUnidadMonetaria: MX
                    numeroTelefonoOtorgante: '0'
                    indicadorTipoResponsabilidad: I
                    fechaMasAntiguaHistoricoPagos: '30112019'
                    mopHistoricoMorosidadMasGrave: '03'
                    fechaMasRecienteHistoricoPagos: '31072020'
                    fechaHistoricaMorosidadMasGrave: '31072020'
                    importeSaldoMorosidadHistMasGrave: '345'
                    identificadorSociedadInformacionCrediticia: '0'
                  empleos:
                  - cP: '77560'
                    estado: QR
                    codPais: MX
                    direccion1: CALLE JUAREZ 123
                    nombreEmpresa: TRABAJADOR INDEPENDIENTE
                    coloniaPoblacion: CENTRO
                    delegacionMunicipio: BENITO JUAREZ
                  - cargo: NEGOCIO PROPIO  DUENO
                    codPais: MX
                    direccion1: ''
                    nombreEmpresa: MATERIALES LA ROCA
                  domicilios:
                  - cP: '77560'
                    estado: QR
                    codPais: MX
                    direccion1: CALLE HIDALGO 456
                    tipoDomicilio: H
                    numeroTelefono: '9981234567'
                    coloniaPoblacion: CENTRO
                    delegacionMunicipio: BENITO JUAREZ
                    fechaReporteDireccion: '16012020'
                  - cP: '77560'
                    estado: QR
                    codPais: MX
                    direccion1: CALLE MORELOS 789
                    tipoDomicilio: H
                    numeroTelefono: '9987654321'
                    coloniaPoblacion: CENTRO
                    delegacionMunicipio: BENITO JUAREZ
                    fechaReporteDireccion: '11122019'
                    indicadorEspecialDomicilio: K
                  encabezado:
                    clavePais: MX
                    claveOtorgante: FFA4771003
                    identificadorBuro: '1020'
                    numeroControlConsulta: '3406534887'
                    numeroReferenciaOperador: cc0be12a952043ba9ce2bf840
                    claveRetornoConsumidorPrincipal: '1'
                    claveRetornoConsumidorSecundario: '0'
                  hawkAlertBD:
                  - mensaje: TELEFONO 9981234567 NO CORRESPONDE A ZONA POSTAL
                    codigoClave: '850'
                    fechaReporte: '13082024'
                    tipoInstitucion: BURO DE CREDITO
                  - mensaje: TELEFONO 9981234567 CORRESPONDE A NUMERO MOVIL
                    codigoClave: '870'
                    fechaReporte: '13082024'
                    tipoInstitucion: BURO DE CREDITO
                  - mensaje: TELEFONO 9987654321 NO CORRESPONDE A ZONA POSTAL
                    codigoClave: '850'
                    fechaReporte: '13082024'
                    tipoInstitucion: BURO DE CREDITO
                  - mensaje: COLONIA NO COINCIDE CON CODIGO POSTAL 77560
                    codigoClave: '890'
                    fechaReporte: '13082024'
                    tipoInstitucion: BURO DE CREDITO
                  - mensaje: TELEFONO 9987654321 CORRESPONDE A NUMERO MOVIL
                    codigoClave: '870'
                    fechaReporte: '13082024'
                    tipoInstitucion: BURO DE CREDITO
                  - mensaje: 12-ORC-ACD(24-02)-000310/2021-DGO-PAPASQUIARO S
                    codigoClave: '990'
                    fechaReporte: '13072021'
                    tipoInstitucion: INF DE JUICIOS
                  - mensaje: 12-NOP-ACD(23-11)-000047/2021-DGO-PAPASQUIARO S
                    codigoClave: '990'
                    fechaReporte: '25022021'
                    tipoInstitucion: INF DE JUICIOS
                  resumenReporte:
                  - numeroMOP0: '00'
                    numeroMOP1: '03'
                    numeroMOP2: '00'
                    numeroMOP3: '00'
                    numeroMOP4: '00'
                    numeroMOP5: '00'
                    numeroMOP6: '00'
                    numeroMOP7: '00'
                    tipoMoneda: MX
                    numeroMOP96: '00'
                    numeroMOP97: '00'
                    numeroMOP99: '00'
                    numeroMOPUR: '00'
                    numeroCuentas: '0003'
                    cuentasDisputa: '00'
                    fechaIngresoBD: '11122019'
                    mensajesAlerta: NNNNN
                    cuentasCerradas: '0002'
                    totalPagosPagosFijos: '000000000'
                    totalPagosRevolventes: 000000890
                    totalSolicitudesReporte: 08
                    cuentasNegativasActuales: '0000'
                    cuentasPagosFijosHipotecas: '0002'
                    cuentasRevolventesAbiertas: '0001'
                    cuentasClavesHistoriaNegativa: '0001'
                    fechaAperturaCuentaMasAntigua: '22012020'
                    totalSaldosActualesPagosFijos: 000000000+
                    totalSaldosVencidosPagosFijos: '000000000'
                    fechaAperturaCuentaMasReciente: '21122023'
                    numeroSolicitudesUltimos6Meses: '03'
                    totalCreditosMaximosPagosFijos: '000000000'
                    totalLimitesCreditoRevolventes: '000021000'
                    totalSaldosActualesRevolventes: 000001260+
                    totalSaldosVencidosRevolventes: '000000000'
                    totalCreditosMaximosRevolventes: 000017689
                    fechaSolicitudReporteMasReciente: '31072024'
                    existenciaDeclaracionesConsumidor: N
                    numeroTotalCuentasDespachoCobranza: '00'
                    nuevaDireccionReportadaUltimos60Dias: N
                    pctLimiteCreditoUtilizadoRevolventes: '006'
                    numeroTotalSolicitudesDespachosCobranza: '00'
                    fechaSolicitudMasRecienteDespachoCobranza: '00000000'
                    fechaAperturaCuentaMasRecienteDespachoCobranza: '00000000'
                  scoreBuroCredito:
                  - valorScore: '0676'
                    codigoRazon:
                    - '04'
                    codigoScore: '007'
                    nombreScore: BC SCORE
                  hawkAlertConsulta:
                  - mensaje: 12-NOP-ACD(23-11)-000047/2021-DGO-PAPASQUIARO S
                    codigoClave: '990'
                    fechaReporte: '25022021'
                    tipoInstitucion: INF DE JUICIOS
                  - mensaje: 12-ORC-ACD(24-02)-000310/2021-DGO-PAPASQUIARO S
                    codigoClave: '990'
                    fechaReporte: '13072021'
                    tipoInstitucion: INF DE JUICIOS
                  consultaEfectuadas:
                  - tipoContrato: CS
                    fechaConsulta: '13082024'
                    claveOtorgante: FFA4771003
                    resultadoFinal: '0'
                    importeContrato: '0'
                    nombreOtorgante: VANDELIER
                    identificadorOrigenConsulta: '0'
                    indicadorTipoResponsabilidad: I
                  - tipoContrato: LS
                    fechaConsulta: '31072024'
                    resultadoFinal: '0'
                    importeContrato: '0'
                    nombreOtorgante: ARRENDAMIENTO
                    identificadorOrigenConsulta: '0'
                    indicadorTipoResponsabilidad: I
                  - tipoContrato: CC
                    fechaConsulta: '22072024'
                    resultadoFinal: '0'
                    importeContrato: '100'
                    nombreOtorgante: BANCO
                    claveUnidadMonetaria: MX
                    identificadorOrigenConsulta: '0'
                    indicadorTipoResponsabilidad: I
                  - tipoContrato: UK
                    fechaConsulta: 08032024
                    resultadoFinal: '0'
                    importeContrato: '1000'
                    nombreOtorgante: SIC
                    claveUnidadMonetaria: MX
                    identificadorOrigenConsulta: '0'
                    indicadorTipoResponsabilidad: I
                  - tipoContrato: CC
                    fechaConsulta: '21122023'
                    resultadoFinal: '0'
                    importeContrato: '0'
                    nombreOtorgante: BANCO
                    identificadorOrigenConsulta: '0'
                    indicadorTipoResponsabilidad: I
                  - tipoContrato: CC
                    fechaConsulta: '18112023'
                    resultadoFinal: '0'
                    importeContrato: '0'
                    nombreOtorgante: BANCO
                    identificadorOrigenConsulta: '0'
                    indicadorTipoResponsabilidad: I
                  - tipoContrato: CC
                    fechaConsulta: '20042023'
                    resultadoFinal: '0'
                    importeContrato: '0'
                    nombreOtorgante: BANCO
                    identificadorOrigenConsulta: '0'
                    indicadorTipoResponsabilidad: I
                  - tipoContrato: CC
                    fechaConsulta: '19122022'
                    resultadoFinal: '0'
                    importeContrato: '0'
                    nombreOtorgante: BANCO
                    identificadorOrigenConsulta: '0'
                    indicadorTipoResponsabilidad: I
                  - tipoContrato: CC
                    fechaConsulta: '19102022'
                    resultadoFinal: '0'
                    importeContrato: '0'
                    nombreOtorgante: BANCO
                    identificadorOrigenConsulta: '0'
                    indicadorTipoResponsabilidad: I
          score:
            type:
            - string
            - 'null'
            description: Score returned by the selected Buró de Crédito product when available
            example: '0676'
          files:
            type: array
            description: Files generated for the report, including the report PDF
            items:
              allOf:
              - $ref: '#/components/schemas/File'
              - example:
                  type: buro_de_credito.report.pdf
                  resource: /datasources/mx/buro-de-credito/reports/9cc7fc78-5e84-4862-af83-c6c7022fcb41
                  mimeType: application/pdf
                  extension: pdf
                  filename: 9cc7fc78-5e84-4862-af83-c6c7022fcb41.pdf
          createdAt:
            type: string
            format: date-time
            description: Date and time when the report was created
            example: '2024-01-31T00:00:00+00:00'
          updatedAt:
            type: string
            format: date-time
            description: Date and time when the report was last updated
            example: '2024-01-31T00:00:00+00:00'
      - title: INFORME_BURO
        type: object
        required:
        - id
        - link
        - provider
        - productType
        - reportId
        - data
        - score
        - files
        properties:
          id:
            type: string
            format: uuid
            description: Unique Buró de Crédito report ID
            example: 9bd4a640-9f41-4cd5-a158-20767b386ca0
          link:
            type: string
            format: iri-reference
            description: Entity associated with the report
            example: /entities/0191ebdd-a743-7d0a-840f-5b1b7ff8adcf
          provider:
            type: string
            enum:
            - buro_de_credito
            - moffin
            description: Provider that generated the report
            example: buro_de_credito
          productType:
            type: string
            enum:
            - INFORME_BURO
            - RCO
            description: Buró de Crédito product requested for the report
            example: INFORME_BURO
          reportId:
            type: string
            description: Provider report ID
            example: '012342'
          data:
            type: object
            description: Parsed Buró de Crédito provider response for the selected product type
            example:
              score:
              - errorScore: '0'
                valorScore: '307'
                codigoScore: '012'
                codigoRazon1: Z3
                codigoRazon2: W3
              hawkHr:
              - codigoHawk: '000'
                fechaMensajeHawk: '02052024'
                descripcionPrevencionHawk: NO SE ENCONTRO INFORMACION
              historia:
              - rfc: SSD1912102V8
                periodo: '202306'
                saldoVigente: '0'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '4'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202307'
                saldoVigente: '0'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '4'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202308'
                saldoVigente: '17'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '0'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202309'
                saldoVigente: '23'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '0'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202310'
                saldoVigente: '19'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '0'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202311'
                saldoVigente: '32'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '0'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202312'
                saldoVigente: '38'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '0'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202401'
                saldoVigente: '35'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '0'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202402'
                saldoVigente: '12'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '0'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202403'
                saldoVigente: '33'
                maximoSaldoVencido: '4'
                saldoVencidoA90Dias: '0'
                saldoVencido1A29Dias: '0'
                saldoVencido30A59Dias: '0'
                saldoVencido60A89Dias: '0'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202404'
                maximoSaldoVencido: '4'
                mayorNumeroDiasVencido: '16'
              - rfc: SSD1912102V8
                periodo: '202405'
                maximoSaldoVencido: '4'
                mayorNumeroDiasVencido: '16'
              encabezado:
                claveRetorno: '1'
                fechaConsulta: '02052024'
                identificadorConsulta: '1111'
                identificadorTransaccion: 0371405559
              datosGenerales:
                pais: MX
                ciudad: CIUDAD DE MEXICO
                estado: CDMX
                nombre: SynMed Equipos Médico SAPI DE CV
                direccion1: Acapulco 22
                rfcCliente: SSD1912102V8
                tipoCliente: '1'
                codigoPostal: '06700'
                nacionalidad: MX
                coloniaPoblacion: ROMA NORTE
                delegacionMunicipio: CUAUHTEMOC
                indicadorInformacionAdicional: PROD
                consultaEmpresaComercialMas24Meses: '0'
                consultaEntidadFinancieraMas24Meses: '0'
                consultaEmpresaComercialUltimos3Meses: '0'
                consultaEmpresaComercialUltimos12Meses: '0'
                consultaEmpresaComercialUltimos24Meses: '0'
                consultaEntidadFinancieraUltimos3Meses: '2'
                consultaEntidadFinancieraUltimos12Meses: '5'
                consultaEntidadFinancieraUltimos24Meses: '7'
              creditoComercial:
                total: '618'
                vencido: '0'
                vigente: '618'
                otorgante: '1'
                rfcCliente: SSD1912102V8
                historicoPagos: '1'
                fechaUltimoReporte: '122023'
                saldoVencidoDe1a29Dias: '0'
                saldoVencidoDe30a59Dias: '0'
                saldoVencidoDe60a89Dias: '0'
                saldoVencidoDe90a119Dias: '0'
                saldoVencidoDe120a179Dias: '0'
                saldoVencidoDe180DiasOMas: '0'
              creditoFinanciero:
              - plazo: '0'
                moneda: '001'
                apertura: '10032022'
                rfcCliente: SSD1912102V8
                tipoCambio: '1.00'
                atrasoMayor: '0'
                tipoCredito: '6280'
                tipoUsuario: OTRAS FINANCIERAS
                numeroCuenta: '597876930'
                saldoInicial: '6241'
                saldoVigente: '21293'
                historicoPagos: '111111111111111111111111'
                saldoVencidoDe1a29Dias: '0'
                saldoVencidoDe30a59Dias: '0'
                saldoVencidoDe60a89Dias: '0'
                saldoVencidoDe90a119Dias: '0'
                ultimoPeriodoActualizado: '202403'
                saldoVencidoDe120a179Dias: '0'
                saldoVencidoDe180DiasOMas: '0'
              - plazo: '30'
                moneda: '001'
                apertura: '30042023'
                rfcCliente: SSD1912102V8
                tipoCambio: '1.00'
                atrasoMayor: '0'
                tipoCredito: '1380'
                tipoUsuario: JEEVES MEXICO
                numeroCuenta: '100335'
                saldoInicial: '64288'
                saldoVigente: '3507'
                historicoPagos: '111111122'
                saldoVencidoDe1a29Dias: '0'
                saldoVencidoDe30a59Dias: '0'
                saldoVencidoDe60a89Dias: '0'
                saldoVencidoDe90a119Dias: '0'
                ultimoPeriodoActualizado: '202403'
                saldoVencidoDe120a179Dias: '0'
                saldoVencidoDe180DiasOMas: '0'
              - plazo: '30'
                moneda: '001'
                apertura: '31122023'
                rfcCliente: SSD1912102V8
                tipoCambio: '1.00'
                atrasoMayor: '0'
                tipoCredito: '1380'
                tipoUsuario: JEEVES MEXICO
                numeroCuenta: '156499'
                saldoInicial: '8413'
                saldoVigente: '8413'
                historicoPagos: '111'
                saldoVencidoDe1a29Dias: '0'
                saldoVencidoDe30a59Dias: '0'
                saldoVencidoDe60a89Dias: '0'
                saldoVencidoDe90a119Dias: '0'
                ultimoPeriodoActualizado: '202403'
                saldoVencidoDe120a179Dias: '0'
                saldoVencidoDe180DiasOMas: '0'
          score:
            type:
            - string
            - 'null'
            description: Score returned by the selected Buró de Crédito product when available
            example: '307'
          files:
            type: array
            description: Files generated for the report, including the report PDF
            items:
              allOf:
              - $ref: '#/components/schemas/File'
              - example:
                  type: buro_de_credito.report.pdf
                  resource: /datasources/mx/buro-de-credito/reports/9cc7fc78-5e84-4862-af83-c6c7022fcb41
                  mimeType: application/pdf
                  extension: pdf
                  filename: 9cc7fc78-5e84-4862-af83-c6c7022fcb41.pdf
          createdAt:
            type: string
            format: date-time
            description: Date and time when the report was created
            example: '2024-01-31T00:00:00+00:00'
          updatedAt:
            type: string
            format: date-time
            description: Date and time when the report was last updated
            example: '2024-01-31T00:00:00+00:00'
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
