openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Income Statement Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Income Statement Insight
paths:
  /entities/{entityId}/insights/metrics/income-statement:
    get:
      tags:
      - Income Statement Insight
      operationId: GetMetricsIncomeStatementInsight
      summary: Get metrics income statement
      description: 'Returns the entity''s income statement organized in a tree of categories.


        The structure of the category tree changes according to:

        - The tax regime.

        - The year format (the year when SAT changes the structure, i.e., a breaking change)


        Supported tax regimes:

        - **601** (Personas Morales)

        - **612** (PFAE/Personas Físicas con Actividades Empresariales y Profesionales)


        Available formats:

        - **2014** - the data is extracted from annual tax returns transcript **PDFs**.

        - **2022** - the data is extracted from annual tax returns financial statements **XLSXs**


        Notes:

        - The **Comment** field in the response body refers to the content of the **Nota** column in the **XLSX**.

        - The **2021** data may be extracted from the 2022 document (in 2022 format).

        - In the **2022** format, matched `Utilidad`/`Pérdida` pairs (`bruta`, `de operación`, `antes de impuestos`, `neta`) are returned under a single grouping parent row, with each side of the pair as an entry in the parent''s `children` array. The parent''s per-year `Total` reflects the populated side (SAT fills only one side per period). The **2014** format keeps its original grouping behavior.

        - **Sign convention:** revenue, profit and other inflow lines are returned as positive values; cost, expense, loss, tax and financial-charge lines (for example `Costo de ventas`, `Gastos de operación`, `Pérdida neta`, `Impuestos a la utilidad`, `Intereses a cargo`) are returned as **negative** values. Net or mixed parents (for example `Resultado Integral de Financiamiento`) keep their natural sign. Do not apply additional negation to outflow lines — they already carry the correct sign. See the 2026-06-22 changelog entry for migration details.'
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by fiscal year (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by fiscal year (less than)
        schema:
          type: string
          format: date-time
      - name: X-Insight-Format
        in: header
        schema:
          type: string
          description: 'This header controls year format:

            - **2022:** It will only show data available in that year format

            '
          enum:
          - 2022
      responses:
        '200':
          $ref: '#/components/responses/IncomeStatementMetricsInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  responses:
    IncomeStatementMetricsInsight:
      description: Income statement response
      content:
        application/json:
          schema:
            allOf:
            - type: object
              properties:
                taxRegime:
                  $ref: '#/components/schemas/TaxRegime'
                data:
                  type: array
                  items:
                    type: object
              example:
                taxRegime:
                  id: 601
                data:
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: 123123123
                    Comment: null
                  '2023':
                    Total: 321321321
                    Comment: null
                  category: Ingresos Netos
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: 123123123
                      Comment: null
                    '2023':
                      Total: 321321321
                      Comment: null
                    category: Ventas y/o servicios nacionales
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: 123123123
                        Comment: null
                      '2023':
                        Total: 321321321
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Ventas y/o servicios extranjeros
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Devoluciones, descuentos y bonificaciones nacionales
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Devoluciones, descuentos y bonificaciones extranjeras
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Ingresos por intereses
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Gastos por intereses
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Estimación preventiva para riesgos crediticios
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Estimación preventiva para riesgos crediticios (Recuperaciones)
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Primas emitidas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Primas cedidas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Sin Ingresos
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Otros Ingresos
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Total de materiales utilizados o comercializados
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Inventario Inicial
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Compras netas nacionales
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Compras netas extranjeras
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Inventario Final
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Sin materiales utilizados o comercializados
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Costo de ventas
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Mano de obra directa de fabricación
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Mano de obra indirecta de fabricación
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Gastos relacionados a la mano de obra
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Maquilas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Gastos Indirectos
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Deducciones de inversiones
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Otros costos
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Sin Costo de ventas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Costo de servicios
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Costo de servicios
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Comisiones y tarifas cobradas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Comisiones y tarifas pagadas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Otros ingresos (egresos) de la operación
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Incremento neto de las reservas técnicas (Riesgos en curso, obligaciones pendientes de cumplir, riesgos catastróficos)
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Costo neto de adquisición
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Costo neto de siniestralidad, reclamaciones y otras obligaciones pendientes de cumplir
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Incremento neto de otras reservas técnicas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Sin Costo de servicios
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Utilidad Bruta
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Pérdida Bruta
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: 4271628
                    Comment: null
                  '2023':
                    Total: 28242903
                    Comment: null
                  category: Gastos de operación
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: 4271628
                      Comment: null
                    '2023':
                      Total: 28242903
                      Comment: null
                    category: Gastos generales
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: 4271628
                        Comment: null
                      '2023':
                        Total: 28242903
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Gastos de administración
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Gastos de venta
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Sin Gastos de operación
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Utilidad de operación
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Pérdida de operación
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Resultado Integral de Financiamiento
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Intereses devengados a favor nacionales
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Intereses devengados a favor del extranjero
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Intereses moratorios a favor nacionales
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Intereses moratorios a favor del extranjero
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Ganancia cambiaria
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Intereses devengados a cargo nacionales
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Intereses devengados a cargo del extranjero
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Intereses moratorios a cargo nacionales
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Intereses moratorios a cargo del extranjero
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Pérdida cambiaria
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Resultado por posición monetaria favorable
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Resultado por posición monetaria desfavorable
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Cambios en el valor razonable de activos y pasivos financieros deudor
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Cambios en el valor razonable de activos y pasivos financieros acreedor
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Productos Financieros
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Sin Resultado Integral de Financiamiento
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Gastos Financieros
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Participación en asociadas
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Utilidad neta por participación en los resultados de subsidiarias no consolidadas, asociadas y negocios conjuntos
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Pérdida neta por participación en los resultados de subsidiarias no consolidadas, asociadas y negocios conjuntos
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Sin Participación en asociadas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Utilidad antes de Impuestos a la utilidad
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Pérdida antes de Impuestos a la utilidad
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Impuestos a la utilidad
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Impuesto sobre la renta
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Impuesto sobre la renta diferido
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Sin Impuestos a la utilidad
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Utilidad de operaciones continuas
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Pérdida de operaciones continuas
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Operaciones discontinuadas
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Participación de los Trabajadores en las Utilidades
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Sin Operaciones discontinuadas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Utilidad de enajenación de acciones
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Pérdida de enajenación de acciones
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Utilidad de segmento del negocio o segmento geográfico
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Pérdida de segmento del negocio o segmento geográfico
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Operaciones discontinuadas
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes Relacionadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Utilidad neta
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Pérdida neta
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes Relacionadas
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Partes No Relacionadas
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    TaxRegime:
      type: object
      properties:
        id:
          type: number
          enum:
          - 601
          - 612
          - 621
          - 626
          description: SAT tax regime code
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
