openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Employees Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Employees Insight
paths:
  /entities/{entityId}/insights/employees:
    get:
      tags:
      - Employees Insight
      operationId: GetEmployeesInsight
      summary: Get employees
      description: Number of employees per period, derived from distinct payroll (CFDI Nómina) recipients.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
      - name: options[periodicity]
        in: query
        description: The data set is grouped by this field
        schema:
          enum:
          - daily
          - weekly
          - monthly
          - quarterly
          - yearly
          type: string
          default: monthly
      responses:
        '200':
          description: Employees
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  data:
                    description: Employee counts per period
                    type: array
                    items:
                      type: object
                      properties:
                        total:
                          description: Number of employees in this period
                          type: integer
                          format: int32
                          example: 5
                        metric:
                          description: Number of employees in this period. Same value as `total`.
                          type: integer
                          format: int32
                          example: 5
                        date:
                          description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period.

                            '
                          deprecated: true
                          type: string
                          example: '202408'
                        dateLabel:
                          description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period. Human-readable label for the period.

                            '
                          deprecated: true
                          type: string
                          example: 2024/Aug
                        startDate:
                          description: The start date of the period in `YYYY-MM-DD` format.
                          type: string
                          format: date
                          example: '2024-08-01'
                        dimension:
                          description: Always `"total"`. This insight does not support other dimensions.
                          type: string
                          example: total
                        label:
                          description: Always `"total"`. Same value as `dimension`.
                          type: string
                          example: total
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
