openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX RPC Socios API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX RPC Socios
  description: RPC socios are shareholder or partner records found in RPC filings.
paths:
  /datasources/rpc/socios/{id}:
    get:
      tags:
      - DS MX RPC Socios
      operationId: GetRpcSocio
      summary: Retrieve RPC socio
      description: Retrieve one RPC socio by ID, including shareholder details and the RPC entidade profile it belongs to.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/RpcSocio'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    RpcEntidadeSocio:
      type: object
      description: Shareholder or partner record nested in an RPC entidade response
      properties:
        id:
          type: string
          format: uuid
          description: RPC socio ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        estatus:
          type:
          - string
          - 'null'
          description: Shareholder status reported by RPC
          example: Activo
        nacionalidad:
          type:
          - string
          - 'null'
          description: Shareholder nationality reported by RPC
          example: Mexicana
        nombre:
          type:
          - string
          - 'null'
          description: Shareholder given name or company name
          example: FOO BAR
        apellidoPaterno:
          type:
          - string
          - 'null'
          description: Shareholder paternal surname
        apellidoMaterno:
          type:
          - string
          - 'null'
          description: Shareholder maternal surname
        rfc:
          type:
          - string
          - 'null'
          description: Shareholder RFC when reported by RPC
        curp:
          type:
          - string
          - 'null'
          description: Shareholder CURP when reported by RPC
        serie:
          type:
          - string
          - 'null'
          description: Share series reported by RPC
          example: A
        fechaDeConstitucion:
          type:
          - string
          - 'null'
          description: Incorporation date when the shareholder is a company
          example: 04/05/2016
        fechaDeNacimiento:
          type:
          - string
          - 'null'
          description: Birth date when the shareholder is a person
        acciones:
          type:
          - string
          - 'null'
          description: Number of shares reported by RPC
          example: '999'
        total:
          type:
          - string
          - 'null'
          description: Total share amount reported by RPC
          example: '19000.0'
        valor:
          type:
          - string
          - 'null'
          description: Share value reported by RPC
          example: '19000.0'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    RpcEntidadeID:
      type: string
      format: uuid
      description: RPC Entidade ID
      example: 99c13810-868f-482e-a6f1-878254248d27
    RpcSocio:
      allOf:
      - $ref: '#/components/schemas/RpcEntidadeSocio'
      - type: object
        properties:
          '@id':
            type: string
            format: iri-reference
            description: RPC socio IRI reference
            example: /datasources/rpc/socios/91106968-1abd-4d64-85c1-4e73d96fb997
          '@type':
            type: string
            default: RpcSocio
          rpcEntidade:
            $ref: '#/components/schemas/RpcEntidadeProfile'
    RpcEntidadeProfile:
      type: object
      description: Basic RPC entidade profile information
      properties:
        '@id':
          type: string
          format: iri-reference
          description: RPC entidade IRI reference
          example: /datasources/mx/rpc/entidades/99c13810-868f-482e-a6f1-878254248d27
        '@type':
          type: string
          default: RpcEntidade
        id:
          $ref: '#/components/schemas/RpcEntidadeID'
        fme:
          $ref: '#/components/schemas/RpcEntidadeFme'
        nombreRazonSocial:
          $ref: '#/components/schemas/RpcEntidadeNombreRazonSocial'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    RpcEntidadeNombreRazonSocial:
      type:
      - string
      - 'null'
      description: Legal name reported by RPC
      example: FOO BAR, S.A. DE C.V.
    RpcEntidadeFme:
      type:
      - string
      - 'null'
      description: Electronic commercial folio assigned by RPC
      example: N-2000000000
  responses:
    RpcSocio:
      description: RPC socio resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/RpcSocio
            - $ref: '#/components/schemas/RpcSocio'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
