openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Moratory Interest Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Moratory Interest Insight
paths:
  /entities/{entityId}/insights/moratory-interest:
    get:
      tags:
      - Moratory Interest Insight
      operationId: GetMoratoryInterestInsight
      summary: Get moratory interest
      description: 'Returns moratory-interest charges for the entity, aggregated from received financial-institution invoices. The response includes summary KPIs, monthly totals, monthly totals by financial institution, and institution-level totals.


        If no period is provided, the insight defaults to the last 12 full months.'
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Start date of the period to analyze.
        schema:
          type: string
          format: date-time
          example: '2025-01-01T00:00:00.000Z'
      - name: options[to]
        in: query
        description: End date of the period to analyze.
        schema:
          type: string
          format: date-time
          example: '2025-12-31T23:59:59.999Z'
      responses:
        '200':
          description: Moratory Interest
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  summary:
                    type: object
                    description: Summary KPIs for moratory-interest charges.
                    properties:
                      lastMonthTotal:
                        type: number
                        description: Total moratory interest in the last full month.
                        example: 1250.75
                      threeMonthAverage:
                        type: number
                        description: Average monthly moratory interest over the last three full months.
                        example: 940.25
                      twelveMonthTotal:
                        type: number
                        description: Total moratory interest over the last 12 full months.
                        example: 18250.5
                      yoyThreeMonthPercentage:
                        type:
                        - number
                        - 'null'
                        description: Year-over-year percentage change for the latest three-month window.
                        example: 18.45
                      lastMonthVsThreeMonthPercentage:
                        type:
                        - number
                        - 'null'
                        description: Percentage change between the last full month and the latest three-month average.
                        example: 33.02
                      trendPercentage:
                        type:
                        - number
                        - 'null'
                        description: Trend percentage over the recent monthly series.
                        example: 12.3
                      isRecurring:
                        type: boolean
                        description: Whether moratory-interest charges are recurring in the analyzed window.
                        example: true
                      institutionCount:
                        type: integer
                        description: Number of financial institutions charging moratory interest over the 12-month window.
                        example: 2
                      periodTotal:
                        type: number
                        description: Total moratory interest for the selected period.
                        example: 18250.5
                      periodInstitutionCount:
                        type: integer
                        description: Number of financial institutions charging moratory interest in the selected period.
                        example: 2
                      periodFrom:
                        type: string
                        format: date
                        description: Start date of the selected period.
                        example: '2025-01-01'
                      periodTo:
                        type: string
                        format: date
                        description: End date of the selected period.
                        example: '2025-12-31'
                  monthly:
                    type: array
                    description: Monthly moratory-interest totals for the selected period.
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                          description: First day of the month.
                          example: '2025-01-01'
                        totalAmount:
                          type: number
                          description: Total moratory interest for the month.
                          example: 1250.75
                  monthlyByInstitution:
                    type: array
                    description: Monthly moratory-interest totals broken down by financial institution.
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                          description: First day of the month.
                          example: '2025-01-01'
                        issuerRfc:
                          $ref: '#/components/schemas/TaxpayerID'
                        issuerName:
                          type: string
                          description: Financial institution's name as in the invoice.
                          example: BANCO EJEMPLO SA
                        legalName:
                          type:
                          - string
                          - 'null'
                          description: Legal name from the financial institutions catalog.
                          example: BANCO EJEMPLO SA INSTITUCION DE BANCA MULTIPLE
                        tradeName:
                          type:
                          - string
                          - 'null'
                          description: Trade or commercial name from the financial institutions catalog.
                          example: Banco Ejemplo
                        totalAmount:
                          type: number
                          description: Total moratory interest for this month from this institution.
                          example: 1250.75
                  institutions:
                    type: array
                    description: Financial institution aggregates over the 12-month window, sorted by total amount descending.
                    items:
                      type: object
                      properties:
                        issuerRfc:
                          $ref: '#/components/schemas/TaxpayerID'
                        issuerName:
                          type:
                          - string
                          - 'null'
                          description: Financial institution's name as in the invoice.
                          example: BANCO EJEMPLO SA
                        legalName:
                          type:
                          - string
                          - 'null'
                          description: Legal name from the financial institutions catalog.
                          example: BANCO EJEMPLO SA INSTITUCION DE BANCA MULTIPLE
                        tradeName:
                          type:
                          - string
                          - 'null'
                          description: Trade or commercial name from the financial institutions catalog.
                          example: Banco Ejemplo
                        totalAmount:
                          type: number
                          description: Total moratory interest over the 12-month window.
                          example: 18250.5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
