openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Background Checks API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Background Checks
  description: Background checks provide comprehensive verification and screening data for entities.
paths:
  /background-checks:
    get:
      tags:
      - Background Checks
      operationId: GetBackgroundChecks
      summary: List background checks
      description: Lists background checks available to the organization. Use filters to narrow the list by processing status, country scope, or score.
      parameters:
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - $ref: '#/components/parameters/backgroundCheckStatusFilter'
      - $ref: '#/components/parameters/backgroundCheckCountryFilter'
      - $ref: '#/components/parameters/orderScore'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/orderUpdatedAt'
      responses:
        '200':
          description: Background Checks
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Collection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BackgroundCheck
                    '@id':
                      example: /background-checks
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/BackgroundCheck'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /background-checks/{id}:
    get:
      tags:
      - Background Checks
      operationId: GetBackgroundCheck
      summary: Retrieve a background check
      description: Retrieves one background check, including its score, processing status, country scope, associated files, and links to related records.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Background Check
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BackgroundCheck
                    '@id':
                      example: /background-checks/91ab5678-1234-5678-9abc-def012345678
                - $ref: '#/components/schemas/BackgroundCheck'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /background-checks/{id}/pdf:
    get:
      tags:
      - Background Checks
      operationId: GetBackgroundCheckPdf
      summary: Download background check PDF
      description: Downloads the generated PDF report for a background check. The response body is the PDF file itself.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Background Check PDF Report
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/background-checks:
    get:
      tags:
      - Background Checks
      operationId: GetEntityBackgroundChecks
      summary: List an entity's background checks
      description: Lists background checks associated with an entity. Use this endpoint when your integration is working from a known entity ID.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - $ref: '#/components/parameters/backgroundCheckStatusFilter'
      - $ref: '#/components/parameters/backgroundCheckCountryFilter'
      - $ref: '#/components/parameters/orderScore'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/orderUpdatedAt'
      responses:
        '200':
          description: Entity Background Checks
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Collection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BackgroundCheck
                    '@id':
                      example: /entities/91ab5678-1234-5678-9abc-def012345678/background-checks
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/BackgroundCheck'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /background-checks/{backgroundCheckId}/records:
    get:
      tags:
      - Background Checks
      operationId: GetBackgroundCheckRecords
      summary: List background check records
      description: Lists the records found during a background check. Records contain the detailed source data behind the check and are organized by category and database.
      parameters:
      - $ref: '#/components/parameters/backgroundCheckId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - $ref: '#/components/parameters/backgroundCheckCategoryFilter'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/orderUpdatedAt'
      responses:
        '200':
          description: Background Check Records
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CursorCollection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BackgroundCheckRecord
                    '@id':
                      example: /background-checks/91ab5678-1234-5678-9abc-def012345678/records
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/BackgroundCheckRecord'
                    hydra:search:
                      type: object
                      properties:
                        '@type':
                          type: string
                          default: hydra:IriTemplate
                        hydra:template:
                          example: /background-checks/91ab5678-1234-5678-9abc-def012345678/records{?category}
                        hydra:variableRepresentation:
                          type: string
                          default: BasicRepresentation
                        hydra:mapping:
                          type: array
                          items:
                            type: object
                            properties:
                              '@type':
                                type: string
                                default: IriTemplateMapping
                              variable:
                                type: string
                              property:
                                type: string
                              required:
                                type: boolean
                                default: false
                          example:
                          - '@type': IriTemplateMapping
                            variable: category
                            property: category
                            required: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    backgroundCheckStatusFilter:
      name: status
      in: query
      description: Filter background checks by status
      schema:
        $ref: '#/components/schemas/BackgroundCheckStatus'
    backgroundCheckCategoryFilter:
      name: category
      in: query
      description: Filter background check records by category
      schema:
        $ref: '#/components/schemas/BackgroundCheckCategory'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    backgroundCheckCountryFilter:
      name: country
      in: query
      description: Filter background checks by country
      schema:
        $ref: '#/components/schemas/BackgroundCheckCountry'
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    backgroundCheckId:
      name: backgroundCheckId
      in: path
      required: true
      description: The background check ID
      example: 91ab5678-1234-5678-9abc-def012345678
      schema:
        type: string
        format: uuid
    orderCreatedAt:
      name: order[createdAt]
      in: query
      description: Order by resource creation date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    orderScore:
      name: order[score]
      in: query
      description: Order by background check score
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    orderUpdatedAt:
      name: order[updatedAt]
      in: query
      description: Order by resource update date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  schemas:
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    BackgroundCheckDatabase:
      type: object
      required:
      - id
      - name
      - country
      properties:
        id:
          type: string
          format: uuid
          description: Unique background check database ID
          example: 55f01234-5678-9012-cdef-345678901234
        name:
          type: string
          description: Display name of the database
          example: Mexico Criminal Records Database
        country:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckCountry'
          description: Country covered by this database
    HydraView:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:totalItems:
          type: integer
          description: Total number of items found
          minimum: 0
          example: 1
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:first:
              type: string
              format: iri-reference
              description: First page IRI reference; omitted when there is no pagination
            hydra:next:
              type: string
              format: iri-reference
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              format: iri-reference
              description: Last page IRI reference; omitted when there is no pagination
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    BackgroundCheckRecord:
      type: object
      required:
      - id
      - category
      - database
      - sections
      - title
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Background Check Record IRI reference
          example: /background-checks/91ab5678-1234-5678-9abc-def012345678/records/82cd9012-3456-7890-abcd-ef1234567890
        '@type':
          type: string
          default: BackgroundCheckRecord
        id:
          type: string
          format: uuid
          description: Unique background check record ID
          example: 82cd9012-3456-7890-abcd-ef1234567890
        category:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckCategory'
          description: Category that groups this record
        database:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckDatabase'
          description: Database where this record was found
        sections:
          type: array
          items:
            $ref: '#/components/schemas/BackgroundCheckRecordSection'
          description: Sections of detailed fields returned for this record
        title:
          type: string
          description: Display title for the record
          example: Criminal records
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    BackgroundCheckStatus:
      type: string
      enum:
      - pending
      - completed
      - error
      description: 'Status of the background check:

        - **pending**: Background check is being processed

        - **completed**: Background check has been completed successfully

        - **error**: Background check encountered an error during processing

        '
      example: completed
    BackgroundCheckScore:
      type: object
      required:
      - id
      - category
      - score
      - status
      - recordsCount
      properties:
        id:
          type: string
          format: uuid
          description: Unique category score ID
          example: 73de0123-4567-8901-bcde-f23456789012
        category:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckCategory'
          description: Category this score applies to
        score:
          type: number
          format: float
          description: Score returned for this background check category
          example: 92.3
        status:
          type: string
          description: Provider status for this category check
          example: clean
        recordsCount:
          type: integer
          description: Number of records found for this category
          example: 3
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    BackgroundCheckCategory:
      type: string
      enum:
      - affiliations_and_insurances
      - alert_in_media
      - behavior
      - business_background
      - criminal_record
      - driving_licenses
      - international_background
      - legal_background
      - personal_identity
      - professional_background
      - traffic_fines
      - vehicle_information
      - vehicle_permits
      - taxes_and_finances
      - politically_exposed_person
      - credit_history
      - document_validation
      - unknown
      description: 'Category of background check:

        - **personal_identity**: Identity verification and personal information

        - **criminal_record**: Criminal background and legal history

        - **legal_background**: Legal proceedings and court records

        - **business_background**: Business registration and commercial activity

        - **professional_background**: Professional licenses and certifications

        - **credit_history**: Credit and financial history

        - **taxes_and_finances**: Tax compliance and financial records

        - **affiliations_and_insurances**: Professional affiliations and insurance records

        - **driving_licenses**: Driving licenses and vehicle permits

        - **vehicle_information**: Vehicle ownership and registration

        - **vehicle_permits**: Vehicle permits and registrations

        - **traffic_fines**: Traffic violations and fines

        - **alert_in_media**: Media mentions and public records

        - **behavior**: Behavioral patterns and risk indicators

        - **international_background**: International records and verification

        - **politically_exposed_person**: PEP (Politically Exposed Person) screening

        - **document_validation**: Document authenticity verification

        - **unknown**: Unknown or unclassified category

        '
      example: criminal_record
    Collection:
      allOf:
      - $ref: '#/components/schemas/HydraView'
      - type: object
        properties:
          hydra:search:
            type: object
            properties:
              '@type':
                type: string
              hydra:template:
                type: string
              hydra:variableRepresentation:
                type: string
              hydra:mapping:
                type: array
                items:
                  type: object
                  properties:
                    '@type':
                      type: string
                    variable:
                      type: string
                    property:
                      type: string
                    required:
                      type: boolean
    BackgroundCheck:
      type: object
      required:
      - id
      - link
      - country
      - score
      - status
      - scores
      - databaseStatuses
      - files
      - createdAt
      - updatedAt
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Background Check IRI reference
          example: /background-checks/91ab5678-1234-5678-9abc-def012345678
        '@type':
          type: string
          default: BackgroundCheck
        id:
          type: string
          format: uuid
          description: Unique background check ID
          example: 91ab5678-1234-5678-9abc-def012345678
        link:
          type: string
          format: iri-reference
          description: Entity associated with the background check
          example: /entities/91ab5678-1234-5678-9abc-def012345678
        country:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckCountry'
          description: Country scope for the background check
        score:
          type: number
          format: float
          description: Overall score returned by the background check provider
          example: 85.5
        status:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckStatus'
          description: Processing status for the background check
        scores:
          type: array
          items:
            $ref: '#/components/schemas/BackgroundCheckScore'
          description: Scores returned for each background check category
        databaseStatuses:
          type: array
          items:
            $ref: '#/components/schemas/BackgroundCheckDatabaseStatus'
          description: Status information for each database checked by the provider
        files:
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: Files produced by the background check, including PDF reports when available
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    BackgroundCheckRecordSectionField:
      type: object
      required:
      - id
      - name
      - value
      properties:
        id:
          type: string
          format: uuid
          description: Unique field ID
          example: 37ef1234-5678-9012-cdef-345678901234
        name:
          type: string
          description: Display name for the field
          example: Full Name
        value:
          type: string
          description: Value returned for the field
          example: Juan Manuel Perez Gonzalez
    BackgroundCheckDatabaseStatus:
      type: object
      required:
      - id
      - database
      - category
      - status
      properties:
        id:
          type: string
          format: uuid
          description: Unique database status ID
          example: 64ef1234-5678-9012-cdef-345678901234
        database:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckDatabase'
          description: Database checked by the provider
        category:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckCategory'
          description: Category checked in this database
        status:
          type: string
          description: Provider status for this database check
          example: completed
    BackgroundCheckCountry:
      type: string
      enum:
      - MX
      - ALL
      description: 'Country scope for background check:

        - **MX**: Mexico-specific background checks

        - **ALL**: International background checks across multiple countries

        '
      example: MX
    BackgroundCheckRecordSection:
      type: object
      required:
      - id
      - title
      - fields
      properties:
        id:
          type: string
          format: uuid
          description: Unique record section ID
          example: 46ef1234-5678-9012-cdef-345678901234
        title:
          type: string
          description: Display title for the record section
          example: Personal Information
        fields:
          type: array
          items:
            $ref: '#/components/schemas/BackgroundCheckRecordSectionField'
          description: Fields included in this record section
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
