openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Events API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Events
  description: Events record meaningful changes to resources in your organization.
paths:
  /events:
    get:
      tags:
      - Events
      operationId: ListEvent
      summary: List all events
      description: List recent events for resources in your organization. Events are ordered and paginated with cursor pagination.
      responses:
        '200':
          $ref: '#/components/responses/EventCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
      parameters:
      - name: type
        in: query
        description: Filter events by type (exact match)
        schema:
          $ref: '#/components/schemas/EventType'
      - name: taxpayer.id
        in: query
        description: Filter events by RFC (exact match)
        example: PEIC211118IS0
        schema:
          $ref: '#/components/schemas/TaxpayerID'
      - name: source
        in: query
        description: Filter events by source (exact match)
        schema:
          $ref: '#/components/schemas/EventSource'
      - name: resource
        in: query
        description: Filter events by resource (exact match)
        schema:
          $ref: '#/components/schemas/EventResource'
      - $ref: '#/components/parameters/createdAtBefore'
      - $ref: '#/components/parameters/createdAtStrictlyBefore'
      - $ref: '#/components/parameters/createdAtAfter'
      - $ref: '#/components/parameters/createdAtStrictlyAfter'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
  /events/{id}:
    get:
      tags:
      - Events
      operationId: GetEvent
      summary: Retrieve an event
      description: Retrieve a single event by ID, including the event type and resource data captured when the event was created.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Events
      summary: Delete an event
      operationId: DeleteEvent
      description: Delete an event resource.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '204':
          description: Event resource deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/events:
    get:
      tags:
      - Events
      operationId: ListEntityEvents
      summary: List an entity's events
      description: List recent events for a specific entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: type
        in: query
        description: Filter events by type (exact match)
        schema:
          $ref: '#/components/schemas/EventType'
      - name: source
        in: query
        description: Filter events by source (exact match)
        schema:
          $ref: '#/components/schemas/EventSource'
      - name: resource
        in: query
        description: Filter events by resource (exact match)
        schema:
          $ref: '#/components/schemas/EventResource'
      - $ref: '#/components/parameters/createdAtBefore'
      - $ref: '#/components/parameters/createdAtStrictlyBefore'
      - $ref: '#/components/parameters/createdAtAfter'
      - $ref: '#/components/parameters/createdAtStrictlyAfter'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/EventCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Taxpayer:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Taxpayer IRI reference
          example: /taxpayers/PEIC211118IS0
        '@type':
          type: string
          default: Taxpayer
        id:
          $ref: '#/components/schemas/TaxpayerID'
        personType:
          $ref: '#/components/schemas/TaxpayerPersonType'
        registrationDate:
          type: string
          format: date
          description: Taxpayer registration date
        name:
          $ref: '#/components/schemas/TaxpayerName'
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    EventType:
      type: string
      enum:
      - credential.created
      - credential.updated
      - credential.deleted
      - link.created
      - link.updated
      - link.deleted
      - file.created
      - extraction.created
      - extraction.updated
      - invoice.created
      - invoice.updated
      - invoice.deleted
      - invoice_payment.created
      - invoice_payment.updated
      - invoice_line_item.created
      - invoice_line_item.updated
      - tax_return.created
      - tax_return.updated
      - tax_return.deleted
      - export.created
      - export.updated
      - tax_status.created
      - tax_status.updated
      - tax_status.deleted
      - tax_compliance_check.created
      - tax_compliance_check.updated
      - tax_compliance_check.deleted
      - tax_retention.created
      - tax_retention.updated
      - tax_retention.deleted
      - electronic_accounting_record.created
      - electronic_accounting_record.updated
      - electronic_accounting_record.deleted
      - rpc_entidades.created
      - rpc_entidades.updated
      - rpc_acto.created
      - rpc_acto.updated
      - rpc_socios.created
      - rpc_socios.updated
      - shareholder_relation.created
      - shareholder_relation.updated
      - shareholder_relation_source.created
      - rug_garantia.created
      - rug_garantia.updated
      - buro_de_credito_report.created
      - buro_de_credito_report.updated
      - sat_certificate.created
      - sat_certificate.updated
      - background_check.created
      - company_verification_report.created
      - company_verification_report.updated
      example: credential.updated
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    EventResource:
      type: string
      format: iri-reference
      description: Resource related to the event
      example: /credentials/91106968-1abd-4d64-85c1-4e73d96fb997
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    Event:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Event IRI reference
          example: /events/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: Event
        id:
          $ref: '#/components/schemas/uuid'
        taxpayer:
          $ref: '#/components/schemas/Taxpayer'
        type:
          $ref: '#/components/schemas/EventType'
        source:
          $ref: '#/components/schemas/EventSource'
        resource:
          $ref: '#/components/schemas/EventResource'
        data:
          type: object
          description: Resource data (data.object) and changes (data.changes)
          example:
            object:
              id: 91106968-1abd-4d64-85c1-4e73d96fb997
              rfc: PEIC211118IS0
              type: ciec
              status: valid
              createdAt: '2020-01-17 11:47:27'
            changes:
              status:
                old: pending
                new: valid
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    EventSource:
      type: string
      format: iri-reference
      description: Source that originated the event
      example: /extractions/91106968-1abd-4d64-85c1-4e73d96fb997
    TaxpayerName:
      type: string
      minLength: 1
      maxLength: 254
      description: Taxpayer name
      example: Pedro Infante Cruz
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    TaxpayerPersonType:
      type: string
      enum:
      - physical
      - legal
      example: physical
    EventCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/Event
          '@id':
            default: /events
          hydra:member:
            items:
              $ref: '#/components/schemas/Event'
    uuid:
      type: string
      format: uuid
      example: e0a24894-7fbf-48ae-bfb0-efaae30a6319
  responses:
    EventCollection:
      description: Event collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/EventCollection'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Event:
      description: Event resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/Event
            - $ref: '#/components/schemas/Event'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    createdAtStrictlyAfter:
      name: createdAt[strictly_after]
      in: query
      description: Filter by resource creation date (greater than `>`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    createdAtStrictlyBefore:
      name: createdAt[strictly_before]
      in: query
      description: Filter by resource creation date (less than `<`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    orderCreatedAt:
      name: order[createdAt]
      in: query
      description: Order by resource creation date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    createdAtBefore:
      name: createdAt[before]
      in: query
      description: Filter by resource creation date (less than or equal `<=`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    createdAtAfter:
      name: createdAt[after]
      in: query
      description: Filter by resource creation date (greater than or equal `>=`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
