openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Invoices API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Invoices
  description: Invoices represent CFDI documents issued or received by an entity.
paths:
  /invoices/{id}:
    get:
      tags:
      - DS MX SAT Invoices
      operationId: GetInvoice
      summary: Retrieve an invoice
      description: Retrieve an invoice by ID, including SAT identifiers, issuer and receiver details, totals, payment status, file availability, and invoice relationships.
      parameters:
      - $ref: '#/components/parameters/invoiceId'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceCollectionItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{id}/tags:
    post:
      tags:
      - DS MX SAT Invoices
      operationId: TagInvoice
      summary: Tag an invoice
      description: Add a tag to an invoice.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      requestBody:
        $ref: '#/components/requestBodies/TagInvoice'
      responses:
        '200':
          $ref: '#/components/responses/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /invoices/{invoiceId}/tags/{tagId}:
    delete:
      tags:
      - DS MX SAT Invoices
      operationId: UntagInvoice
      summary: Untag an invoice
      description: Remove a tag from an invoice.
      parameters:
      - name: invoiceId
        in: path
        required: true
        example: 91106968-1abd-4d64-85c1-4e73d96fb997
        schema:
          type: string
          format: uuid
      - name: tagId
        in: path
        required: true
        example: 018d9dd9-459f-768e-bc55-a8a72d0d3e9a
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Untagged invoice
        '401':
          $ref: '#/components/responses/Unauthorized'
  /invoices/batch/tags:
    post:
      tags:
      - DS MX SAT Invoices
      operationId: TagInvoicesBatch
      summary: Tag multiple invoices
      description: 'Add one or more tags to up to 100 invoices in a single request.


        The operation is atomic: if any invoice or tag in the request cannot be found, no invoice is modified. Tags the invoice already has are kept as-is, so retrying the same request is safe.'
      requestBody:
        $ref: '#/components/requestBodies/TagInvoicesBatch'
      responses:
        '201':
          $ref: '#/components/responses/TagInvoicesBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: An invoice or tag in the request was not found
        '422':
          description: Validation error, e.g. empty lists or more than 100 invoices / 50 tags
  /invoices/batch/tags/remove:
    post:
      tags:
      - DS MX SAT Invoices
      operationId: UntagInvoicesBatch
      summary: Untag multiple invoices
      description: 'Remove one or more tags from up to 100 invoices in a single request.


        The operation is atomic: if any invoice or tag in the request cannot be found, no invoice is modified. Tags an invoice does not have are ignored, so retrying the same request is safe.'
      requestBody:
        $ref: '#/components/requestBodies/TagInvoicesBatch'
      responses:
        '201':
          $ref: '#/components/responses/TagInvoicesBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: An invoice or tag in the request was not found
        '422':
          description: Validation error, e.g. empty lists or more than 100 invoices / 50 tags
  /invoices/{id}/cfdi:
    get:
      tags:
      - DS MX SAT Invoices
      operationId: GetInvoiceCFDI
      summary: Retrieve an invoice's CFDI
      description: 'Retrieve the invoice CFDI in the requested format.


        By default, this endpoint returns the CFDI parsed from XML to JSON. Set `Accept: text/xml` to retrieve the original XML file, or `Accept: application/pdf` to retrieve the PDF representation when one is available.'
      parameters:
      - $ref: '#/components/parameters/invoiceId'
      - name: Accept
        in: header
        schema:
          type: string
          description: 'This header controls the output format:

            - **text/xml:** Original XML file

            - **application/pdf:** Original PDF file (XML''s visual representation)

            - **application/json:** Original XML file converted to JSON

            '
          enum:
          - text/xml
          - application/pdf
          - application/json
          default: application/json
      responses:
        '200':
          $ref: '#/components/responses/InvoiceCFDI'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /datasources/mx/sat/cfdis/{uuid}:
    get:
      tags:
      - DS MX SAT Invoices
      operationId: GetMxSatCfdi
      summary: Retrieve a SAT CFDI
      description: 'Retrieve parsed SAT CFDI data by invoice UUID.

        When `X-Async-Process` is set to `1`, the endpoint can return `202 Accepted` while CFDI parsing continues asynchronously.'
      parameters:
      - name: uuid
        in: path
        required: true
        description: Invoice UUID
        schema:
          type: string
          format: uuid
        example: def404af-5eef-4112-aa99-d1ec8493b89a
      - name: X-Async-Process
        in: header
        required: false
        description: Set to `1` to request asynchronous processing when the CFDI has not been parsed yet
        schema:
          type: string
          enum:
          - '0'
          - '1'
          default: '0'
      responses:
        '200':
          description: Parsed SAT CFDI response
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/MxSatCfdi'
        '202':
          description: CFDI parsing accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Processing status message
                    example: The CFDI is being processed and will be available soon. Please try again later.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/invoices:
    get:
      tags:
      - DS MX SAT Invoices
      operationId: ListTaxpayerInvoice
      summary: List an entity's invoices
      description: List invoices extracted for an entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: uuid
        in: query
        description: Filter by UUID/Folio Fiscal (exact match)
        schema:
          $ref: '#/components/schemas/InvoiceID'
      - name: version
        in: query
        description: Filter by CFDI version (exact match)
        example: 3.2
        schema:
          $ref: '#/components/schemas/InvoiceVersion'
      - name: type
        in: query
        description: Filter by type (exact match)
        example: I
        schema:
          $ref: '#/components/schemas/InvoiceType'
      - name: usage
        in: query
        description: Filter by usage (exact match)
        example: G03
        schema:
          $ref: '#/components/schemas/InvoiceUsage'
      - name: paymentType
        in: query
        description: Filter by payment type (exact match)
        schema:
          $ref: '#/components/schemas/InvoicePaymentType'
      - name: paymentMethod
        in: query
        description: Filter by payment method (exact match)
        schema:
          $ref: '#/components/schemas/InvoicePaymentMethod'
      - name: issuer.rfc
        in: query
        example: AOM920820BEA
        description: Filter by issuer RFC (partial match)
        schema:
          $ref: '#/components/schemas/TaxpayerID'
      - name: issuer.name
        in: query
        description: Filter by issuer name (partial match)
        example: Apple
        schema:
          $ref: '#/components/schemas/TaxpayerName'
      - name: issuer.taxRegime
        in: query
        description: Filter by issuer tax regime (partial match)
        schema:
          $ref: '#/components/schemas/InvoiceIssuerTaxRegime'
      - name: issuer.blacklistStatus
        in: query
        description: Filter by issuer blacklist status
        example: presumed
        schema:
          $ref: '#/components/schemas/TaxpayerBlacklistStatus'
      - name: isIssuer
        in: query
        description: Filter by whether the invoice issuer is the entity's RFC
        example: true
        schema:
          $ref: '#/components/schemas/InvoiceIsIssuer'
      - name: receiver.rfc
        in: query
        description: Filter by receiver RFC (partial match)
        schema:
          $ref: '#/components/schemas/TaxpayerID'
      - name: receiver.name
        in: query
        description: Filter by receiver name (partial match)
        example: Pedro
        schema:
          $ref: '#/components/schemas/TaxpayerName'
      - name: receiver.blacklistStatus
        in: query
        description: Filter by receiver blacklist status
        example: definitive
        schema:
          $ref: '#/components/schemas/TaxpayerBlacklistStatus'
      - name: isReceiver
        in: query
        description: Filter by whether the invoice receiver is the entity's RFC
        example: false
        schema:
          $ref: '#/components/schemas/InvoiceIsReceiver'
      - name: currency
        in: query
        description: Filter by currency code (exact match)
        schema:
          $ref: '#/components/schemas/InvoiceCurrency'
      - name: status
        in: query
        description: Filter by status (exact match)
        schema:
          $ref: '#/components/schemas/InvoiceStatus'
      - name: pac
        in: query
        description: Filter by certification provider (partial match)
        schema:
          $ref: '#/components/schemas/InvoicePac'
      - name: cancellationStatus
        in: query
        description: Filter by cancellation status (partial match)
        schema:
          $ref: '#/components/schemas/InvoiceCancellationStatus'
      - name: cancellationStatusProcess
        in: query
        description: Filter by cancellation process status (partial match)
        schema:
          $ref: '#/components/schemas/InvoiceCancellationStatusProcess'
      - name: issuedAt[before]
        in: query
        description: Filter by issue date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/InvoiceIssuedAt'
      - name: issuedAt[strictly_before]
        in: query
        description: Filter by issue date (less than `<`)
        schema:
          $ref: '#/components/schemas/InvoiceIssuedAt'
      - name: issuedAt[after]
        in: query
        description: Filter by issue date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/InvoiceIssuedAt'
      - name: issuedAt[strictly_after]
        in: query
        description: Filter by issue date (greater than `>`)
        schema:
          $ref: '#/components/schemas/InvoiceIssuedAt'
      - name: canceledAt[before]
        in: query
        description: Filter by cancellation date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/InvoiceCanceledAt'
      - name: canceledAt[strictly_before]
        in: query
        description: Filter by cancellation date (less than `<`)
        schema:
          $ref: '#/components/schemas/InvoiceCanceledAt'
      - name: canceledAt[after]
        in: query
        description: Filter by cancellation date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/InvoiceCanceledAt'
      - name: canceledAt[strictly_after]
        in: query
        description: Filter by cancellation date (greater than `>`)
        schema:
          $ref: '#/components/schemas/InvoiceCanceledAt'
      - name: createdAt[before]
        in: query
        description: Filter by creation date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/createdAt'
      - name: createdAt[strictly_before]
        in: query
        description: Filter by creation date (less than `<`)
        schema:
          $ref: '#/components/schemas/createdAt'
      - name: createdAt[after]
        in: query
        description: Filter by creation date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/createdAt'
      - name: createdAt[strictly_after]
        in: query
        description: Filter by creation date (greater than `>`)
        schema:
          $ref: '#/components/schemas/createdAt'
      - name: updatedAt[before]
        in: query
        description: Filter by update date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/updatedAt'
      - name: updatedAt[strictly_before]
        in: query
        description: Filter by update date (less than `<`)
        schema:
          $ref: '#/components/schemas/updatedAt'
      - name: updatedAt[after]
        in: query
        description: Filter by update date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/updatedAt'
      - name: updatedAt[strictly_after]
        in: query
        description: Filter by update date (greater than `>`)
        schema:
          $ref: '#/components/schemas/updatedAt'
      - name: certifiedAt[before]
        in: query
        description: Filter by certified date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/InvoiceCertifiedAt'
      - name: certifiedAt[strictly_before]
        in: query
        description: Filter by certified date (less than `<`)
        schema:
          $ref: '#/components/schemas/InvoiceCertifiedAt'
      - name: certifiedAt[after]
        in: query
        description: Filter by certified date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/InvoiceCertifiedAt'
      - name: certifiedAt[strictly_after]
        in: query
        description: Filter by certified date (greater than `>`)
        schema:
          $ref: '#/components/schemas/InvoiceCertifiedAt'
      - name: lastPaymentDate[before]
        in: query
        description: Filter by last payment date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/InvoiceLastPaymentDate'
      - name: lastPaymentDate[strictly_before]
        in: query
        description: Filter by last payment date (less than `<`)
        schema:
          $ref: '#/components/schemas/InvoiceLastPaymentDate'
      - name: lastPaymentDate[after]
        in: query
        description: Filter by last payment date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/InvoiceLastPaymentDate'
      - name: lastPaymentDate[strictly_after]
        in: query
        description: Filter by last payment date (greater than `>`)
        schema:
          $ref: '#/components/schemas/InvoiceLastPaymentDate'
      - name: fullyPaidAt[before]
        in: query
        description: Filter by fully paid date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/InvoiceFullyPaidAt'
      - name: fullyPaidAt[strictly_before]
        in: query
        description: Filter by fully paid date (less than `<`)
        schema:
          $ref: '#/components/schemas/InvoiceFullyPaidAt'
      - name: fullyPaidAt[after]
        in: query
        description: Filter by fully paid date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/InvoiceFullyPaidAt'
      - name: fullyPaidAt[strictly_after]
        in: query
        description: Filter by fully paid date (greater than `>`)
        schema:
          $ref: '#/components/schemas/InvoiceFullyPaidAt'
      - name: tax[between]
        in: query
        description: Filter by tax between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: tax[gt]
        in: query
        description: Filter by tax (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: tax[gte]
        in: query
        description: Filter by tax (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: tax[lt]
        in: query
        description: Filter by tax (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: tax[lte]
        in: query
        description: Filter by tax (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: discount[between]
        in: query
        description: Filter by discount between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: discount[gt]
        in: query
        description: Filter by discount (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: discount[gte]
        in: query
        description: Filter by discount (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: discount[lt]
        in: query
        description: Filter by discount (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: discount[lte]
        in: query
        description: Filter by discount (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: subtotal[between]
        in: query
        description: Filter by subtotal between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: subtotal[gt]
        in: query
        description: Filter by subtotal (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: subtotal[gte]
        in: query
        description: Filter by subtotal (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: subtotal[lt]
        in: query
        description: Filter by subtotal (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: subtotal[lte]
        in: query
        description: Filter by subtotal (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: total[between]
        in: query
        description: Filter by total between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: total[gt]
        in: query
        description: Filter by total (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: total[gte]
        in: query
        description: Filter by total (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: total[lt]
        in: query
        description: Filter by total (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: total[lte]
        in: query
        description: Filter by total (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: paidAmount[between]
        in: query
        description: Filter by paidAmount between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: paidAmount[gt]
        in: query
        description: Filter by paidAmount (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: paidAmount[gte]
        in: query
        description: Filter by paidAmount (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: paidAmount[lt]
        in: query
        description: Filter by paidAmount (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: paidAmount[lte]
        in: query
        description: Filter by paidAmount (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: dueAmount[between]
        in: query
        description: Filter by dueAmount between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: dueAmount[gt]
        in: query
        description: Filter by dueAmount (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: dueAmount[gte]
        in: query
        description: Filter by dueAmount (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: dueAmount[lt]
        in: query
        description: Filter by dueAmount (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: dueAmount[lte]
        in: query
        description: Filter by dueAmount (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: hasXml
        in: query
        description: Filter by invoices that have the CFDI available in XML format
        example: true
        schema:
          $ref: '#/components/schemas/InvoiceHasXML'
      - name: hasPdf
        in: query
        description: Filter by invoices that have the CFDI available in PDF format
        example: true
        schema:
          $ref: '#/components/schemas/InvoiceHasPDF'
      - name: order[issuedAt]
        in: query
        description: Order by issue date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[canceledAt]
        in: query
        description: Order by cancellation date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[certifiedAt]
        in: query
        description: Order by certification date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[amount]
        in: query
        description: Order by amount
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: exists[paymentMethod]
        in: query
        description: Filter invoices that contains or not paymentMethod
        schema:
          type: boolean
          example: true
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerInvoiceCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    MxSatCfdi:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: Invoice UUID
          example: def404af-5eef-4112-aa99-d1ec8493b89a
        data:
          type: object
          description: Parsed CFDI data
          additionalProperties: true
        processedXmlAt:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time the CFDI XML was processed
          example: '2020-01-01T12:15:00.000Z'
        processedPdfAt:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time the CFDI PDF was processed
          example: '2020-01-01T12:15:00.000Z'
    InvoiceDiscount:
      type: number
      format: float
      description: Discount amount
      example: 3324
    InvoiceHasXML:
      type: boolean
      description: '`true` when the CFDI is available in the XML format. The file can be downloaded through the [retrieve an invoice CFDI](#operation/GetInvoiceCFDI) operation

        '
    InvoicePac:
      type: string
      minLength: 12
      maxLength: 12
      description: Certification provider tax ID (Proveedor Autorizado de Certificación)
      example: SAT970701NN3
    InvoiceUUID:
      type: string
      format: uuid
      description: Invoice UUID (Folio fiscal)
      example: def404af-5eef-4112-aa99-d1ec8493b89a
    InvoiceIsReceiver:
      type: boolean
      description: '`true` if the invoice receiver is the entity''s RFC

        '
      example: false
    TagInvoicesBatchInput:
      type: object
      required:
      - resources
      - tags
      properties:
        resources:
          type: array
          writeOnly: true
          description: Invoices to tag or untag, as IRI references
          minItems: 1
          maxItems: 100
          items:
            type: string
            format: iri-reference
          example:
          - /invoices/91106968-1abd-4d64-85c1-4e73d96fb997
        tags:
          type: array
          writeOnly: true
          description: Tags to add or remove, as IRI references
          minItems: 1
          maxItems: 50
          items:
            type: string
            format: iri-reference
          example:
          - /tags/018d9dd9-459f-768e-bc55-a8a72d0d3e9a
    Invoice:
      allOf:
      - $ref: '#/components/schemas/InvoiceCollectionItem'
      - type: object
      properties:
        tags:
          $ref: '#/components/schemas/TagCollection'
    InvoiceTax:
      type: number
      format: float
      description: Tax amount
      example: 5224
    InvoiceStatus:
      type: string
      enum:
      - VIGENTE
      - CANCELADO
      description: Whether the invoice is active or canceled
      example: VIGENTE
    TagInvoicesBatch:
      type: object
      properties:
        resources:
          type: array
          description: IDs of the invoices the operation was applied to
          items:
            type: string
            format: uuid
        tags:
          type: array
          description: IDs of the tags added or removed
          items:
            type: string
            format: uuid
    InvoiceRelationRelatedInvoiceUuid:
      type: string
      format: uuid
      description: The related Invoice UUID (Folio fiscal)
      example: def404af-5eef-4112-aa99-d1ec8493b89a
    InvoiceCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/Invoice
          '@id':
            default: /entities/{entityId}/invoices
            example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/invoices
          hydra:member:
            items:
              $ref: '#/components/schemas/Invoice'
    InvoiceRelationID:
      type: string
      format: uuid
      description: Invoice relation ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    uuid:
      type: string
      format: uuid
      example: e0a24894-7fbf-48ae-bfb0-efaae30a6319
    InvoiceIssuerTaxRegime:
      type:
      - number
      - 'null'
      enum:
      - 601
      - 603
      - 605
      - 606
      - 607
      - 608
      - 609
      - 610
      - 611
      - 612
      - 614
      - 615
      - 616
      - 620
      - 621
      - 622
      - 623
      - 624
      - 625
      - 626
      - 628
      - 629
      - 630
      description: Tax regime code from the [c_RegimenFiscal](/guides/catalogs#c_regimenfiscal) catalog
      example: 601
      externalDocs:
        url: https://syntage.com/docs/catalogs#c_regimenfiscal
    InvoiceCollectionItem:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Invoice IRI reference
          example: /invoices/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: Invoice
        id:
          $ref: '#/components/schemas/InvoiceID'
        uuid:
          $ref: '#/components/schemas/InvoiceUUID'
        version:
          $ref: '#/components/schemas/InvoiceVersion'
        reference:
          $ref: '#/components/schemas/InvoiceReference'
        internalIdentifier:
          $ref: '#/components/schemas/InvoiceInternalIdentifier'
        type:
          $ref: '#/components/schemas/InvoiceType'
        usage:
          $ref: '#/components/schemas/InvoiceUsage'
        paymentType:
          $ref: '#/components/schemas/InvoicePaymentType'
        paymentMethod:
          $ref: '#/components/schemas/InvoicePaymentMethod'
        paymentTerms:
          $ref: '#/components/schemas/InvoicePaymentTerms'
        placeOfIssue:
          $ref: '#/components/schemas/InvoicePlaceOfIssue'
        issuer:
          $ref: '#/components/schemas/InvoiceIssuer'
        isIssuer:
          $ref: '#/components/schemas/InvoiceIsIssuer'
        receiver:
          $ref: '#/components/schemas/InvoiceReceiver'
        isReceiver:
          $ref: '#/components/schemas/InvoiceIsReceiver'
        currency:
          $ref: '#/components/schemas/InvoiceCurrency'
        discount:
          $ref: '#/components/schemas/InvoiceDiscount'
        tax:
          $ref: '#/components/schemas/InvoiceTax'
        subtotal:
          $ref: '#/components/schemas/InvoiceSubtotal'
        creditedAmount:
          $ref: '#/components/schemas/InvoiceCreditedAmount'
        subtotalCreditedAmount:
          $ref: '#/components/schemas/InvoiceSubtotalCreditedAmount'
        total:
          $ref: '#/components/schemas/InvoiceTotal'
        exchangeRate:
          $ref: '#/components/schemas/InvoiceExchangeRate'
        paidAmount:
          $ref: '#/components/schemas/InvoicePaidAmount'
        dueAmount:
          $ref: '#/components/schemas/InvoiceDueAmount'
        lastPaymentDate:
          $ref: '#/components/schemas/InvoiceLastPaymentDate'
        fullyPaidAt:
          $ref: '#/components/schemas/InvoiceFullyPaidAt'
        paymentTermsRaw:
          $ref: '#/components/schemas/InvoicePaymentTermsRaw'
        status:
          $ref: '#/components/schemas/InvoiceStatus'
        pac:
          $ref: '#/components/schemas/InvoicePac'
        issuedAt:
          $ref: '#/components/schemas/InvoiceIssuedAt'
        certifiedAt:
          $ref: '#/components/schemas/InvoiceCertifiedAt'
        cancellationStatus:
          $ref: '#/components/schemas/InvoiceCancellationStatus'
        cancellationProcessStatus:
          $ref: '#/components/schemas/InvoiceCancellationStatusProcess'
        canceledAt:
          $ref: '#/components/schemas/InvoiceCanceledAt'
        relations:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceRelation'
        xml:
          $ref: '#/components/schemas/InvoiceHasXML'
        pdf:
          $ref: '#/components/schemas/InvoiceHasPDF'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    InvoicePaidAmount:
      type: number
      format: float
      description: For a deferred invoice this field state the paid amount. (Applies only for "PPD" invoices).
      example: 53249.8
    InvoiceHasPDF:
      type: boolean
      description: '`true` when the CFDI is available in the PDF format. The file can be downloaded through the [retrieve an invoice CFDI](#operation/GetInvoiceCFDI) operation

        '
    TaxpayerBlacklistStatus:
      type:
      - string
      - 'null'
      description: Show the blacklist status if a taxpayer is found in the list 69-B from SAT
      example: presumed
      enum:
      - presumed
      - dismissed
      - definitive
      - favorable
    InvoicePaymentType:
      type:
      - string
      - 'null'
      enum:
      - PUE
      - PPD
      description: Payment type code from the [c_MetodoPago](/guides/catalogs#c_metodopago) catalog
      example: PUE
      externalDocs:
        url: https://syntage.com/docs/catalogs#c_metodopago
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    InvoiceExchangeRate:
      type:
      - number
      - 'null'
      format: float
      description: Set when *currency* is different than MXN (Mexican Peso).
      example: 19.8
    InvoiceSubtotalCreditedAmount:
      type:
      - number
      - 'null'
      format: float
      description: Subtotal credited amount
      example: 27
    InvoiceRelationInvoice:
      type: string
      format: iri-reference
      description: Invoice IRI reference
      example: /invoices/92106967-2abd-5d64-95c2-4e73d96fb998
    InvoiceVersion:
      type:
      - number
      - 'null'
      format: float
      enum:
      - 3.2
      - 3.3
      - 4.0
      description: CFDI version
      example: 3.3
    InvoiceReference:
      type:
      - string
      - 'null'
      description: An open field for internal identification. Commonly used to identify a branch
      maxLength: 25
      example: Branch-A
    InvoiceIssuer:
      type: object
      properties:
        rfc:
          $ref: '#/components/schemas/TaxpayerID'
        name:
          $ref: '#/components/schemas/TaxpayerName'
        taxRegime:
          $ref: '#/components/schemas/InvoiceIssuerTaxRegime'
        blacklistStatus:
          $ref: '#/components/schemas/TaxpayerBlacklistStatus'
      example:
        rfc: AOM920820BEA
        name: APPLE OPERATIONS MEXICO S.A. DE C.V.
        taxRegime: 601
        blacklistStatus: null
    Tag:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Resource tag IRI reference
          example: /tags/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: Tag
        id:
          $ref: '#/components/schemas/uuid'
        name:
          type: string
          description: Display name for the tag
          example: To be reviewed
        resourceType:
          type: string
          description: Resource type this tag can be applied to
          example: invoice
        color:
          type:
          - string
          - 'null'
          description: Lowercase 7-character hexadecimal color used to display the tag (`#RRGGBB`). Defaults to `#a3aab5` when a tag is created without a color.
          example: '#22c558'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    InvoiceIssuedAt:
      type: string
      format: date-time
      description: Invoice issue date
      example: '2019-01-03T21:10:40.000Z'
    InvoiceCancellationStatus:
      type: string
      enum:
      - Cancelable sin aceptación
      - Cancelable con aceptación
      - No cancelable
      description: Whether or not the invoice can be canceled
      example: Cancelable con aceptación
    TagCollection:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
    TaxpayerName:
      type: string
      minLength: 1
      maxLength: 254
      description: Taxpayer name
      example: Pedro Infante Cruz
    InvoiceCanceledAt:
      type:
      - string
      - 'null'
      format: date-time
      description: Set when *status* is `CANCELADO`
    InvoicePaymentMethod:
      type:
      - string
      - 'null'
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - 08
      - '12'
      - '13'
      - '14'
      - '15'
      - '17'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '28'
      - '29'
      - '30'
      - '31'
      - '99'
      example: '04'
      description: Payment method code from the [c_FormaPago](/guides/catalogs#c_formapago) catalog
      externalDocs:
        url: https://syntage.com/docs/catalogs#c_formapago
    InvoiceInternalIdentifier:
      type:
      - string
      - 'null'
      description: An open field for internal identification. Commonly used to identify an invoice
      maxLength: 40
      example: '00001'
    TagInvoiceInput:
      properties:
        tags:
          type: array
          writeOnly: true
          description: Tags to associate with the invoice; sending this key replaces the existing tag collection
          items:
            type: string
            format: iri-reference
          example:
          - /tags/91106968-1abd-4d64-85c1-4e73d96fb997
    InvoiceSubtotal:
      type: number
      format: float
      description: Subtotal amount
      example: 51349.8
    InvoiceLastPaymentDate:
      type:
      - string
      - 'null'
      format: date-time
      description: This field is populated with the last related payment date (Applies only for "PPD" invoices).
    InvoiceCancellationStatusProcess:
      type:
      - string
      - 'null'
      enum:
      - En proceso
      - Solicitud rechazada
      - Cancelado sin aceptación
      - Cancelado con aceptación
      - Plazo vencido
      description: Set when the cancellation process starts
      example: En proceso
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    InvoiceRelationRelatedInvoice:
      type:
      - string
      - 'null'
      format: iri-reference
      description: Invoice IRI reference
      example: /invoices/92106967-2abd-5d64-95c2-4e73d96fb998
    InvoiceUsage:
      type:
      - string
      - 'null'
      enum:
      - G01
      - G02
      - G03
      - I01
      - I02
      - I03
      - I04
      - I05
      - I06
      - I07
      - I08
      - D01
      - D02
      - D03
      - D04
      - D05
      - D06
      - D07
      - D08
      - D09
      - D10
      - S01
      - P01
      - CP01
      - CN01
      example: G03
      description: Invoice usage code from the [c_UsoCFDI](/guides/catalogs#c_usocfdi) catalog
      externalDocs:
        url: https://syntage.com/docs/catalogs/#c_usocfdi
    InvoicePaymentTermsRaw:
      type:
      - string
      - 'null'
      example: Tarjeta de crédito
      description: The invoice payment terms text exactly as it comes from the invoice, i.e. immediate, 30 days, cash, credit card, etc
    InvoiceDueAmount:
      type: number
      format: float
      description: For a deferred invoice this field state the due amount. (Applies only for "PPD" invoices).
      example: 0
    InvoiceRelation:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Invoice Relation IRI reference
          example: /invoices/relations/93a197e7-6baa-5dc5-bf8d-fb1645a770c1
        '@type':
          type: string
          default: InvoiceRelation
        id:
          $ref: '#/components/schemas/InvoiceRelationID'
        type:
          $ref: '#/components/schemas/InvoiceRelationType'
        invoice:
          $ref: '#/components/schemas/InvoiceRelationInvoice'
        relatedInvoice:
          $ref: '#/components/schemas/InvoiceRelationRelatedInvoice'
        relatedInvoiceUuid:
          $ref: '#/components/schemas/InvoiceRelationRelatedInvoiceUuid'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    InvoiceRelationType:
      type: number
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      description: Invoice relation type code from the [c_TipoRelacion](/guides/catalogs#c_tiporelacion) catalog
      example: 7
      externalDocs:
        url: https://syntage.com/docs/catalogs/#c_tiporelacion
    InvoicePaymentTerms:
      type:
      - string
      - 'null'
      enum:
      - immediate_payment
      - net_0
      - net_15
      - net_30
      - net_45
      - net_90
      - net_120
      example: immediate_payment
      description: Payment terms
    InvoiceReceiver:
      type: object
      properties:
        rfc:
          $ref: '#/components/schemas/TaxpayerID'
        name:
          $ref: '#/components/schemas/TaxpayerName'
        blacklistStatus:
          $ref: '#/components/schemas/TaxpayerBlacklistStatus'
    InvoiceIsIssuer:
      type: boolean
      description: '`true` if the invoice issuer is the entity''s RFC

        '
      example: true
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    InvoiceID:
      type: string
      format: uuid
      description: Invoice ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    InvoiceFullyPaidAt:
      type:
      - string
      - 'null'
      format: date-time
      description: This field is populated when the total debt is paid. (Applies only for "PPD" invoices).
    InvoiceTotal:
      type: number
      format: float
      description: Invoice total amount
      example: 53249.8
    InvoiceCreditedAmount:
      type:
      - number
      - 'null'
      format: float
      description: Credited amount
      example: 31.32
    InvoiceCurrency:
      type:
      - string
      - 'null'
      description: ISO 4217 alphabetic currency code
      minLength: 3
      maxLength: 3
      example: MXN
    InvoicePlaceOfIssue:
      type: string
      example: '01210'
      description: Postal code of the place of issue
    InvoiceType:
      type: string
      enum:
      - I
      - E
      - P
      - N
      - T
      description: Invoice type code from the [c_TipoDeComprobante](/guides/catalogs#c_tipodecomprobante) catalog
      externalDocs:
        url: https://syntage.com/docs/catalogs/#c_tipodecomprobante
    InvoiceCertifiedAt:
      type: string
      format: date-time
      description: Invoice certification date
      example: '2019-01-03T21:10:41.000Z'
  requestBodies:
    TagInvoicesBatch:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TagInvoicesBatchInput'
    TagInvoice:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TagInvoiceInput'
  responses:
    TaxpayerInvoiceCollection:
      description: Taxpayer invoice collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/InvoiceCollection'
    TagInvoicesBatch:
      description: Result of a batch tag operation
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/TagInvoicesBatch'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Invoice:
      description: Invoice resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/Invoice
            - $ref: '#/components/schemas/Invoice'
    InvoiceCollectionItem:
      description: Invoice resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/Invoice
            - $ref: '#/components/schemas/InvoiceCollectionItem'
    InvoiceCFDI:
      description: Invoice CFDI response
      content:
        application/json:
          schema:
            type: object
            example:
              Version: 3.3
              Serie: FA
              Folio: 6787763004
              Fecha: '2019-01-03T21:10:40'
              Sello: pd77md8+...wiMlMQ==
              FormaPago: '04'
              NoCertificado: 1000000502192402
              Certificado: MIIGTDCC...rOSkAn8=
              CondicionesDePago: Tarjeta de Credito
              SubTotal: 45905
              Descuento: 0
              Moneda: MXN
              Total: 53249.8
              TipoDeComprobante: I
              MetodoPago: PUE
              LugarExpedicion: '01210'
              Emisor:
                Rfc: AOM920820BEA
                Nombre: APPLE OPERATIONS MEXICO S.A. DE C.V.
                RegimenFiscal: 601
              Receptor:
                Rfc: PEIC211118IS0
                Nombre: Pedro Infante Cruz
                UsoCFDI: G03
              Conceptos:
                Concepto:
                - ClaveProdServ: 43211503
                  NoIdentificacion: Z0V0
                  Cantidad: 1
                  ClaveUnidad: H87
                  Unidad: '06'
                  Descripcion: MBP 15.4 SPACE GRAY
                  ValorUnitario: 45905
                  Importe: 45905
                  Descuento: 0
                  Impuestos:
                    Traslados:
                      Traslado:
                        Base: 45905
                        Impuesto: '002'
                        TipoFactor: Tasa
                        TasaOCuota: 0.16
                        Importe: 7344.8
                  InformacionAduanera:
                    NumeroPedimento: 19  47  1692  9000010
              Impuestos:
                TotalImpuestosTrasladados: 7344.8
                Traslados:
                  Traslado:
                    Impuesto: '002'
                    TipoFactor: Tasa
                    TasaOCuota: 0.16
                    Importe: 7344.8
              Complemento:
                TimbreFiscalDigital:
                  Version: 1.1
                  UUID: e0a24894-7fbf-48ae-bfb0-efaae30a6319
                  RfcProvCertif: SAT970701NN3
                  FechaTimbrado: '2019-01-03T23:10:40'
                  SelloCFD: pd77md8+...wiMlMQ==
                  NoCertificadoSAT: 1000000514965721
                  SelloSAT: R9TebKU2...q7lDgA==
        text/xml:
          schema:
            type: string
            format: xml
            example: <?xml version="1.0" encoding="utf-8"?><cfdi:Comprobante Version="3.3" Serie="FA" Folio="6787763004" Fecha="2019-01-03T21:10:40">...</cfdi:Comprobante>
          example: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<cfdi:Comprobante Version=\"3.3\" Serie=\"FA\" Folio=\"6787763004\" Fecha=\"2019-01-03T21:10:40\" Sello=\"pd77md8+...wiMlMQ==\" FormaPago=\"04\" NoCertificado=\"00001000000502192402\" Certificado=\"MIIGTDCC...rOSkAn8=\" CondicionesDePago=\"Tarjeta de Credito\" SubTotal=\"45905.00\" Descuento=\"0.00\" Moneda=\"MXN\" Total=\"53249.80\" TipoDeComprobante=\"I\" MetodoPago=\"PUE\" LugarExpedicion=\"01210\" xmlns:cfdi=\"http://www.sat.gob.mx/cfd/3\" xmlns:bfa3=\"http://www.buzonfiscal.com/ns/addenda/bf/3\" xmlns:cce11=\"http://www.sat.gob.mx/ComercioExterior11\" xmlns:pago10=\"http://www.sat.gob.mx/Pagos\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.sat.gob.mx/cfd/3 http://www.sat.gob.mx/sitio_internet/cfd/3/cfdv33.xsd\">\n  <cfdi:Emisor Rfc=\"AOM920820BEA\" Nombre=\"APPLE OPERATIONS MEXICO S.A. DE C.V.\" RegimenFiscal=\"601\" />\n  <cfdi:Receptor Rfc=\"PEIC211118IS0\" Nombre=\"Pedro Infante Cruz\" UsoCFDI=\"G03\" />\n  <cfdi:Conceptos>\n    <cfdi:Concepto ClaveProdServ=\"43211503\" NoIdentificacion=\"Z0V0\" Cantidad=\"1.000\" ClaveUnidad=\"H87\" Unidad=\"06\" Descripcion=\"MBP 15.4 SPACE GRAY\" ValorUnitario=\"45905.00\" Importe=\"45905.00\" Descuento=\"0.00\">\n      <cfdi:Impuestos>\n        <cfdi:Traslados>\n          <cfdi:Traslado Base=\"45905.00\" Impuesto=\"002\" TipoFactor=\"Tasa\" TasaOCuota=\"0.160000\" Importe=\"7344.80\" />\n        </cfdi:Traslados>\n      </cfdi:Impuestos>\n      <cfdi:InformacionAduanera NumeroPedimento=\"19  47  1692  9000010\" />\n    </cfdi:Concepto>\n  </cfdi:Conceptos>\n  <cfdi:Impuestos TotalImpuestosTrasladados=\"7344.80\">\n    <cfdi:Traslados>\n      <cfdi:Traslado Impuesto=\"002\" TipoFactor=\"Tasa\" TasaOCuota=\"0.160000\" Importe=\"7344.80\" />\n    </cfdi:Traslados>\n  </cfdi:Impuestos>\n  <cfdi:Complemento>\n        <tfd:TimbreFiscalDigital xmlns:tfd=\"http://www.sat.gob.mx/TimbreFiscalDigital\" xsi:schemaLocation=\"http://www.sat.gob.mx/TimbreFiscalDigital http://www.sat.gob.mx/sitio_internet/cfd/TimbreFiscalDigital/TimbreFiscalDigitalv11.xsd\" Version=\"1.1\" UUID=\"e0a24894-7fbf-48ae-bfb0-efaae30a6319\" RfcProvCertif=\"SAT970701NN3\" FechaTimbrado=\"2019-01-03T23:10:40\" SelloCFD=\"pd77md8+...wiMlMQ==\" NoCertificadoSAT=\"00001000000514965721\" SelloSAT=\"R9TebKU2...q7lDgA==\" />\n    </cfdi:Complemento>\n</cfdi:Comprobante>\n"
        application/pdf:
          schema:
            type: string
            format: binary
          example: <pdf-binary-data>
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    invoiceId:
      name: id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/InvoiceID'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
