openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Certificates API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Certificates
paths:
  /entities/{entityId}/datasources/mx/sat/certificados:
    get:
      tags:
      - DS MX SAT Certificates
      operationId: GetEntityMxSatCertificates
      summary: List an entity's SAT certificates
      description: 'List SAT certificates associated with an entity.

        These digital certificates are used for electronic signatures and digital sealing in Mexico''s tax system.'
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - $ref: '#/components/parameters/validFromBefore'
      - $ref: '#/components/parameters/validFromStrictlyBefore'
      - $ref: '#/components/parameters/validFromAfter'
      - $ref: '#/components/parameters/validFromStrictlyAfter'
      - $ref: '#/components/parameters/validToBefore'
      - $ref: '#/components/parameters/validToStrictlyBefore'
      - $ref: '#/components/parameters/validToAfter'
      - $ref: '#/components/parameters/validToStrictlyAfter'
      - $ref: '#/components/parameters/orderValidFrom'
      - $ref: '#/components/parameters/orderValidTo'
      - $ref: '#/components/parameters/serialNumberFilter'
      - $ref: '#/components/parameters/certificateTypeFilter'
      responses:
        '200':
          description: SAT Certificates
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Collection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/SatCertificate
                    '@id':
                      example: /entities/91ab5678-1234-5678-9abc-def012345678/datasources/mx/sat/certificados
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/SatCertificate'
                    hydra:search:
                      type: object
                      properties:
                        '@type':
                          type: string
                          default: hydra:IriTemplate
                        hydra:template:
                          example: /entities/91ab5678-1234-5678-9abc-def012345678/datasources/mx/sat/certificados{?validFrom[before],validFrom[strictly_before],validFrom[after],validFrom[strictly_after],validTo[before],validTo[strictly_before],validTo[after],validTo[strictly_after],order[validFrom],order[validTo],serialNumber,type}
                        hydra:variableRepresentation:
                          type: string
                          default: BasicRepresentation
                        hydra:mapping:
                          type: array
                          items:
                            type: object
                            properties:
                              '@type':
                                type: string
                                default: IriTemplateMapping
                              variable:
                                type: string
                              property:
                                type: string
                              required:
                                type: boolean
                                default: false
                          example:
                          - '@type': IriTemplateMapping
                            variable: validFrom[before]
                            property: validFrom
                            required: false
                          - '@type': IriTemplateMapping
                            variable: validFrom[strictly_before]
                            property: validFrom
                            required: false
                          - '@type': IriTemplateMapping
                            variable: validFrom[after]
                            property: validFrom
                            required: false
                          - '@type': IriTemplateMapping
                            variable: validFrom[strictly_after]
                            property: validFrom
                            required: false
                          - '@type': IriTemplateMapping
                            variable: validTo[before]
                            property: validTo
                            required: false
                          - '@type': IriTemplateMapping
                            variable: validTo[strictly_before]
                            property: validTo
                            required: false
                          - '@type': IriTemplateMapping
                            variable: validTo[after]
                            property: validTo
                            required: false
                          - '@type': IriTemplateMapping
                            variable: validTo[strictly_after]
                            property: validTo
                            required: false
                          - '@type': IriTemplateMapping
                            variable: order[validFrom]
                            property: validFrom
                            required: false
                          - '@type': IriTemplateMapping
                            variable: order[validTo]
                            property: validTo
                            required: false
                          - '@type': IriTemplateMapping
                            variable: serialNumber
                            property: serialNumber
                            required: false
                          - '@type': IriTemplateMapping
                            variable: type
                            property: type
                            required: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /datasources/mx/sat/certificados/{id}:
    get:
      tags:
      - DS MX SAT Certificates
      operationId: GetMxSatCertificate
      summary: Retrieve a SAT certificate
      description: 'Retrieve a SAT certificate by ID.

        The `file` property references the certificate file. Use the file download endpoint to retrieve the certificate content.'
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: SAT Certificate
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    '@context':
                      default: /contexts/SatCertificate
                    '@id':
                      example: /datasources/mx/sat/certificados/0197a365-6c09-7019-b072-6c756008cd2d
                - $ref: '#/components/schemas/SatCertificate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    HydraView:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:totalItems:
          type: integer
          description: Total number of items found
          minimum: 0
          example: 1
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:first:
              type: string
              format: iri-reference
              description: First page IRI reference; omitted when there is no pagination
            hydra:next:
              type: string
              format: iri-reference
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              format: iri-reference
              description: Last page IRI reference; omitted when there is no pagination
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    SatCertificate:
      type: object
      required:
      - id
      - link
      - serialNumber
      - type
      - issuer
      - subject
      - validFrom
      - validTo
      - file
      - status
      - revokedAt
      - createdAt
      - updatedAt
      properties:
        '@id':
          type: string
          format: iri-reference
          description: SAT Certificate IRI reference
          example: /datasources/mx/sat/certificados/0197a365-6c09-7019-b072-6c756008cd2d
        '@type':
          type: string
          default: SatCertificate
        id:
          type: string
          format: uuid
          description: SAT certificate ID
          example: 0197a365-6c09-7019-b072-6c756008cd2d
        link:
          type: string
          format: iri-reference
          description: Entity IRI reference
          example: /entities/91ab5678-1234-5678-9abc-def012345678
        serialNumber:
          type: string
          description: Certificate serial number
          example: 00001000000516152485
        type:
          type: string
          enum:
          - efirma
          - csd
          description: Certificate type
          example: efirma
        issuer:
          type: object
          description: Certificate issuer information
          properties:
            id-at-commonName:
              type: string
              example: AUTORIDAD CERTIFICADORA
            id-at-postalCode:
              type: string
              example: '06300'
            id-at-countryName:
              type: string
              example: MX
            id-at-localityName:
              type: string
              example: CUAUHTEMOC
            id-at-streetAddress:
              type: string
              example: AV. HIDALGO 77, COL. GUERRERO
            id-at-organizationName:
              type: string
              example: SERVICIO DE ADMINISTRACION TRIBUTARIA
            id-at-uniqueIdentifier:
              type: string
              example: SAT970701NN3
            pkcs-9-at-emailAddress:
              type: string
              example: contacto.tecnico@sat.gob.mx
            id-at-stateOrProvinceName:
              type: string
              example: CIUDAD DE MEXICO
            pkcs-9-at-unstructuredName:
              type: string
              example: 'responsable: ADMINISTRACION CENTRAL DE SERVICIOS TRIBUTARIOS AL CONTRIBUYENTE'
            id-at-organizationalUnitName:
              type: string
              example: SAT-IES Authority
        subject:
          type: object
          description: Certificate subject information
          properties:
            id-at-name:
              type: string
              example: JUAN MANUEL PEREZ GONZALEZ
            id-at-commonName:
              type: string
              example: JUAN MANUEL PEREZ GONZALEZ
            id-at-countryName:
              type: string
              example: MX
            id-at-serialNumber:
              $ref: '#/components/schemas/TaxpayerID'
            id-at-organizationName:
              type: string
              example: JUAN MANUEL PEREZ GONZALEZ
            id-at-uniqueIdentifier:
              type: string
              example: PEGJ850101AA1
            pkcs-9-at-emailAddress:
              type: string
              example: juan.perez@example.com
        validFrom:
          type: string
          format: date-time
          description: Certificate validity start date
          example: '2022-11-11 19:02:09'
        validTo:
          type: string
          format: date-time
          description: Certificate validity end date
          example: '2026-11-11 19:02:49'
        file:
          allOf:
          - $ref: '#/components/schemas/File'
          - type: object
            description: Certificate file. Use the file download endpoint to retrieve the actual file content.
            example:
              type: sat.certificate.efirma
              resource: /datasources/mx/sat/certificados/0197a365-6c09-7019-b072-6c756008cd2d
              mimeType: application/x-x509-ca-cert
              extension: cer
              filename: 91ab5678-1234-5678-9abc-def012345678-00001000000516152485.cer
        status:
          type:
          - string
          - 'null'
          enum:
          - valid
          - revoked
          - expired
          description: Certificate status
          example: valid
        revokedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time when the certificate was revoked, if applicable
          example: '2023-01-01T12:00:00Z'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    Collection:
      allOf:
      - $ref: '#/components/schemas/HydraView'
      - type: object
        properties:
          hydra:search:
            type: object
            properties:
              '@type':
                type: string
              hydra:template:
                type: string
              hydra:variableRepresentation:
                type: string
              hydra:mapping:
                type: array
                items:
                  type: object
                  properties:
                    '@type':
                      type: string
                    variable:
                      type: string
                    property:
                      type: string
                    required:
                      type: boolean
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
  parameters:
    validFromStrictlyBefore:
      name: validFrom[strictly_before]
      in: query
      description: Filter certificates by validity start date (less than `<`)
      example: '2025-01-01T00:00:00+00:00'
      schema:
        type: string
        format: date-time
    validToBefore:
      name: validTo[before]
      in: query
      description: Filter certificates by validity end date (less than or equal `<=`)
      example: '2030-01-01T00:00:00+00:00'
      schema:
        type: string
        format: date-time
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    certificateTypeFilter:
      name: type
      in: query
      description: Filter certificates by type
      schema:
        type: string
        enum:
        - efirma
        - csd
    orderValidTo:
      name: order[validTo]
      in: query
      description: Order certificates by validity end date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    orderValidFrom:
      name: order[validFrom]
      in: query
      description: Order certificates by validity start date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    validToAfter:
      name: validTo[after]
      in: query
      description: Filter certificates by validity end date (greater than or equal `>=`)
      example: '2025-01-01T00:00:00+00:00'
      schema:
        type: string
        format: date-time
    validFromBefore:
      name: validFrom[before]
      in: query
      description: Filter certificates by validity start date (less than or equal `<=`)
      example: '2025-01-01T00:00:00+00:00'
      schema:
        type: string
        format: date-time
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    validFromAfter:
      name: validFrom[after]
      in: query
      description: Filter certificates by validity start date (greater than or equal `>=`)
      example: '2020-01-01T00:00:00+00:00'
      schema:
        type: string
        format: date-time
    validToStrictlyBefore:
      name: validTo[strictly_before]
      in: query
      description: Filter certificates by validity end date (less than `<`)
      example: '2030-01-01T00:00:00+00:00'
      schema:
        type: string
        format: date-time
    validToStrictlyAfter:
      name: validTo[strictly_after]
      in: query
      description: Filter certificates by validity end date (greater than `>`)
      example: '2025-01-01T00:00:00+00:00'
      schema:
        type: string
        format: date-time
    serialNumberFilter:
      name: serialNumber
      in: query
      description: Filter certificates by serial number (supports partial matching)
      example: 00001000000516152485
      schema:
        type: string
    validFromStrictlyAfter:
      name: validFrom[strictly_after]
      in: query
      description: Filter certificates by validity start date (greater than `>`)
      example: '2020-01-01T00:00:00+00:00'
      schema:
        type: string
        format: date-time
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
