openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Invoice Relations API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Invoice Relations
  description: Invoice relations represent CFDI relationships between invoices, such as substitutions, credit notes, or other SAT-defined relation types. Each relation includes the source invoice, related invoice when Syntage has it, related invoice UUID, and the SAT relation type code.
paths:
  /invoices/relations/{id}:
    get:
      tags:
      - DS MX SAT Invoice Relations
      summary: Retrieve an invoice relation
      operationId: GetInvoiceRelation
      description: Retrieve an invoice relation by ID, including the source invoice, related invoice, related invoice UUID, and SAT relation type.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Invoice relation response
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/InvoiceRelation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{invoiceId}/relations:
    get:
      tags:
      - DS MX SAT Invoice Relations
      summary: List an invoice's relations
      operationId: ListInvoiceRelations
      description: List invoice relations for the requested invoice.
      parameters:
      - $ref: '#/components/parameters/invoiceId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          description: Invoice relations collection response
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/InvoiceRelationCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/invoices/{invoiceId}/relations:
    get:
      tags:
      - DS MX SAT Invoice Relations
      summary: List an entity's invoice relations
      operationId: ListEntityInvoiceRelations
      description: List invoice relations for an invoice within an entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/invoiceId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          description: Entity invoice relations collection response
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/InvoiceRelationCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    InvoiceID:
      type: string
      format: uuid
      description: Invoice ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    InvoiceRelationCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/InvoiceRelation
          '@id':
            default: /invoices/relations
          hydra:member:
            items:
              $ref: '#/components/schemas/InvoiceRelation'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    InvoiceRelationRelatedInvoice:
      type:
      - string
      - 'null'
      format: iri-reference
      description: Invoice IRI reference
      example: /invoices/92106967-2abd-5d64-95c2-4e73d96fb998
    InvoiceRelationRelatedInvoiceUuid:
      type: string
      format: uuid
      description: The related Invoice UUID (Folio fiscal)
      example: def404af-5eef-4112-aa99-d1ec8493b89a
    InvoiceRelationInvoice:
      type: string
      format: iri-reference
      description: Invoice IRI reference
      example: /invoices/92106967-2abd-5d64-95c2-4e73d96fb998
    InvoiceRelationID:
      type: string
      format: uuid
      description: Invoice relation ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    InvoiceRelation:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Invoice Relation IRI reference
          example: /invoices/relations/93a197e7-6baa-5dc5-bf8d-fb1645a770c1
        '@type':
          type: string
          default: InvoiceRelation
        id:
          $ref: '#/components/schemas/InvoiceRelationID'
        type:
          $ref: '#/components/schemas/InvoiceRelationType'
        invoice:
          $ref: '#/components/schemas/InvoiceRelationInvoice'
        relatedInvoice:
          $ref: '#/components/schemas/InvoiceRelationRelatedInvoice'
        relatedInvoiceUuid:
          $ref: '#/components/schemas/InvoiceRelationRelatedInvoiceUuid'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    InvoiceRelationType:
      type: number
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      description: Invoice relation type code from the [c_TipoRelacion](/guides/catalogs#c_tiporelacion) catalog
      example: 7
      externalDocs:
        url: https://syntage.com/docs/catalogs/#c_tiporelacion
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    invoiceId:
      name: id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/InvoiceID'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
