openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Tax Retentions API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Tax Retentions
paths:
  /tax-retentions/{id}:
    get:
      tags:
      - DS MX SAT Tax Retentions
      summary: Retrieve a tax retention
      operationId: GetTaxRetention
      description: Retrieve a tax retention by ID, including issuer, receiver, retained taxes, fiscal period, totals, and file availability.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/TaxRetention'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /tax-retentions/{id}/cfdi:
    get:
      tags:
      - DS MX SAT Tax Retentions
      operationId: GetTaxRetentionCFDI
      summary: Retrieve a tax retention CFDI
      description: 'Retrieve the tax retention CFDI in the requested format.


        By default, this endpoint returns the CFDI parsed from XML to JSON. Set `Accept: text/xml` to retrieve the original XML file, or `Accept: application/pdf` to retrieve the PDF representation when one is available.'
      parameters:
      - $ref: '#/components/parameters/invoiceId'
      - name: Accept
        in: header
        schema:
          type: string
          description: 'This header controls the output format:

            - **text/xml:** Original XML file

            - **application/pdf:** Original PDF file (XML''s visual representation)

            - **application/json:** Original XML file converted to JSON

            '
          enum:
          - text/xml
          - application/pdf
          - application/json
          default: application/json
      responses:
        '200':
          $ref: '#/components/responses/TaxRetentionCFDI'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/tax-retentions:
    get:
      tags:
      - DS MX SAT Tax Retentions
      operationId: ListTaxpayerTaxRetention
      summary: List an entity's tax retentions
      description: List tax retentions extracted for an entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: uuid
        in: query
        description: Filter by UUID/Folio Fiscal (exact match)
        schema:
          $ref: '#/components/schemas/TaxRetentionUUID'
      - name: version
        in: query
        description: Filter by CFDI version (exact match)
        example: 1
        schema:
          $ref: '#/components/schemas/TaxRetentionVersion'
      - name: internalIdentifier
        in: query
        description: Internal identifier (exact match)
        example: 1495494
        schema:
          $ref: '#/components/schemas/TaxRetentionInternalIdentifier'
      - name: pac
        in: query
        description: Filter by certification provider (partial match)
        schema:
          $ref: '#/components/schemas/TaxRetentionPac'
      - name: code
        in: query
        description: Filter by code (exact match)
        schema:
          $ref: '#/components/schemas/TaxRetentionCode'
      - name: issuer.rfc
        in: query
        example: AOM920820BEA
        description: Filter by issuer RFC (partial match)
        schema:
          $ref: '#/components/schemas/TaxpayerID'
      - name: issuer.name
        in: query
        description: Filter by issuer name (partial match)
        example: Apple
        schema:
          $ref: '#/components/schemas/TaxpayerName'
      - name: issuer.curp
        in: query
        description: Filter by issuer CURP (partial match)
        example: APPL91021XXXXXXXXX
        schema:
          $ref: '#/components/schemas/TaxpayerCurp'
      - name: receiver.rfc
        in: query
        description: Filter by receiver RFC (partial match)
        schema:
          $ref: '#/components/schemas/TaxpayerID'
      - name: receiver.name
        in: query
        description: Filter by receiver name (partial match)
        example: Pedro
        schema:
          $ref: '#/components/schemas/TaxpayerName'
      - name: receiver.curp
        in: query
        description: Filter by receiver CURP (partial match)
        example: PESL9127XXXXXXXXXX
        schema:
          $ref: '#/components/schemas/TaxpayerCurp'
      - name: receiver.nationality
        in: query
        description: Filter by receiver nationality (exact match)
        example: foreign
        schema:
          $ref: '#/components/schemas/TaxpayerNationality'
      - name: totalOperationAmount[between]
        in: query
        description: Filter by total operation amount between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: totalOperationAmount[gt]
        in: query
        description: Filter by total operation amount (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: totalOperationAmount[gte]
        in: query
        description: Filter by total operation amount (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: totalOperationAmount[lt]
        in: query
        description: Filter by total operation amount (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: totalOperationAmount[lte]
        in: query
        description: Filter by total operation amount (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: totalTaxableAmount[between]
        in: query
        description: Filter by total taxable amount between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: totalTaxableAmount[gt]
        in: query
        description: Filter by total taxable amount (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: totalTaxableAmount[gte]
        in: query
        description: Filter by total taxable amount (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: totalTaxableAmount[lt]
        in: query
        description: Filter by total taxable amount (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: totalTaxableAmount[lte]
        in: query
        description: Filter by total taxable amount (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: totalExemptAmount[between]
        in: query
        description: Filter by total exempt amount between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: totalExemptAmount[gt]
        in: query
        description: Filter by total exempt amount (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: totalExemptAmount[gte]
        in: query
        description: Filter by total exempt amount (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: totalExemptAmount[lt]
        in: query
        description: Filter by total exempt amount (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: totalExemptAmount[lte]
        in: query
        description: Filter by total exempt amount (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: totalRetainedAmount[between]
        in: query
        description: Filter by total retained amount between two values
        example: 12.99..15.99
        schema:
          type: string
      - name: totalRetainedAmount[gt]
        in: query
        description: Filter by total retained amount (greater than `>`)
        example: 12.99
        schema:
          type: number
      - name: totalRetainedAmount[gte]
        in: query
        description: Filter by total retained amount (greater than or equal `>=`)
        example: 12.99
        schema:
          type: number
      - name: totalRetainedAmount[lt]
        in: query
        description: Filter by total retained amount (less than `<`)
        example: 15.99
        schema:
          type: number
      - name: totalRetainedAmount[lte]
        in: query
        description: Filter by total retained amount (less than or equal `<=`)
        example: 15.99
        schema:
          type: number
      - name: issuedAt[before]
        in: query
        description: Filter by issue date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionIssuedAt'
      - name: issuedAt[strictly_before]
        in: query
        description: Filter by issue date (less than `<`)
        schema:
          $ref: '#/components/schemas/TaxRetentionIssuedAt'
      - name: issuedAt[after]
        in: query
        description: Filter by issue date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionIssuedAt'
      - name: issuedAt[strictly_after]
        in: query
        description: Filter by issue date (greater than `>`)
        schema:
          $ref: '#/components/schemas/TaxRetentionIssuedAt'
      - name: canceledAt[before]
        in: query
        description: Filter by cancellation date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionCanceledAt'
      - name: canceledAt[strictly_before]
        in: query
        description: Filter by cancellation date (less than `<`)
        schema:
          $ref: '#/components/schemas/TaxRetentionCanceledAt'
      - name: canceledAt[after]
        in: query
        description: Filter by cancellation date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionCanceledAt'
      - name: canceledAt[strictly_after]
        in: query
        description: Filter by cancellation date (greater than `>`)
        schema:
          $ref: '#/components/schemas/TaxRetentionCanceledAt'
      - name: certifiedAt[before]
        in: query
        description: Filter by certification date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionCertifiedAt'
      - name: certifiedAt[strictly_before]
        in: query
        description: Filter by certification date (less than `<`)
        schema:
          $ref: '#/components/schemas/TaxRetentionCertifiedAt'
      - name: certifiedAt[after]
        in: query
        description: Filter by certification date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionCertifiedAt'
      - name: certifiedAt[strictly_after]
        in: query
        description: Filter by certification date (greater than `>`)
        schema:
          $ref: '#/components/schemas/TaxRetentionCertifiedAt'
      - name: periodFrom[before]
        in: query
        description: Filter by "period from" date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionPeriodFrom'
      - name: periodFrom[strictly_before]
        in: query
        description: Filter by "period from" date (less than `<`)
        schema:
          $ref: '#/components/schemas/TaxRetentionPeriodFrom'
      - name: periodFrom[after]
        in: query
        description: Filter by "period from" date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionPeriodFrom'
      - name: periodFrom[strictly_after]
        in: query
        description: Filter by "period from" date (greater than `>`)
        schema:
          $ref: '#/components/schemas/TaxRetentionPeriodFrom'
      - name: periodTo[before]
        in: query
        description: Filter by "period to" date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionPeriodTo'
      - name: periodTo[strictly_before]
        in: query
        description: Filter by "period to" date (less than `<`)
        schema:
          $ref: '#/components/schemas/TaxRetentionPeriodTo'
      - name: periodTo[after]
        in: query
        description: Filter by "period to" date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/TaxRetentionPeriodTo'
      - name: periodTo[strictly_after]
        in: query
        description: Filter by "period to" date (greater than `>`)
        schema:
          $ref: '#/components/schemas/TaxRetentionPeriodTo'
      - name: hasXml
        in: query
        description: Filter by tax retentions that have the CFDI available in XML format
        example: true
        schema:
          $ref: '#/components/schemas/TaxRetentionHasXML'
      - name: hasPdf
        in: query
        description: Filter by tax retentions that have the CFDI available in PDF format
        example: true
        schema:
          $ref: '#/components/schemas/TaxRetentionHasPDF'
      - name: order[issuedAt]
        in: query
        description: Order by issue date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[canceledAt]
        in: query
        description: Order by cancellation date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[certifiedAt]
        in: query
        description: Order by certification date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[periodFrom]
        in: query
        description: Order by "period from" date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[periodTo]
        in: query
        description: Order by "period to" date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[totalOperationAmount]
        in: query
        description: Order by total operation amount date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[totalTaxableAmount]
        in: query
        description: Order by total taxable amount date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[totalExemptAmount]
        in: query
        description: Order by total exempt amount date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[totalRetainedAmount]
        in: query
        description: Order by total retained amount date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerTaxRetentionCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    TaxRetentionHasXML:
      type: boolean
      description: '`true` when the CFDI is available in the XML format. The file can be downloaded through the [retrieve a tax retention CFDI](#operation/GetTaxRetentionCFDI) operation

        '
    TaxRetention:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Tax retention IRI reference
          example: /tax-retentions/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: TaxRetention
        id:
          $ref: '#/components/schemas/TaxRetentionID'
        uuid:
          $ref: '#/components/schemas/TaxRetentionUUID'
        version:
          $ref: '#/components/schemas/TaxRetentionVersion'
        code:
          $ref: '#/components/schemas/TaxRetentionCode'
        description:
          $ref: '#/components/schemas/TaxRetentionDescription'
        issuer:
          allOf:
          - $ref: '#/components/schemas/TaxRetentionIssuer'
          - type: object
            example:
              rfc: AOM920820BEA
              name: APPLE OPERATIONS MEXICO S.A. DE C.V.
        receiver:
          $ref: '#/components/schemas/TaxRetentionReceiver'
        pac:
          $ref: '#/components/schemas/TaxRetentionPac'
        internalIdentifier:
          $ref: '#/components/schemas/TaxRetentionInternalIdentifier'
        issuedAt:
          $ref: '#/components/schemas/TaxRetentionIssuedAt'
        certifiedAt:
          $ref: '#/components/schemas/TaxRetentionCertifiedAt'
        canceledAt:
          $ref: '#/components/schemas/TaxRetentionCanceledAt'
        items:
          type: array
          items:
            $ref: '#/components/schemas/TaxRetentionItem'
        totalOperationAmount:
          $ref: '#/components/schemas/TaxRetentionTotalOperationAmount'
        totalTaxableAmount:
          $ref: '#/components/schemas/TaxRetentionTotalTaxableAmount'
        totalExemptAmount:
          $ref: '#/components/schemas/TaxRetentionTotalExemptAmount'
        totalRetainedAmount:
          $ref: '#/components/schemas/TaxRetentionTotalRetainedAmount'
        periodFrom:
          $ref: '#/components/schemas/TaxRetentionPeriodFrom'
        periodTo:
          $ref: '#/components/schemas/TaxRetentionPeriodTo'
        pdf:
          $ref: '#/components/schemas/TaxRetentionHasPDF'
        xml:
          $ref: '#/components/schemas/TaxRetentionHasXML'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    TaxRetentionVersion:
      type:
      - number
      - 'null'
      format: float
      description: CFDI version
      example: 1
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    TaxRetentionItem:
      type: object
      properties:
        baseAmount:
          type: number
          format: float
          description: Tax base amount for this retained tax item
          example: 45905
        taxType:
          type: string
          description: SAT tax type code
          example: '002'
        retainedAmount:
          type: number
          format: float
          description: Amount retained for this tax item
          example: 7344
        paymentType:
          type: string
          description: Whether the retained tax payment is provisional or definitive
          example: provisional
          enum:
          - provisional
          - definitive
    TaxRetentionCanceledAt:
      type:
      - string
      - 'null'
      format: date-time
      description: Set when the tax retention is canceled.
    TaxRetentionPac:
      type: string
      minLength: 12
      maxLength: 12
      description: Certification provider tax ID (Proveedor Autorizado de Certificación)
      example: SAT970701NN3
    TaxRetentionCode:
      type:
      - string
      - 'null'
      example: '25'
      description: Retention type code from the [Clave de retenciones](/guides/catalogs#clave-de-retenciones) catalog
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - '18'
      - '19'
      - '20'
      - '21'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      externalDocs:
        url: https://syntage.com/docs/catalogs#clave-de-retenciones
    TaxRetentionIssuer:
      type: object
      properties:
        rfc:
          $ref: '#/components/schemas/TaxpayerID'
        name:
          $ref: '#/components/schemas/TaxpayerName'
        curp:
          $ref: '#/components/schemas/TaxpayerCurp'
    TaxRetentionTotalTaxableAmount:
      type: number
      format: float
      description: Subtraction between `totalOperationAmount` and `totalExemptAmount`
      example: 43249
    TaxpayerTaxRetentionCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/TaxRetention
          '@id':
            default: /entities/{entityId}/tax-retentions
            example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/tax-retentions
          hydra:member:
            items:
              $ref: '#/components/schemas/TaxRetention'
    TaxRetentionInternalIdentifier:
      type:
      - string
      - 'null'
      description: An open field for internal identification. Commonly used to identify a tax retention
      maxLength: 40
      example: '00001'
    TaxRetentionCertifiedAt:
      type: string
      format: date-time
      description: Tax return certification date
      example: '2019-01-03T21:10:41.000Z'
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    TaxRetentionID:
      type: string
      format: uuid
      description: Tax retention ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    TaxRetentionHasPDF:
      type: boolean
      description: '`true` when the CFDI is available in the PDF format. The file can be downloaded through the [retrieve a tax retention CFDI](#operation/GetTaxRetentionCFDI) operation

        '
    InvoiceID:
      type: string
      format: uuid
      description: Invoice ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    TaxRetentionPeriodFrom:
      type:
      - string
      - 'null'
      format: date-time
      description: Start date for the tax retention period
    TaxpayerName:
      type: string
      minLength: 1
      maxLength: 254
      description: Taxpayer name
      example: Pedro Infante Cruz
    TaxpayerNationality:
      type: string
      description: Indicator to know if the taxpayer is Mexican or from other countries.
      example: national
      enum:
      - national
      - foreign
    TaxRetentionPeriodTo:
      type:
      - string
      - 'null'
      format: date-time
      description: End date for the tax retention period
    TaxRetentionIssuedAt:
      type: string
      format: date-time
      description: Tax retention issue date
      example: '2019-01-03T21:10:40.000Z'
    TaxRetentionReceiver:
      type: object
      properties:
        rfc:
          $ref: '#/components/schemas/TaxpayerID'
        name:
          $ref: '#/components/schemas/TaxpayerName'
        nationality:
          $ref: '#/components/schemas/TaxpayerNationality'
        curp:
          $ref: '#/components/schemas/TaxpayerCurp'
    TaxRetentionTotalOperationAmount:
      type: number
      format: float
      description: Operation amount
      example: 53249.8
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    TaxRetentionTotalRetainedAmount:
      type: number
      format: float
      description: Total retained tax amount
      example: 1550.7
    TaxRetentionUUID:
      type: string
      format: uuid
      description: Tax retention UUID (Folio fiscal)
      example: def404af-5eef-4112-aa99-d1ec8493b89a
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    TaxRetentionTotalExemptAmount:
      type: number
      format: float
      description: Exempt amount
      example: 1000.8
    TaxpayerCurp:
      type: string
      minLength: 18
      maxLength: 18
      description: Unique Population Registry Code (CURP)
      example: PEIC123456ABCDEF12
    TaxRetentionDescription:
      type:
      - string
      - 'null'
      example: Información referente a la fiduciaria
      description: Retention type description when `code` is `25` (other retention types)
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TaxpayerTaxRetentionCollection:
      description: Taxpayer tax retention collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/TaxpayerTaxRetentionCollection'
    TaxRetention:
      description: Tax retention resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/TaxRetention
            - $ref: '#/components/schemas/TaxRetention'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TaxRetentionCFDI:
      description: Tax retention CFDI response
      content:
        application/json:
          schema:
            type: object
            example:
              Version: 1
              Folio: 6787763004
              Sello: pd77md8+...wiMlMQ==
              NumCert: 1000000502192402
              Cert: MIIGTDCC...rOSkAn8=
              FechaExp: '2019-01-03T21:10:40'
              CveRetenc: '26'
              Emisor:
                RFCEmisor: AOM920820BEA
                NomDenRazSocE: APPLE OPERATIONS MEXICO S.A. DE C.V.
              Receptor:
                Nacionalidad: Nacional
                Nacional:
                  RFCRecep: PEIC211118IS0
                  NomDenRazSocR: Pedro Infante Cruz
              Periodo:
                MesIni: 4
                MesFin: 4
                Ejerc: 2020
              Totales:
                MontoTotOperacion: 59.78
                MontoTotGrav: 59.78
                MontoTotExent: 0
                MontoTotRet: 6.56
                ImpRetenidos:
                - BaseRet": 59.78
                  Impuesto": '02'
                  MontoRet": 4.77
                  TipoPagoRet": Pago definitivo
                - BaseRet": 59.78
                  Impuesto": '01'
                  MontoRet": 1.79
                  TipoPagoRet": Pago definitivo
              Complemento:
                TimbreFiscalDigital:
                  Version: 1
                  UUID: e0a24894-7fbf-48ae-bfb0-efaae30a6319
                  FechaTimbrado: '2019-01-03T23:10:40'
                  SelloCFD: pd77md8+...wiMlMQ==
                  NoCertificadoSAT: 1000000514965721
                  SelloSAT: R9TebKU2...q7lDgA==
        text/xml:
          schema:
            type: string
            format: xml
            example: <?xml version="1.0" encoding="utf-8"?><retenciones:Retenciones Version="1.0" FolioInt="246213160" CveRetenc="26">...</retenciones:Retenciones>
          example: "<?xml version=\"1.0\" encoding=\"utf-8\"?> <retenciones:Retenciones xmlns:retenciones=\"http://www.sat.gob.mx/esquemas/retencionpago/1\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:c_retenciones=\"http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos\" xmlns:plataformasTecnologicas=\"http://www.sat.gob.mx/esquemas/retencionpago/1/PlataformasTecnologicas10\" xsi:schemaLocation=\"http://www.sat.gob.mx/esquemas/retencionpago/1 http://www.sat.gob.mx/esquemas/retencionpago/1/retencionpagov1.xsd http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos/catRetenciones.xsd http://www.sat.gob.mx/esquemas/retencionpago/1/PlataformasTecnologicas10 http://www.sat.gob.mx/esquemas/retencionpago/1/PlataformasTecnologicas10/ServiciosPlataformasTecnologicas10.xsd\" Version=\"1.0\" FolioInt=\"246213160\" Sello=\"stOdbSxX.../HIRFQ==\" NumCert=\"0001000000610593657\" Cert=\"MIIGijCC...AHJXMQ==\" FechaExp=\"2020-06-30T23:59:59\" CveRetenc=\"26\">\n  <retenciones:Emisor RFCEmisor=\"AOM920820BEA\" NomDenRazSocE=\"APPLE OPERATIONS MEXICO S.A. DE C.V.\">\n    </retenciones:Emisor>\n  <retenciones:Receptor Nacionalidad=\"Nacional\">\n    <retenciones:Nacional RFCRecep=\"PEIC211118IS0\" NomDenRazSocR=\"Pedro Infante Cruz\">\n        </retenciones:Nacional>\n  </retenciones:Receptor>\n  <retenciones:Periodo MesIni=\"06\" MesFin=\"06\" Ejerc=\"2020\">\n    </retenciones:Periodo>\n  <retenciones:Totales montoTotOperacion=\"4323.49\" montoTotGrav=\"3875.74\" montoTotExent=\"447.75\" montoTotRet=\"116.2722\">\n    <retenciones:ImpRetenidos BaseRet=\"132.99\" Impuesto=\"02\" montoRet=\"39.897\" TipoPagoRet=\"provisional\">\n            </retenciones:ImpRetenidos>\n  </retenciones:Totales>\n  <retenciones:Complemento>\n    <tfd:TimbreFiscalDigital xmlns:tfd=\"http://www.sat.gob.mx/TimbreFiscalDigital\" xsi:schemaLocation=\"http://www.sat.gob.mx/TimbreFiscalDigital http://www.sat.gob.mx/sitio_internet/cfd/TimbreFiscalDigital/TimbreFiscalDigital.xsd\" version=\"1.0\" UUID=\"E0A24894-7FBF-48AE-BFB0-EFAAE30A6319\" FechaTimbrado=\"2020-06-30T23:59:59\" selloCFD=\"stOdbSxX.../HIRFQ==\" noCertificadoSAT=\"00001000000404477432\" selloSAT=\"TP1UvfoF...uwST2Q==\">\n        </tfd:TimbreFiscalDigital>\n    <plataformasTecnologicas:ServiciosPlataformasTecnologicas Version=\"1.0\" Periodicidad=\"01\" NumServ=\"1\" MonTotServSIVA=\"330.35\" TotalIVATrasladado=\"52.91\" TotalIVARetenido=\"26.37\" TotalISRRetenido=\"9.91\" DifIVAEntregadoPrestServ=\"26.54\" MonTotalporUsoPlataforma=\"0.01\">\n      <plataformasTecnologicas:Servicios>\n        <plataformasTecnologicas:DetallesDelServicio FormaPagoServ=\"02\" TipoDeServ=\"02\" FechaServ=\"2020-02-10\" PrecioServSinIVA=\"330.35\">\n          <plataformasTecnologicas:ImpuestosTrasladadosdelServicio Base=\"330.35\" Impuesto=\"02\" TipoFactor=\"Tasa\" TasaCuota=\"0.16\" Importe=\"52.91\">\n                    </plataformasTecnologicas:ImpuestosTrasladadosdelServicio>\n          <plataformasTecnologicas:ComisionDelServicio Importe=\"0.01\">\n                    </plataformasTecnologicas:ComisionDelServicio>\n        </plataformasTecnologicas:DetallesDelServicio>\n      </plataformasTecnologicas:Servicios>\n    </plataformasTecnologicas:ServiciosPlataformasTecnologicas>\n  </retenciones:Complemento>\n</retenciones:Retenciones>\n"
        application/pdf:
          schema:
            type: string
            format: binary
          example: <pdf-binary-data>
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    invoiceId:
      name: id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/InvoiceID'
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
