openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX RUG Garantias API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX RUG Garantias
  description: RUG guarantees are movable collateral guarantees registered in Mexico's Registro Unico de Garantias Mobiliarias.
paths:
  /datasources/rug/garantias/{id}:
    get:
      tags:
      - DS MX RUG Garantias
      operationId: GetRugGarantia
      summary: Retrieve RUG guarantee
      description: Retrieve one RUG guarantee by ID, including collateral details, creditor, grantors, contract dates, and related operations.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/RugGarantia'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/datasources/rug/garantias:
    get:
      tags:
      - DS MX RUG Garantias
      operationId: ListRugGarantias
      summary: List an entity's RUG guarantees
      description: List RUG guarantees extracted for an entity. Use this endpoint after a `rug` extraction finishes to review movable collateral guarantees found for the entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - name: numeroDeGarantia
        in: query
        schema:
          $ref: '#/components/schemas/RugNumeroDeGarantia'
      - name: acreedor
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaAcreedor'
      - name: tipoDeGarantia
        in: query
        schema:
          $ref: '#/components/schemas/RugTipoDeGarantia'
      - name: moneda
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaMoneda'
      - name: descripcionDeLosBienes
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaDescripcionDeLosBienes'
      - name: fechaDeInscripcion[before]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeInscripcion'
      - name: fechaDeInscripcion[strictly_before]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeInscripcion'
      - name: fechaDeInscripcion[after]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeInscripcion'
      - name: fechaDeInscripcion[strictly_after]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeInscripcion'
      - name: fechaDeCancelacion[before]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeCancelacion'
      - name: fechaDeCancelacion[strictly_before]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeCancelacion'
      - name: fechaDeCancelacion[after]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeCancelacion'
      - name: fechaDeCancelacion[strictly_after]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeCancelacion'
      - name: fechaDeCelebracionDelActoOContrato[before]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeCelebracionDelActoOContrato'
      - name: fechaDeCelebracionDelActoOContrato[strictly_before]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeCelebracionDelActoOContrato'
      - name: fechaDeCelebracionDelActoOContrato[after]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeCelebracionDelActoOContrato'
      - name: fechaDeCelebracionDelActoOContrato[strictly_after]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeCelebracionDelActoOContrato'
      - name: fechaDeTerminacionDelActoOContrato[before]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeTerminacionDelActoOContrato'
      - name: fechaDeTerminacionDelActoOContrato[strictly_before]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeTerminacionDelActoOContrato'
      - name: fechaDeTerminacionDelActoOContrato[after]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeTerminacionDelActoOContrato'
      - name: fechaDeTerminacionDelActoOContrato[strictly_after]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaFechaDeTerminacionDelActoOContrato'
      - name: monto[between]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaMonto'
      - name: monto[gt]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaMonto'
      - name: monto[gte]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaMonto'
      - name: monto[lt]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaMonto'
      - name: monto[lte]
        in: query
        schema:
          $ref: '#/components/schemas/RugGarantiaMonto'
      - $ref: '#/components/parameters/createdAtAfter'
      - $ref: '#/components/parameters/createdAtStrictlyAfter'
      - $ref: '#/components/parameters/createdAtBefore'
      - $ref: '#/components/parameters/createdAtStrictlyBefore'
      - $ref: '#/components/parameters/updatedAtAfter'
      - $ref: '#/components/parameters/updatedAtStrictlyAfter'
      - $ref: '#/components/parameters/updatedAtBefore'
      - $ref: '#/components/parameters/updatedAtStrictlyBefore'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/orderUpdatedAt'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerRugGarantiaCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    updatedAtStrictlyAfter:
      name: updatedAt[strictly_after]
      in: query
      description: Filter by the date the resource was last updated (greater than `>`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    updatedAtBefore:
      name: updatedAt[before]
      in: query
      description: Filter by the date the resource was last updated (less than or equal `<=`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    updatedAtAfter:
      name: updatedAt[after]
      in: query
      description: Filter by the date the resource was last updated (greater than or equal `>=`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    createdAtStrictlyAfter:
      name: createdAt[strictly_after]
      in: query
      description: Filter by resource creation date (greater than `>`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    updatedAtStrictlyBefore:
      name: updatedAt[strictly_before]
      in: query
      description: Filter by the date the resource was last updated (less than `<`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    createdAtStrictlyBefore:
      name: createdAt[strictly_before]
      in: query
      description: Filter by resource creation date (less than `<`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    orderCreatedAt:
      name: order[createdAt]
      in: query
      description: Order by resource creation date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    createdAtBefore:
      name: createdAt[before]
      in: query
      description: Filter by resource creation date (less than or equal `<=`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    orderUpdatedAt:
      name: order[updatedAt]
      in: query
      description: Order by resource update date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    createdAtAfter:
      name: createdAt[after]
      in: query
      description: Filter by resource creation date (greater than or equal `>=`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  schemas:
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    RugNumeroDeGarantia:
      type: number
      description: RUG guarantee number
      example: 123456
    RugOperacionFecha:
      type: string
      format: date-time
      description: Date and time of the RUG operation
      example: 2021-10-12 00:00:00+00:00
    RugTipoDeGarantia:
      type: string
      description: Type of movable collateral guarantee
      enum:
      - cesion_de_creditos
      - clausulas_rescisoria_y_de_reserva_de_dominio_en_compraventas_mercantiles
      - constituida_sobre_aeronave
      - constituida_sobre_embarcacion
      - derechos_de_retencion
      - derivada_de_un_arrendamiento_financiero
      - derivada_de_un_credito_de_habilitacion_o_avio
      - derivada_de_un_credito_refaccionario
      - derivada_de_un_fideicomiso_de_garantia
      - derivada_de_una_hipoteca_industrial
      - factoraje_financiero
      - otros_actos_gravamenes_o_afectaciones_sobre_bienes_muebles_en_los_que_el_acreedor_no_mantenga_la_posesion_sobre_los_mismos
      - prenda_ordinaria_mercantil_cuando_el_acreedor_prendario_no_mantenga_la_posesion_sobre_los_bienes
      - prenda_sin_transmision_de_posesion
      - privilegios_especiales
      example: factoraje_financiero
    RugGarantiaID:
      type: string
      format: uuid
      description: RUG guarantee ID
      example: 99c13810-868f-482e-a6f1-878254248d27
    RugGarantiaFechaDeCancelacion:
      type:
      - string
      - 'null'
      format: date-time
      description: Date and time the guarantee was cancelled
      example: 2023-03-12 00:00:00+00:00
    RugOperacionNumeroDeAsiento:
      type: number
      description: RUG seat number for the operation
      example: 12345678
    RugOperacionTipo:
      type: string
      description: Type of RUG operation
      enum:
      - anotacion
      - aviso_preventivo
      - cancelacion
      - cancelacion_de_anotacion
      - certificacion
      - inscripcion
      - modificacion
      - modificacion_de_anotacion
      - rectificacion_de_anotacion
      - rectificacion_por_error
      - renovacion_o_reduccion_de_vigencia
      - renovacion_vigencia_de_anotacion
      - transmision
      example: inscripcion
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    RugGarantiaDescripcionDeLosBienes:
      type: string
      description: Description of the collateral goods covered by the guarantee
      example: Factura con el folio fiscal 99c13810-868f-482e-a6f1-878254248d27
    RugGarantiaOtorgante:
      type: object
      description: Grantor associated with a RUG guarantee
      properties:
        nombre:
          type: string
          description: Grantor name
          example: El Otorgante de Garantías Mobiliarias, S.A. de C.V.
        folioElectronico:
          type: string
          description: Grantor electronic folio
          example: 34011*7
    RugGarantiaFechaDeInscripcion:
      type: string
      format: date-time
      description: Date and time the guarantee was registered
      example: 2021-10-12 19:58:11+00:00
    RugGarantiaFechaDeTerminacionDelActoOContrato:
      type:
      - string
      - 'null'
      format: date-time
      description: Date the act or contract ends
      example: 2022-03-08 00:00:00+00:00
    RugGarantiaFechaDeCelebracionDelActoOContrato:
      type:
      - string
      - 'null'
      format: date-time
      description: Date the act or contract was executed
      example: 2021-03-08 00:00:00+00:00
    RugGarantiaMonto:
      type:
      - number
      - 'null'
      format: float
      description: Guaranteed amount
      example: 12345.67
    RugGarantiaTipoDeLosBienes:
      type: array
      description: Types of collateral goods covered by the guarantee
      items:
        type: string
        enum:
        - acciones_y_obligaciones_bonos_contratos_de_opcion_y_futuros
        - bienes_de_consumo
        - derechos_incluyendo_derechos_de_cobro
        - ganado
        - inventario
        - maquinaria_y_equipo
        - otros
        - productos_agricolas
        - vehiculos_de_motor
        example: derechos_incluyendo_derechos_de_cobro
    RugOperacionPartial:
      type: object
      description: RUG operation summary
      properties:
        '@id':
          type: string
          format: iri-reference
          description: RUG operation IRI reference
          example: /datasources/rug/operaciones/99c13810-868f-482e-a6f1-878254248d27
        '@type':
          type: string
          default: RugOperacion
        id:
          $ref: '#/components/schemas/RugOperacionID'
        numeroDeAsiento:
          $ref: '#/components/schemas/RugOperacionNumeroDeAsiento'
        tipo:
          $ref: '#/components/schemas/RugOperacionTipo'
        fecha:
          $ref: '#/components/schemas/RugOperacionFecha'
        file:
          $ref: '#/components/schemas/RugOperacionFile'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    RugOperacionFile:
      type: string
      format: iri-reference
      description: File resource for the RUG operation document
      example: /files/99c13810-868f-482e-a6f1-878254248d27
    TaxpayerRugGarantiaCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/RugGarantia
          '@id':
            default: /entities/{entityId}/datasources/rug/garantias
            example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/datasources/rug/garantias
          hydra:member:
            items:
              $ref: '#/components/schemas/RugGarantia'
    RugGarantiaMoneda:
      type:
      - string
      - 'null'
      description: Currency reported for the guaranteed amount
      example: peso_mexicano
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    RugGarantiaAcreedor:
      type: string
      description: Creditor name reported for the guarantee
      example: Grupo Financiero Acreedor, S.A.P.I. de C.V., SOFOM E.N.R.
    RugGarantia:
      type: object
      description: RUG guarantee resource
      properties:
        '@id':
          type: string
          format: iri-reference
          description: RUG guarantee IRI reference
          example: /datasources/rug/garantias/99c13810-868f-482e-a6f1-878254248d27
        '@type':
          type: string
          default: RugGarantia
        id:
          $ref: '#/components/schemas/RugGarantiaID'
        numeroDeGarantia:
          $ref: '#/components/schemas/RugNumeroDeGarantia'
        fechaDeInscripcion:
          $ref: '#/components/schemas/RugGarantiaFechaDeInscripcion'
        fechaDeCancelacion:
          $ref: '#/components/schemas/RugGarantiaFechaDeCancelacion'
        otorgantes:
          type: array
          items:
            $ref: '#/components/schemas/RugGarantiaOtorgante'
        acreedor:
          $ref: '#/components/schemas/RugGarantiaAcreedor'
        tipoDeGarantia:
          $ref: '#/components/schemas/RugTipoDeGarantia'
        monto:
          $ref: '#/components/schemas/RugGarantiaMonto'
        moneda:
          $ref: '#/components/schemas/RugGarantiaMoneda'
        tipoDeLosBienes:
          $ref: '#/components/schemas/RugGarantiaTipoDeLosBienes'
        descripcionDeLosBienes:
          $ref: '#/components/schemas/RugGarantiaDescripcionDeLosBienes'
        fechaDeCelebracionDelActoOContrato:
          $ref: '#/components/schemas/RugGarantiaFechaDeCelebracionDelActoOContrato'
        fechaDeTerminacionDelActoOContrato:
          $ref: '#/components/schemas/RugGarantiaFechaDeTerminacionDelActoOContrato'
        operaciones:
          type: array
          items:
            $ref: '#/components/schemas/RugOperacionPartial'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    RugOperacionID:
      type: string
      format: uuid
      description: RUG operación identifier
      example: 99c13810-868f-482e-a6f1-878254248d27
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TaxpayerRugGarantiaCollection:
      description: RUG garantia collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/TaxpayerRugGarantiaCollection'
    RugGarantia:
      description: RUG garantia resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/RugGarantia
            - $ref: '#/components/schemas/RugGarantia'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
