openapi: 3.2.0
info:
  version: '2020-06-28'
  title: DS Syntage Score API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS Syntage Score
  description: Syntage Score calculates an internal score for a company entity from SAT annual tax return data and tax compliance data.
paths:
  /entities/{entityId}/datasources/syntage/score/calculate:
    post:
      tags:
      - DS Syntage Score
      operationId: CalculateSyntageScore
      summary: Start Syntage Score calculation
      description: 'Start an asynchronous Syntage Score calculation for a company entity.


        The entity must have the annual tax return and tax compliance data required by the score model. If a required extraction is still running, wait for it to finish before starting the calculation.'
      parameters:
      - $ref: '#/components/parameters/entityId'
      responses:
        '201':
          $ref: '#/components/responses/DatasourceMXSyntageScoreCalculate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
components:
  responses:
    DatasourceMXSyntageScoreCalculate:
      description: Syntage Score calculation started
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/ld+json:
          schema:
            type: object
            properties:
              '@context':
                type: string
                default: /contexts/Error
              '@type':
                type: string
                default: hydra:Error
              hydra:title:
                type: string
                default: An error occurred
              hydra:description:
                type: string
                description: Concatenated violation messages
                example: 'exampleField: Syntage score already exists.'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
