openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Tax Status API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Tax Status
paths:
  /tax-status:
    get:
      tags:
      - DS MX SAT Tax Status
      operationId: ListTaxStatus
      summary: List tax status records
      description: List tax status records available to your organization.
      parameters:
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          description: Tax status collection response
          content:
            application/ld+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorCollection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/TaxStatus
                    '@id':
                      default: /tax-status
                    hydra:member:
                      items:
                        $ref: '#/components/schemas/TaxStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tax-status/{id}:
    get:
      tags:
      - DS MX SAT Tax Status
      operationId: GetTaxStatus
      summary: Retrieve a tax status
      description: Retrieve a tax status record by ID, including identity, address, activities, regimes, obligations, and the source PDF file.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/TaxStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/tax-status:
    get:
      tags:
      - DS MX SAT Tax Status
      operationId: ListTaxpayerTaxStatus
      summary: List an entity's tax status records
      description: List tax status records extracted for an entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerTaxStatusCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    TaxStatusEconomicActivities:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
            example: Asalariado
          order:
            type: string
            example: '1'
          percentage:
            type: string
            example: '100'
          endDate:
            type: string
            format: date
          startDate:
            type: string
            format: date
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    TaxStatusAddress:
      type: object
      description: Fiscal address from the SAT tax status document
      properties:
        streetReferences:
          type: array
          minItems: 1
          description: Address references or nearby streets
          items:
            type: string
            example: Camiño Galván
        streetNumber:
          type: string
          description: Exterior street number
          example: '8124'
        buildingNumber:
          type: string
          description: Interior building or unit number
          example: '496'
        locality:
          type: string
          description: Locality or city
          example: TUXTLA GUTIERREZ
        municipality:
          type: string
          description: Municipality or delegation
          example: TUXTLA GUTIERREZ
        postalCode:
          type: string
          description: Postal code
          example: '29000'
        state:
          type: string
          description: State
          example: CHIAPAS
        streetName:
          type: string
          description: Street name
          example: Plaza Jorge Luis
        streetType:
          type: string
          description: Street type
          example: Calle
        neighborhood:
          type: string
          description: Neighborhood or colonia
          example: Paseo Ricardo
        statusRaw:
          type: string
          description: Raw SAT address location status
          example: LOCALIZADO - Domicilio Localizado
    TaxpayerTaxStatusCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/TaxStatus
          '@id':
            default: /entities/{entityId}/tax-status
            example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/tax-status
          hydra:member:
            items:
              $ref: '#/components/schemas/TaxStatus'
    TaxStatus:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Tax Status IRI reference
          example: /tax-status/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: TaxStatus
        id:
          type: string
          description: Tax status ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        file:
          allOf:
          - $ref: '#/components/schemas/File'
          - example:
              type: TaxStatus
              resource: /tax-status/91106968-1abd-4d64-85c1-4e73d96fb997
              mimeType: application/pdf
              extension: pdf
              filename: 91106968-1abd-4d64-85c1-4e73d96fb997.pdf
        rfc:
          $ref: '#/components/schemas/TaxpayerID'
        cif:
          type: string
          description: SAT CIF identifier
          example: 20060152922
        person:
          $ref: '#/components/schemas/TaxStatusPerson'
        company:
          $ref: '#/components/schemas/TaxStatusCompany'
        email:
          type: string
          description: Email address reported in the tax status document
          example: my-email@test.com
        phone:
          type: string
          maxLength: 10
          description: Phone number reported in the tax status document
          example: '5512345678'
        address:
          $ref: '#/components/schemas/TaxStatusAddress'
        economicActivities:
          $ref: '#/components/schemas/TaxStatusEconomicActivities'
        taxRegimes:
          $ref: '#/components/schemas/TaxStatusTaxRegimes'
        obligations:
          $ref: '#/components/schemas/TaxStatusObligations'
        startedOperationsAt:
          type: string
          format: date-time
          description: Date when SAT reports the taxpayer started operations
        status:
          type: string
          description: Taxpayer status reported by SAT
          example: Activo
        statusUpdatedAt:
          type: string
          format: date-time
          description: Date when the SAT taxpayer status was last updated
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    TaxStatusObligations:
      type: array
      items:
        type: object
        properties:
          description:
            type: string
            example: Pago definitivo mensual de IVA.
          dueDate:
            type: string
            example: A más tardar el día 17 del mes inmediato posterior al periodo que corresponda.
          endDate:
            type: string
            format: date
          startDate:
            type: string
            format: date
    TaxStatusTaxRegimes:
      type: array
      items:
        type: object
        properties:
          code:
            type: integer
            example: 601
          name:
            type: string
            example: Régimen de Sueldos y Salarios e Ingresos Asimilados a Salarios
          endDate:
            type: string
            format: date
          startDate:
            type: string
            format: date
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    TaxStatusCompany:
      description: Company information. Null when the taxpayer is not a legal person.
      type:
      - object
      - 'null'
      properties:
        legalName:
          type: string
          description: Legal name from the SAT tax status document
          example: APPLE OPERATIONS MEXICO
        tradeName:
          type: string
          description: Trade name from the SAT tax status document
          example: APPLE OPERATIONS MEXICO S.A. DE C.V.
        entityType:
          type: string
          description: Legal entity type from the SAT tax status document
          example: SOCIEDAD ANONIMA DE CAPITAL VARIABLE
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    TaxStatusPerson:
      type:
      - object
      - 'null'
      description: Physical person information extracted from the SAT tax status document. Null when the entity is not a physical person.
      properties:
        fullName:
          type:
          - string
          - 'null'
          description: Full name from the SAT tax status document.
          example: Pedro Infante Cruz
        firstName:
          type:
          - string
          - 'null'
          description: Given name or names from the SAT tax status document.
          example: Pedro
        middleName:
          type:
          - string
          - 'null'
          description: First surname from the SAT tax status document.
          example: Infante
        lastName:
          type:
          - string
          - 'null'
          description: Second surname from the SAT tax status document.
          example: Cruz
        curp:
          type:
          - string
          - 'null'
          description: CURP from the SAT tax status document when present.
          example: PEIC90110UEYBVT85
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TaxpayerTaxStatusCollection:
      description: Taxpayer tax status collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/TaxpayerTaxStatusCollection'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TaxStatus:
      description: Tax status resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/TaxStatus
            - $ref: '#/components/schemas/TaxStatus'
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
