openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Accounts Payable Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Accounts Payable Insight
paths:
  /entities/{entityId}/insights/accounts-payable:
    get:
      tags:
      - Accounts Payable Insight
      operationId: GetAccountsPayableInsight
      summary: Get accounts payable
      description: Returns accounts payable data showing amounts due and paid over time, including cumulative totals.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
          default: '2014-01-01T00:00:00.000Z'
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
          default: now
      - name: options[periodicity]
        in: query
        description: The data set is grouped by this field
        schema:
          enum:
          - daily
          - weekly
          - monthly
          - quarterly
          - yearly
          type: string
          default: monthly
      responses:
        '200':
          description: Accounts Payable
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      nonCumulative:
                        description: Non-cumulative amounts due and paid per period
                        type: array
                        items:
                          $ref: '#/components/schemas/AccountsPayableReceivableRow'
                      cumulative:
                        description: Cumulative amounts due over time
                        type: array
                        items:
                          $ref: '#/components/schemas/AccountsPayableReceivableRow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  schemas:
    AccountsPayableReceivableRow:
      type: object
      properties:
        amount:
          description: Total amount in the original currency
          type: number
          example: 50000.0
        metric:
          description: Total amount in `MXN` for the period.
          type: number
          example: 50000.0
        date:
          description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period.

            '
          deprecated: true
          type: string
          example: '202408'
        dateLabel:
          description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period.

            '
          deprecated: true
          type: string
          example: '202408'
        startDate:
          description: The start date of the period in `YYYY-MM-DD` format.
          type: string
          format: date
          example: '2024-08-01'
        dimension:
          description: 'The dimension value for the row:

            - `"Due"` / `"Vencido"` — outstanding amount for the period (`nonCumulative` only).

            - `"Paid"` / `"Pagado"` — amount paid in the period (`nonCumulative` only).

            - `"Cumulative Due"` / `"Vencido Acumulado"` — running cumulative outstanding amount (`cumulative` only).


            The exact string is localized based on the request''s `Accept-Language` header.

            '
          type: string
          example: Due
        label:
          description: Human-readable display label. Equal to `dimension`.
          type: string
          example: Due
        groupName:
          description: '**Deprecated.** Use `dimension` instead. Same value as `dimension`.

            '
          deprecated: true
          type: string
          example: Due
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
