openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Balance Sheet Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Balance Sheet Insight
paths:
  /entities/{entityId}/insights/metrics/balance-sheet:
    get:
      tags:
      - Balance Sheet Insight
      operationId: GetMetricsBalanceSheet
      summary: Get balance sheet metric
      description: 'Returns the entity''s balance sheet organized in a tree of categories.


        The structure of the category tree changes according to:

        - The tax regime.

        - The year format (the year when SAT changes the structure, i.e., a breaking change)


        Supported tax regimes:

        - **601** (Personas Morales)

        - **612** (PFAE/Personas Físicas con Actividades Empresariales y Profesionales)


        Available formats:

        - **2014** - the data is extracted from annual tax returns transcript **PDFs**.

        - **2022** - the data is extracted from annual tax returns financial statements **XLSXs**


        Notes:

        - The **Comment** field in the response body refers to the content of the **Nota** column in the **XLSX**.

        - The **2021** data may be extracted from the 2022 document (in 2022 format).'
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by fiscal year (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by fiscal year (less than)
        schema:
          type: string
          format: date-time
      - name: X-Insight-Format
        in: header
        schema:
          type: string
          description: 'This header controls year format:

            - **2022:** It will only show data available in that year format

            '
          enum:
          - 2022
      responses:
        '200':
          $ref: '#/components/responses/BalanceSheetMetricInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  schemas:
    TaxRegime:
      type: object
      properties:
        id:
          type: number
          enum:
          - 601
          - 612
          - 621
          - 626
          description: SAT tax regime code
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    BalanceSheetMetricInsight:
      description: Balance sheet response
      content:
        application/json:
          schema:
            allOf:
            - type: object
              properties:
                taxRegime:
                  $ref: '#/components/schemas/TaxRegime'
                data:
                  type: array
                  items:
                    type: object
              example:
                taxRegime:
                  id: 601
                data:
                - '2021':
                    Total: 51234
                    Comment: null
                  '2022':
                    Total: 48961
                    Comment: null
                  '2023':
                    Total: 48790
                    Comment: null
                  category: Activo
                  children:
                  - '2021':
                      Total: 51234
                      Comment: null
                    '2022':
                      Total: 48961
                      Comment: null
                    '2023':
                      Total: 48790
                      Comment: null
                    category: Activo a corto plazo
                    children:
                    - '2021':
                        Total: 51234
                        Comment: null
                      '2022':
                        Total: 48961
                        Comment: null
                      '2023':
                        Total: 48790
                        Comment: null
                      category: Efectivo y equivalentes de efectivo
                      children:
                      - '2021':
                          Total: 51234
                          Comment: null
                        '2022':
                          Total: 48961
                          Comment: null
                        '2023':
                          Total: 48790
                          Comment: null
                        category: Efectivo y equivalentes de efectivo nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Efectivo y equivalentes de efectivo del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Efectivo y equivalentes de efectivo, restringido nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Efectivo y equivalentes de efectivo, restringido del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas de margen
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Efectivo y equivalentes de efectivo
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Instrumentos financieros de negociación
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Inversiones en valores con Instituciones nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Inversiones en valores con Instituciones extranjeras
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Inversiones permanentes en acciones nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Inversiones permanentes en acciones del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Inversiones en instrumentos financieros negociables
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Inversiones en instrumentos financieros para cobrar o vender
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Inversiones en valores con Instituciones
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Clientes
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Clientes nacionales partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Clientes extranjeros partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Clientes nacionales partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Clientes extranjeros partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cartera de crédito vigente
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cartera de crédito vencida
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cartera de crédito con riesgo de crédito etapa 1
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cartera de crédito con riesgo de crédito etapa 2
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cartera de crédito con riesgo de crédito etapa 3
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Estimación preventiva para riesgos crediticios
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Derechos de cobro adquiridos (neto)
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Clientes
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Cuentas y documentos por cobrar
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por cobrar a partes relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por cobrar a partes relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por cobrar a partes no relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por cobrar a partes no relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Deudores por reporto
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Préstamo de valores
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos Financieros Derivados
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Cuentas y documentos por cobrar
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Deudores diversos
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Deudores diversos partes relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Deudores diversos partes relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Deudores diversos partes no relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Deudores diversos partes no relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Deudores por primas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Deudores por primas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Deudores diversos
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Estimación de cuentas incobrables
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Impuesto por recuperar
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Inventarios
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Productos terminados
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Producción en proceso
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Materiales y materias primas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Pérdida por deterioro
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Mercancías en tránsito
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Estimación de obsolescencia
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Bienes adjudicados
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Estimación de bienes adjudicados
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Inventarios
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Pagos anticipados
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Rentas pagadas por anticipado
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipo a proveedores nacionales partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipo a proveedores extranjeros partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipo a proveedores nacionales partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipo a proveedores extranjeros partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Pagos anticipados
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Impuestos pagados por anticipado
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Depósitos en garantía
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Seguros y fianzas pagados por anticipado
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Pagos anticipados
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Activos disponibles para venta
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Otros activos a corto plazo
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Activo a largo plazo
                    children:
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Propiedades, plantas y equipo
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Terrenos
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Construcciones
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Depreciación de construcciones
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Maquinaria
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Depreciación de maquinaria
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Equipo de Transporte
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Depreciación de equipo de transporte
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Mobiliario y Equipo
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Depreciación de mobiliario y equipo
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Equipo de Computo
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Propiedades, plantas y equipo
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Mejoras a inmuebles arrendados
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Depreciación de equipo de computo
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Cuentas y documentos por cobrar a largo plazo
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por cobrar a largo plazo de partes relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por cobrar a largo plazo de partes relacionadas extranjeras
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por cobrar a largo plazo de partes no relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por cobrar a largo plazo de partes no relacionadas extranjeras
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Cuentas y documentos por cobrar a largo plazo
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Anticipo a proveedores
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipo a proveedores nacionales a largo plazo (partes relacionadas)
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipo a proveedores extranjeros a largo plazo (partes relacionadas)
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipo a proveedores nacionales a largo plazo (partes no relacionadas)
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipo a proveedores extranjeros a largo plazo (partes no relacionadas)
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Pagos anticipados
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Impuestos pagados por anticipado
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Depósitos en garantía
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Seguros y fianzas pagados por anticipado
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Anticipo a proveedores
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Crédito mercantil
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Activos intangibles
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Activos intangibles
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Derechos de usufructo adquirido en el ejercicio
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Activos intangibles
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Inversiones en asociadas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Instrumentos financieros por cobrar a largo plazo
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Otros activos a largo plazo
                - '2021':
                    Total: null
                    Comment: null
                  '2022':
                    Total: null
                    Comment: null
                  '2023':
                    Total: null
                    Comment: null
                  category: Pasivo
                  children:
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Pasivo a corto plazo
                    children:
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Préstamos bancarios
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Proveedores
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Proveedores nacionales partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Proveedores del extranjero partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Proveedores nacionales partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Proveedores del extranjero partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Proveedores
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Cuentas y documentos por pagar
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por pagar a partes relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por pagar a partes relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por pagar a partes no relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por pagar a partes no relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Captación tradicional
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Préstamos interbancarios y de otros organismos
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Reservas técnicas (Riesgos en curso, obligaciones pendientes de cumplir, riesgos catastróficos)
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Otras reservas técnicas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Cuentas y documentos por pagar
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Instrumentos financieros
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros nacionales partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros del extranjero partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros nacionales partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros del extranjero partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros derivados con fines de negociación
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros derivados con fines de cobertura
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Ajustes de valuación por cobertura de pasivos financieros
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Instrumentos financieros
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Acreedores diversos
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Acreedores diversos nacionales partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Acreedores diversos del extranjero partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Acreedores diversos nacionales partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Acreedores diversos del extranjero partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Acreedores por reporto
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Préstamo de valores
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Colaterales vendidos o dados en garantía
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Obligaciones en operaciones de bursatilización
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Pasivo por arrendamiento
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Acreedores por liquidación de operaciones
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Acreedores por cuentas de margen
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Acreedores por colaterales recibidos en efectivo
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Reaseguradores y reafianzadores
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Acreedores diversos
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Activos por derecho de uso derivados de arrendamientos
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Impuestos a la utilidad por pagar
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Anticipo de clientes
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipos de clientes partes relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipos de clientes partes relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipos de clientes partes no relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Anticipos de clientes partes no relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Anticipo de clientes
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Provisiones
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Impuestos por pagar
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Impuestos retenidos
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Impuestos trasladados cobrados
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Impuestos trasladados por cobrar
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Impuestos por pagar
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: ISR diferido
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: PTU por pagar
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Impuestos por pagar
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Otros pasivos a corto plazo
                  - '2021':
                      Total: null
                      Comment: null
                    '2022':
                      Total: null
                      Comment: null
                    '2023':
                      Total: null
                      Comment: null
                    category: Pasivo a largo plazo
                    children:
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Cuentas y documentos por pagar a largo plazo
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por pagar a largo plazo de partes relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por pagar a largo plazo de partes relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por pagar a largo plazo de partes no relacionadas nacionales
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Cuentas y documentos por pagar a largo plazo de partes no relacionadas del extranjero
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Cuentas y documentos por pagar a largo plazo
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: 0
                        Comment: null
                      '2023':
                        Total: 0
                        Comment: null
                      category: Instrumentos financieros a largo plazo
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros a largo plazo nacionales de partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros a largo plazo del extranjero de partes relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros a largo plazo nacionales de partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Instrumentos financieros a largo plazo del extranjero de partes no relacionadas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Instrumentos financieros a largo plazo
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Rentas cobradas por anticipado
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Aportaciones para futuros aumentos de capital
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Impuesto a la utilidad diferido por pagar
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Beneficio a empleados
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Provisiones a largo plazo
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Otros pasivos a largo plazo
                - '2021':
                    Total: 51234
                    Comment: null
                  '2022':
                    Total: 48961
                    Comment: null
                  '2023':
                    Total: 48790
                    Comment: null
                  category: Capital
                  children:
                  - '2021':
                      Total: 51234
                      Comment: null
                    '2022':
                      Total: 48961
                      Comment: null
                    '2023':
                      Total: 48790
                      Comment: null
                    category: Capital contable
                    children:
                    - '2021':
                        Total: 51234
                        Comment: null
                      '2022':
                        Total: 51234
                        Comment: null
                      '2023':
                        Total: 51234
                        Comment: null
                      category: Capital Social
                      children:
                      - '2021':
                          Total: 51234
                          Comment: null
                        '2022':
                          Total: 51234
                          Comment: null
                        '2023':
                          Total: 51234
                          Comment: null
                        category: Capital social (aportaciones)
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Capital social (capitalización)
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Aportaciones para futuros aumentos de capital
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Reserva Legal
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Exceso en la actualización del capital
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Insuficiencia en la actualización del capital
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Actualización del capital contable
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Reservas de capital
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Prima en venta de acciones
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Capital social
                    - '2021':
                        Total: 0
                        Comment: null
                      '2022':
                        Total: -1039
                        Comment: null
                      '2023':
                        Total: -1210
                        Comment: null
                      category: Utilidades acumuladas
                      children:
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Utilidades acumuladas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Utilidad neta
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Pérdidas acumuladas
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: -1039
                          Comment: null
                        '2023':
                          Total: -1210
                          Comment: null
                        category: Pérdida neta
                      - '2021':
                          Total: null
                          Comment: null
                        '2022':
                          Total: null
                          Comment: null
                        '2023':
                          Total: null
                          Comment: null
                        category: Sin Utilidades acumuladas
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Otros resultados integrales
                    - '2021':
                        Total: 51234
                        Comment: null
                      '2022':
                        Total: 48961
                        Comment: null
                      '2023':
                        Total: 48790
                        Comment: null
                      category: Participación controladora
                    - '2021':
                        Total: null
                        Comment: null
                      '2022':
                        Total: null
                        Comment: null
                      '2023':
                        Total: null
                        Comment: null
                      category: Participación no controladora
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
