openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Electronic Accounting API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Electronic Accounting
paths:
  /electronic-accounting-records/{id}:
    get:
      tags:
      - DS MX SAT Electronic Accounting
      operationId: GetElectronicAccountingRecord
      summary: Retrieve an electronic accounting record
      description: Retrieve an electronic accounting record by ID, including fiscal period, accounting file type, status, and related files.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/ElectronicAccountingRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/electronic-accounting-records:
    get:
      tags:
      - DS MX SAT Electronic Accounting
      operationId: ListElectronicAccountingRecords
      summary: List an entity's electronic accounting records
      description: List electronic accounting records extracted for an entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: year
        in: query
        description: Filter by year (exact match)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordYear'
      - name: month
        in: query
        description: Filter by month (exact match)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordMonth'
      - name: type
        in: query
        description: Filter by type (exact match)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordType'
      - name: reason
        in: query
        description: Filter by reason (exact match)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordReason'
      - name: fileType
        in: query
        description: Filter by file type (exact match)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordXmlFileType'
      - name: filename
        in: query
        description: Filter by filename (partial match)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordFilename'
      - name: code
        in: query
        description: Filter by code (exact match)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordCode'
      - name: receivedAt[before]
        in: query
        description: Filter by date received (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordReceivedAt'
      - name: receivedAt[strictly_before]
        in: query
        description: Filter by date received (less than `<`)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordReceivedAt'
      - name: receivedAt[after]
        in: query
        description: Filter by date received (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordReceivedAt'
      - name: receivedAt[strictly_after]
        in: query
        description: Filter by date received (greater than `>`)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordReceivedAt'
      - name: status
        in: query
        description: Filter by status (exact match)
        schema:
          $ref: '#/components/schemas/ElectronicAccountingRecordStatus'
      - name: order[year]
        in: query
        description: Order by year
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[month]
        in: query
        description: Order by month
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[receivedAt]
        in: query
        description: Order by date received
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerElectronicAccountingRecordCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    ElectronicAccountingRecordID:
      type: string
      format: uuid
      description: Electronic Accounting Record ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    ElectronicAccountingRecordType:
      type:
      - string
      - 'null'
      example: N
      enum:
      - N
      - C
    ElectronicAccountingRecordFiles:
      type: array
      description: 'Electronic accounting record files: (ack receipt, ack processing, XML and digital stamp)'
      items:
        $ref: '#/components/schemas/File'
    ElectronicAccountingRecordReason:
      type: string
      example: EM
      enum:
      - AF
      - DE
      - CO
      - FC
      - EM
    ElectronicAccountingRecordYear:
      type: integer
      description: Fiscal year
      example: 2022
    ElectronicAccountingRecord:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Electronic Accounting Record IRI reference
          example: /electronic-accounting-records/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: ElectronicAccountingRecord
        id:
          $ref: '#/components/schemas/ElectronicAccountingRecordID'
        year:
          $ref: '#/components/schemas/ElectronicAccountingRecordYear'
        month:
          $ref: '#/components/schemas/ElectronicAccountingRecordMonth'
        type:
          $ref: '#/components/schemas/ElectronicAccountingRecordType'
        reason:
          $ref: '#/components/schemas/ElectronicAccountingRecordReason'
        fileType:
          $ref: '#/components/schemas/ElectronicAccountingRecordXmlFileType'
        filename:
          $ref: '#/components/schemas/ElectronicAccountingRecordFilename'
        code:
          $ref: '#/components/schemas/ElectronicAccountingRecordCode'
        receivedAt:
          $ref: '#/components/schemas/ElectronicAccountingRecordReceivedAt'
        status:
          $ref: '#/components/schemas/ElectronicAccountingRecordStatus'
        files:
          $ref: '#/components/schemas/ElectronicAccountingRecordFiles'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    ElectronicAccountingRecordCode:
      type: string
      example: '0002220300000000124236'
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    ElectronicAccountingRecordStatus:
      type: string
      example: accepted
      enum:
      - received
      - accepted
      - rejected
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    TaxpayerElectronicAccountingRecordCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/ElectronicAccountingRecord
          '@id':
            default: /entities/{entityId}/electronic-accounting-records
            example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/electronic-accounting-records
          hydra:member:
            items:
              $ref: '#/components/schemas/ElectronicAccountingRecord'
    ElectronicAccountingRecordFilename:
      type: string
      example: PEIC211118IS0202203BN.zip
    ElectronicAccountingRecordReceivedAt:
      type: string
      format: date-time
    ElectronicAccountingRecordMonth:
      type: integer
      example: 3
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    ElectronicAccountingRecordXmlFileType:
      type: string
      example: B
      enum:
      - CT
      - B
      - PL
      - XF
      - XC
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TaxpayerElectronicAccountingRecordCollection:
      description: Electronic accounting record collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/TaxpayerElectronicAccountingRecordCollection'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    ElectronicAccountingRecord:
      description: Electronic Accounting Record resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/ElectronicAccountingRecord
            - $ref: '#/components/schemas/ElectronicAccountingRecord'
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
