openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Tags API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Tags
paths:
  /tags:
    get:
      tags:
      - Tags
      operationId: ListTags
      summary: List all tags
      description: List tags that can be assigned to supported resources.
      parameters:
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/TagCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Tags
      operationId: CreateTag
      summary: Create a tag
      description: Create a tag for a supported resource type.
      requestBody:
        $ref: '#/components/requestBodies/TagCreate'
      responses:
        '201':
          $ref: '#/components/responses/Tag'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tags/{id}:
    patch:
      tags:
      - Tags
      operationId: UpdateTag
      summary: Update a tag
      description: Update a tag's display name or color.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      requestBody:
        $ref: '#/components/requestBodies/TagUpdate'
      responses:
        '200':
          $ref: '#/components/responses/Tag'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
      - Tags
      summary: Delete a tag
      operationId: DeleteTag
      description: Delete a tag.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '204':
          description: Tag resource deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    TagUpdateInput:
      type: object
      properties:
        name:
          type: string
          writeOnly: true
          description: Tag name
          example: To be reviewed
        color:
          type:
          - string
          - 'null'
          writeOnly: true
          description: Optional display color as a 7-character hexadecimal string (`#RRGGBB`). Send `null` to clear the color and fall back to the default.
          example: '#22c558'
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    uuid:
      type: string
      format: uuid
      example: e0a24894-7fbf-48ae-bfb0-efaae30a6319
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    Tag:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Resource tag IRI reference
          example: /tags/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: Tag
        id:
          $ref: '#/components/schemas/uuid'
        name:
          type: string
          description: Display name for the tag
          example: To be reviewed
        resourceType:
          type: string
          description: Resource type this tag can be applied to
          example: invoice
        color:
          type:
          - string
          - 'null'
          description: Lowercase 7-character hexadecimal color used to display the tag (`#RRGGBB`). Defaults to `#a3aab5` when a tag is created without a color.
          example: '#22c558'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    TagCreateInput:
      type: object
      required:
      - name
      - resourceType
      properties:
        name:
          type: string
          writeOnly: true
          description: Tag name
          example: To be reviewed
        resourceType:
          type: string
          writeOnly: true
          description: Resource type this tag can be applied to
          example: invoice
        color:
          type:
          - string
          - 'null'
          writeOnly: true
          description: Optional display color as a 7-character hexadecimal string (`#RRGGBB`). Omit or send `null` to fall back to the default color.
          example: '#22c558'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
  responses:
    TagCollection:
      description: Tag collection response
      content:
        application/ld+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/CursorCollection'
            - type: object
              properties:
                '@context':
                  default: /contexts/Tag
                '@id':
                  example: /tags
                hydra:member:
                  items:
                    $ref: '#/components/schemas/Tag'
    Tag:
      description: Tag resource response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/Tag'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  requestBodies:
    TagCreate:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TagCreateInput'
    TagUpdate:
      required: true
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/TagUpdateInput'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
