openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Invoice Payments API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Invoice Payments
  description: 'Invoice payments are derived from payment receipt CFDIs, also known as type `P` invoices. A payment receipt records payment activity for a previously issued deferred invoice.


    Each payment belongs to a batch payment and the invoice it was applied to. Syntage updates the related invoice''s `paidAmount`, `dueAmount`, and `fullyPaidAt` fields based on the received payments.'
paths:
  /invoices/payments:
    get:
      tags:
      - DS MX SAT Invoice Payments
      summary: List all invoice payments
      description: List invoice payments applied to deferred invoices.
      operationId: ListPayment
      parameters:
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InvoicePaymentCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/payments/{id}:
    get:
      tags:
      - DS MX SAT Invoice Payments
      summary: Retrieve an invoice payment
      operationId: GetInvoicePayment
      description: Retrieve an invoice payment by ID, including the deferred invoice, batch payment, amount, balance, and cancellation status.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/InvoicePayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{id}/payments:
    get:
      tags:
      - DS MX SAT Invoice Payments
      summary: List an invoice's payments
      description: List payments applied to the requested invoice.
      operationId: ListInvoicePayment
      parameters:
      - $ref: '#/components/parameters/invoiceId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InvoicePaymentCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/invoices/payments:
    get:
      tags:
      - DS MX SAT Invoice Payments
      summary: List an entity's invoice payments
      operationId: ListTaxpayerPayment
      description: List invoice payments extracted for an entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InvoicePaymentCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    InvoicePaymentInvoiceUUID:
      type: string
      format: uuid
      description: The related deferred Invoice UUID (Folio fiscal)
      example: def404af-5eef-4112-aa99-d1ec8493b89a
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    InvoicePaymentExchangeRate:
      type:
      - number
      - 'null'
      format: float
      description: Set when `currency` is different than MXN
      example: 19.8
    InvoicePaymentInstallment:
      type: integer
      description: Payment installment
      example: 3
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    InvoicePaymentCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/InvoicePayment
          '@id':
            default: /invoices/payments
          hydra:member:
            items:
              $ref: '#/components/schemas/InvoicePayment'
    InvoiceID:
      type: string
      format: uuid
      description: Invoice ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    InvoicePaymentOutstandingBalance:
      type: number
      format: float
      description: Due amount after a payment
      example: 0
    InvoicePaymentAmount:
      type: number
      format: float
      description: Payment amount applied to the invoice. Positive values are income for the entity; negative values are expenses.
      example: -53249.8
    InvoicePayment:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Invoice Payment IRI reference
          example: /invoices/payments/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: InvoicePayment
        id:
          $ref: '#/components/schemas/InvoicePaymentID'
        invoiceUuid:
          $ref: '#/components/schemas/InvoicePaymentInvoiceUUID'
        currency:
          $ref: '#/components/schemas/InvoicePaymentCurrency'
        exchangeRate:
          $ref: '#/components/schemas/InvoicePaymentExchangeRate'
        installment:
          $ref: '#/components/schemas/InvoicePaymentInstallment'
        previousBalance:
          $ref: '#/components/schemas/InvoicePaymentPreviousBalance'
        amount:
          $ref: '#/components/schemas/InvoicePaymentAmount'
        outstandingBalance:
          $ref: '#/components/schemas/InvoicePaymentOutstandingBalance'
        invoice:
          type: string
          format: iri-reference
          description: Invoice IRI reference
          example: /invoices/91106968-1abd-4d64-85c1-4e73d96fb997
        batchPayment:
          type: string
          format: iri-reference
          description: Invoice Batch Payment IRI reference
          example: /invoices/batch-payments/91106968-1abd-4d64-85c1-4e73d96fb997
        canceledAt:
          $ref: '#/components/schemas/InvoicePaymentCanceledAt'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    InvoicePaymentCurrency:
      type:
      - string
      - 'null'
      description: ISO 4217 alphabetic currency code
      minLength: 3
      maxLength: 3
      example: MXN
    InvoicePaymentPreviousBalance:
      type: number
      format: float
      description: Amount before the payment
      example: 53249.8
    InvoicePaymentCanceledAt:
      type:
      - string
      - 'null'
      format: date-time
      description: Set when the payment invoice is canceled
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    InvoicePaymentID:
      type: string
      format: uuid
      description: Invoice Payment ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
  parameters:
    invoiceId:
      name: id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/InvoiceID'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    InvoicePaymentCollection:
      description: Invoice payment collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/InvoicePaymentCollection'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    InvoicePayment:
      description: Invoice payment resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/InvoicePayment
            - $ref: '#/components/schemas/InvoicePayment'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
