openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Credit Notes API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Credit Notes
paths:
  /invoices/credit-notes:
    get:
      tags:
      - DS MX SAT Credit Notes
      summary: List credit notes
      description: List credit notes related to invoices.
      operationId: ListInvoiceCreditNotes
      parameters:
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceCreditNoteCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/invoices/credit-notes:
    get:
      tags:
      - DS MX SAT Credit Notes
      summary: List an entity's credit notes
      description: List credit notes extracted for an entity.
      operationId: ListEntityInvoiceCreditNotes
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceCreditNoteCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/credit-notes/{id}:
    get:
      tags:
      - DS MX SAT Credit Notes
      summary: Retrieve an invoice credit note
      operationId: GetInvoiceCreditNote
      description: Retrieve a credit note by ID, including the issued invoice, applied invoice, amount, and cancellation status.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceCreditNote'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{invoiceId}/issued-credit-notes:
    get:
      tags:
      - DS MX SAT Credit Notes
      summary: List an invoice's issued credit notes
      operationId: ListInvoiceIssuedCreditNotes
      description: List credit notes issued by the requested invoice.
      parameters:
      - $ref: '#/components/parameters/invoiceId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceCreditNoteCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{invoiceId}/applied-credit-notes:
    get:
      tags:
      - DS MX SAT Credit Notes
      summary: List an invoice's applied credit notes
      operationId: ListInvoiceAppliedCreditNotes
      description: List credit notes applied to the requested invoice.
      parameters:
      - $ref: '#/components/parameters/invoiceId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceCreditNoteCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    invoiceId:
      name: id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/InvoiceID'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  responses:
    InvoiceCreditNoteCollection:
      description: Invoice credit notes collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/InvoiceCreditNoteCollection'
    InvoiceCreditNote:
      description: Invoice credit note resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/InvoiceCreditNote
            - $ref: '#/components/schemas/InvoiceCreditNote'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    InvoiceCreditNoteCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/InvoiceCreditNote
          '@id':
            default: /invoices/credit-notes
          hydra:member:
            items:
              $ref: '#/components/schemas/InvoiceCreditNote'
    InvoiceID:
      type: string
      format: uuid
      description: Invoice ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    InvoiceCreditNote:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Invoice Credit Note IRI reference
          example: /invoices/credit-notes/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: InvoiceCreditNote
        id:
          type: string
          format: uuid
          description: Invoice credit note ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        appliedInvoice:
          type:
          - string
          - 'null'
          format: iri-reference
          description: Invoice receiving the credit
          example: /invoices/91106968-1abd-4d64-85c1-4e73d96fb997
        issuedInvoice:
          type:
          - string
          - 'null'
          format: iri-reference
          description: Invoice issuing the credit
          example: /invoices/91106968-1abd-4d64-85c1-4e73d96fb997
        appliedInvoiceUuid:
          type:
          - string
          - 'null'
          format: uuid
          description: UUID of the invoice receiving the credit
          example: def404af-5eef-4112-aa99-d1ec8493b89a
        issuedInvoiceUuid:
          type:
          - string
          - 'null'
          format: uuid
          description: UUID of the invoice issuing the credit
          example: def404af-5eef-4112-aa99-d1ec8493b89a
        issuedAt:
          type: string
          format: date-time
          description: Date and time the credit note invoice was issued
        proportionalRate:
          type:
          - number
          - 'null'
          format: float
          description: The proportional credit rate applied to the target invoice.
          example: 19.8
        amount:
          type: number
          format: float
          description: The total amount of credits applied to the target invoice.
          example: 19.8
        subTotalAmount:
          type:
          - number
          - 'null'
          format: float
          description: Credit note subtotal before taxes
          example: 19.8
        issuedInvoiceTotal:
          type: number
          format: float
          description: The total of the issued invoice that was taken into account to calculate the credit.
          example: 19.8
        canceledAt:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time the credit note invoice was canceled
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
