openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Exports API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Exports
  description: Export invoices data in csv or xlsx format. Once you requested an export you will receive an email with a link to download the generated file
paths:
  /exports:
    post:
      tags:
      - Exports
      operationId: CreateExport
      summary: Export data
      description: Create an export from a supported collection URI. The export runs asynchronously and returns an Export resource that can be polled until the generated file is ready.
      requestBody:
        $ref: '#/components/requestBodies/CreateExport'
      responses:
        '202':
          $ref: '#/components/responses/Export'
        '400':
          $ref: '#/components/responses/ConstraintViolation'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /exports/{id}:
    get:
      tags:
      - Exports
      operationId: GetExport
      summary: Retrieve an export
      description: Retrieve an export and its current processing status. When the export is finished, the response includes the generated file metadata.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/Export'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    Export:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Export IRI reference
          example: /exports/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: Export
        id:
          type: string
          format: uuid
          description: Unique export ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        file:
          description: Generated file once the export is finished
          allOf:
          - $ref: '#/components/schemas/File'
          - example:
              type: Export
              resource: /exports/91106968-1abd-4d64-85c1-4e73d96fb997
              mimeType: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
              extension: xlsx
              filename: 9137b53f-1abd-4d64-85c1-4e73d96fb997.xlsx
        format:
          type: string
          description: Output format for the generated export file
          example: xlsx
        fileTypes:
          type: array
          description: File types to include in the export
          minItems: 1
          example:
          - invoice.cfdi.xml
          items:
            type: string
            enum:
            - invoice.cfdi.xml
            - invoice.cfdi.pdf
            - tax_return.transcript
            - tax_return.ack_receipt
            - tax_return.payment_receipt
            example: invoice.cfdi.xml
        status:
          type: string
          description: Current export processing status
          enum:
          - pending
          - running
          - finished
          - failed
          example: pending
        uri:
          type: string
          description: API collection URI used as the export source
          example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/invoices?usage=I01&type=I&issuedAt[after]=2020-01-01
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
  responses:
    Export:
      description: Export resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/Export
            - $ref: '#/components/schemas/Export'
    ConstraintViolation:
      description: Validation error
      content:
        application/ld+json:
          schema:
            type: object
            properties:
              '@context':
                type: string
                default: /contexts/ConstraintViolation
              '@type':
                type: string
                default: ConstraintViolation
              hydra:title:
                type: string
                default: An error occurred
              hydra:description:
                type: string
                description: Concatenated violation messages
                example: 'exampleField: This value should not be blank.'
              violations:
                type: array
                items:
                  type: object
                  properties:
                    propertyPath:
                      type: string
                      description: Property access path
                      example: exampleField
                    message:
                      type: string
                      description: Validaton error message
                      example: This value should not be blank.
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  requestBodies:
    CreateExport:
      required: true
      content:
        application/json:
          examples:
            invoices:
              summary: Invoice example
              value:
                format: xlsx
                fileTypes:
                - invoice.cfdi.xml
                uri: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/invoices?usage=I01&type=I&issuedAt[after]=2020-01-01
            tax_returns:
              summary: Tax returns example
              value:
                format: csv
                fileTypes:
                - tax_return.transcript
                uri: /entities/{entityId}/tax-returns?itemsPerPage=20
            report_pdf:
              summary: Report PDF example
              value:
                format: pdf
                uri: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/reports/9137b53f-1abd-4d64-85c1-4e73d96fb997?exporting=true
          schema:
            type: object
            required:
            - format
            - uri
            properties:
              format:
                description: 'Format for your resource.


                  Use `csv`, `xlsx`, or `json` for collection URIs. Use `pdf` only for report URIs.'
                type: string
                enum:
                - csv
                - xlsx
                - json
                - pdf
              fileTypes:
                description: Optional file types to include in the generated export; when specified, the export file includes the matching content files
                type: array
                minItems: 1
                example:
                - invoice.cfdi.xml
                items:
                  type: string
                  enum:
                  - invoice.cfdi.xml
                  - invoice.cfdi.pdf
                  - tax_return.transcript
                  - tax_return.ack_receipt
                  - tax_return.payment_receipt
              uri:
                description: 'Collection URI used as the export source. Use the collection''s query parameters to filter the exported data.

                  ### Example of supported URI values

                  - /entities

                  - /entities/{entityId}/tax-returns

                  - /entities/{entityId}/invoices

                  - /entities/{entityId}/reports/{reportId}?exporting=true

                  ### Report PDF exports

                  To download a [report](/api-reference/reports/list-reports) as a PDF document, set `format` to `pdf` and `uri` to `/entities/{entityId}/reports/{reportId}?exporting=true`. The `exporting=true` query parameter is required; other query parameters are not supported on report URIs. The generated PDF renders the report the same way the dashboard shows it to the requesting user, in the user''s locale and over the report''s default period, and is attached to the export as a `report.insights.pdf` file.'
                type: string
                example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/invoices?issuedAt[after]=2026-01-01
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
