openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Invoicing Concentration Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Invoicing Concentration Insight
paths:
  /entities/{entityId}/insights/invoicing-concentration:
    get:
      tags:
      - Invoicing Concentration Insight
      operationId: GetInvoicingConcentrationInsight
      summary: Get invoicing concentration
      deprecated: true
      description: '**Deprecated:** Use Get Customer Invoice Concentration or Get Vendor Invoice Concentration instead.


        Returns the concentration (top 10) of issued or received invoices.'
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
      - name: options[type]
        in: query
        description: Filter by issued or received invoices
        required: true
        schema:
          type: string
          enum:
          - issued
          - received
      responses:
        '200':
          $ref: '#/components/responses/InvoicingConcentrationInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    InvoicingConcentrationInsight:
      description: Entity invoicing concentration
      content:
        application/json:
          schema:
            allOf:
            - type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Counterparty name
                  total:
                    type: string
                    description: Total amount of transactions
                  share:
                    type: string
                    description: Share in percentage of all invoicing
                  transactions:
                    type: array
                    description: Monthly transaction amount
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        total:
                          type: number
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
