openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Invoicing Blacklist Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Invoicing Blacklist Insight
paths:
  /entities/{entityId}/insights/invoicing-blacklist:
    get:
      tags:
      - Invoicing Blacklist Insight
      operationId: GetInvoicingBlacklistInsight
      summary: Get invoicing blacklist
      description: Counterparties on the SAT's Artículo 69-B blacklist (EFOS/EDOS) that the entity has transacted with, split between issuers and receivers.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Invoicing Blacklist
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      issued:
                        type: array
                        items:
                          type: object
                          properties:
                            invoices:
                              type: integer
                              description: Number of invoices in which the blacklisted taxpayer was found
                              format: int32
                              example: 1
                            taxpayer:
                              type: object
                              properties:
                                rfc:
                                  $ref: '#/components/schemas/TaxpayerID'
                                name:
                                  $ref: '#/components/schemas/TaxpayerName'
                                blacklistStatus:
                                  $ref: '#/components/schemas/BlacklistStatusSource'
                      received:
                        type: array
                        items:
                          type: object
                          properties:
                            invoices:
                              type: integer
                              description: Number of invoices in which the blacklisted taxpayer was found
                              format: int32
                              example: 1
                            taxpayer:
                              type: object
                              properties:
                                rfc:
                                  $ref: '#/components/schemas/TaxpayerID'
                                name:
                                  $ref: '#/components/schemas/TaxpayerName'
                                blacklistStatus:
                                  $ref: '#/components/schemas/BlacklistStatusSource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  schemas:
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    TaxpayerName:
      type: string
      minLength: 1
      maxLength: 254
      description: Taxpayer name
      example: Pedro Infante Cruz
    BlacklistStatusSource:
      type: string
      description: The blacklist status if a taxpayer is found in the list 69-B from SAT
      enum:
      - presumed
      - dismissed
      - definitive
      - favorable
      example: presumed
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
