openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Government Customers Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Government Customers Insight
paths:
  /entities/{entityId}/insights/government-customers:
    get:
      tags:
      - Government Customers Insight
      operationId: GetGovernmentCustomersInsight
      summary: Get government customers
      description: The entity's customers that are Mexican federal, state, or municipal government bodies, with each one's share of total revenue.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Government customer
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        rfc:
                          $ref: '#/components/schemas/TaxpayerID'
                        fullName:
                          type: string
                          description: Legal name
                          example: Pemex Exploración y Producción
                        shortName:
                          type: string
                          description: Short name
                          example: CATR
                        website:
                          type: string
                          description: Company website URL
                          example: example.com
                        total:
                          type: number
                          description: Total amount of all transactions
                          example: 14786.68
                        percentageOfSales:
                          type: number
                          description: Percentage of sales
                          example: 0.8379419130473325
                        transactions:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                description: Date period
                                example: 2014-01
                              total:
                                type: integer
                                description: Total amount of all transactions in given date period
                                format: int32
                                example: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
