openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Invoice Batch Payments API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Invoice Batch Payments
  description: 'Batch payments are derived from payment receipt CFDIs, also known as type `P` invoices. A batch payment groups one or more invoice payments into the payment transaction reported by SAT.


    Use batch payments when you need payment-method, currency, bank, operation-number, or transaction-level information. Use invoice payments when you need the amount applied to a specific deferred invoice.'
paths:
  /invoices/batch-payments:
    get:
      tags:
      - DS MX SAT Invoice Batch Payments
      summary: List all invoice batch payments
      description: List batch payments derived from invoice payment receipts.
      operationId: ListBatchPayment
      parameters:
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceBatchPaymentCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/batch-payments/{id}:
    get:
      tags:
      - DS MX SAT Invoice Batch Payments
      summary: Retrieve an invoice batch payment
      operationId: GetInvoiceBatchPayment
      description: Retrieve an invoice batch payment by ID, including transaction-level payment details and related invoice payments.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceBatchPayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{id}/batch-payments:
    get:
      tags:
      - DS MX SAT Invoice Batch Payments
      summary: List an invoice's batch payments
      description: List all batch payments related to the requested invoice.
      operationId: ListInvoiceBatchPayments
      parameters:
      - $ref: '#/components/parameters/invoiceId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceBatchPaymentCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    InvoiceBatchPaymentCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/InvoiceBatchPayment
          '@id':
            default: /invoices/batch-payments
          hydra:member:
            items:
              $ref: '#/components/schemas/InvoiceBatchPayment'
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    InvoiceDiscount:
      type: number
      format: float
      description: Discount amount
      example: 3324
    InvoiceBatchPaymentPaymentMethod:
      type:
      - string
      - 'null'
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - 08
      - '12'
      - '13'
      - '14'
      - '15'
      - '17'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '28'
      - '29'
      - '30'
      - '31'
      - '99'
      example: '04'
      description: Payment method code from the [c_FormaPago](/guides/catalogs#c_formapago) catalog
      externalDocs:
        url: https://syntage.com/docs/catalogs#c_formapago
    InvoiceBatchPaymentID:
      type: string
      format: uuid
      description: Invoice batch payment ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    InvoiceBatchPaymentOperationNumber:
      type: string
      description: Operation identifier, it is used for internal control
      example: '1022030122'
    InvoicePaymentAmount:
      type: number
      format: float
      description: Payment amount applied to the invoice. Positive values are income for the entity; negative values are expenses.
      example: -53249.8
    InvoicePayment:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Invoice Payment IRI reference
          example: /invoices/payments/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: InvoicePayment
        id:
          $ref: '#/components/schemas/InvoicePaymentID'
        invoiceUuid:
          $ref: '#/components/schemas/InvoicePaymentInvoiceUUID'
        currency:
          $ref: '#/components/schemas/InvoicePaymentCurrency'
        exchangeRate:
          $ref: '#/components/schemas/InvoicePaymentExchangeRate'
        installment:
          $ref: '#/components/schemas/InvoicePaymentInstallment'
        previousBalance:
          $ref: '#/components/schemas/InvoicePaymentPreviousBalance'
        amount:
          $ref: '#/components/schemas/InvoicePaymentAmount'
        outstandingBalance:
          $ref: '#/components/schemas/InvoicePaymentOutstandingBalance'
        invoice:
          type: string
          format: iri-reference
          description: Invoice IRI reference
          example: /invoices/91106968-1abd-4d64-85c1-4e73d96fb997
        batchPayment:
          type: string
          format: iri-reference
          description: Invoice Batch Payment IRI reference
          example: /invoices/batch-payments/91106968-1abd-4d64-85c1-4e73d96fb997
        canceledAt:
          $ref: '#/components/schemas/InvoicePaymentCanceledAt'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    InvoiceHasXML:
      type: boolean
      description: '`true` when the CFDI is available in the XML format. The file can be downloaded through the [retrieve an invoice CFDI](#operation/GetInvoiceCFDI) operation

        '
    InvoicePaymentPreviousBalance:
      type: number
      format: float
      description: Amount before the payment
      example: 53249.8
    InvoicePac:
      type: string
      minLength: 12
      maxLength: 12
      description: Certification provider tax ID (Proveedor Autorizado de Certificación)
      example: SAT970701NN3
    InvoiceUUID:
      type: string
      format: uuid
      description: Invoice UUID (Folio fiscal)
      example: def404af-5eef-4112-aa99-d1ec8493b89a
    InvoicePaymentID:
      type: string
      format: uuid
      description: Invoice Payment ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    InvoiceIsReceiver:
      type: boolean
      description: '`true` if the invoice receiver is the entity''s RFC

        '
      example: false
    Invoice:
      allOf:
      - $ref: '#/components/schemas/InvoiceCollectionItem'
      - type: object
      properties:
        tags:
          $ref: '#/components/schemas/TagCollection'
    InvoiceTax:
      type: number
      format: float
      description: Tax amount
      example: 5224
    InvoiceBatchPaymentAmount:
      type: number
      format: float
      description: Total batch payment amount. Positive values are income for the entity; negative values are expenses.
      example: -53249.8
    InvoiceStatus:
      type: string
      enum:
      - VIGENTE
      - CANCELADO
      description: Whether the invoice is active or canceled
      example: VIGENTE
    InvoiceRelationRelatedInvoiceUuid:
      type: string
      format: uuid
      description: The related Invoice UUID (Folio fiscal)
      example: def404af-5eef-4112-aa99-d1ec8493b89a
    InvoiceRelationID:
      type: string
      format: uuid
      description: Invoice relation ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    uuid:
      type: string
      format: uuid
      example: e0a24894-7fbf-48ae-bfb0-efaae30a6319
    InvoiceIssuerTaxRegime:
      type:
      - number
      - 'null'
      enum:
      - 601
      - 603
      - 605
      - 606
      - 607
      - 608
      - 609
      - 610
      - 611
      - 612
      - 614
      - 615
      - 616
      - 620
      - 621
      - 622
      - 623
      - 624
      - 625
      - 626
      - 628
      - 629
      - 630
      description: Tax regime code from the [c_RegimenFiscal](/guides/catalogs#c_regimenfiscal) catalog
      example: 601
      externalDocs:
        url: https://syntage.com/docs/catalogs#c_regimenfiscal
    InvoiceCollectionItem:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Invoice IRI reference
          example: /invoices/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: Invoice
        id:
          $ref: '#/components/schemas/InvoiceID'
        uuid:
          $ref: '#/components/schemas/InvoiceUUID'
        version:
          $ref: '#/components/schemas/InvoiceVersion'
        reference:
          $ref: '#/components/schemas/InvoiceReference'
        internalIdentifier:
          $ref: '#/components/schemas/InvoiceInternalIdentifier'
        type:
          $ref: '#/components/schemas/InvoiceType'
        usage:
          $ref: '#/components/schemas/InvoiceUsage'
        paymentType:
          $ref: '#/components/schemas/InvoicePaymentType'
        paymentMethod:
          $ref: '#/components/schemas/InvoicePaymentMethod'
        paymentTerms:
          $ref: '#/components/schemas/InvoicePaymentTerms'
        placeOfIssue:
          $ref: '#/components/schemas/InvoicePlaceOfIssue'
        issuer:
          $ref: '#/components/schemas/InvoiceIssuer'
        isIssuer:
          $ref: '#/components/schemas/InvoiceIsIssuer'
        receiver:
          $ref: '#/components/schemas/InvoiceReceiver'
        isReceiver:
          $ref: '#/components/schemas/InvoiceIsReceiver'
        currency:
          $ref: '#/components/schemas/InvoiceCurrency'
        discount:
          $ref: '#/components/schemas/InvoiceDiscount'
        tax:
          $ref: '#/components/schemas/InvoiceTax'
        subtotal:
          $ref: '#/components/schemas/InvoiceSubtotal'
        creditedAmount:
          $ref: '#/components/schemas/InvoiceCreditedAmount'
        subtotalCreditedAmount:
          $ref: '#/components/schemas/InvoiceSubtotalCreditedAmount'
        total:
          $ref: '#/components/schemas/InvoiceTotal'
        exchangeRate:
          $ref: '#/components/schemas/InvoiceExchangeRate'
        paidAmount:
          $ref: '#/components/schemas/InvoicePaidAmount'
        dueAmount:
          $ref: '#/components/schemas/InvoiceDueAmount'
        lastPaymentDate:
          $ref: '#/components/schemas/InvoiceLastPaymentDate'
        fullyPaidAt:
          $ref: '#/components/schemas/InvoiceFullyPaidAt'
        paymentTermsRaw:
          $ref: '#/components/schemas/InvoicePaymentTermsRaw'
        status:
          $ref: '#/components/schemas/InvoiceStatus'
        pac:
          $ref: '#/components/schemas/InvoicePac'
        issuedAt:
          $ref: '#/components/schemas/InvoiceIssuedAt'
        certifiedAt:
          $ref: '#/components/schemas/InvoiceCertifiedAt'
        cancellationStatus:
          $ref: '#/components/schemas/InvoiceCancellationStatus'
        cancellationProcessStatus:
          $ref: '#/components/schemas/InvoiceCancellationStatusProcess'
        canceledAt:
          $ref: '#/components/schemas/InvoiceCanceledAt'
        relations:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceRelation'
        xml:
          $ref: '#/components/schemas/InvoiceHasXML'
        pdf:
          $ref: '#/components/schemas/InvoiceHasPDF'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    InvoicePaidAmount:
      type: number
      format: float
      description: For a deferred invoice this field state the paid amount. (Applies only for "PPD" invoices).
      example: 53249.8
    InvoicePaymentInstallment:
      type: integer
      description: Payment installment
      example: 3
    InvoiceHasPDF:
      type: boolean
      description: '`true` when the CFDI is available in the PDF format. The file can be downloaded through the [retrieve an invoice CFDI](#operation/GetInvoiceCFDI) operation

        '
    TaxpayerBlacklistStatus:
      type:
      - string
      - 'null'
      description: Show the blacklist status if a taxpayer is found in the list 69-B from SAT
      example: presumed
      enum:
      - presumed
      - dismissed
      - definitive
      - favorable
    InvoicePaymentType:
      type:
      - string
      - 'null'
      enum:
      - PUE
      - PPD
      description: Payment type code from the [c_MetodoPago](/guides/catalogs#c_metodopago) catalog
      example: PUE
      externalDocs:
        url: https://syntage.com/docs/catalogs#c_metodopago
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    InvoiceExchangeRate:
      type:
      - number
      - 'null'
      format: float
      description: Set when *currency* is different than MXN (Mexican Peso).
      example: 19.8
    InvoiceSubtotalCreditedAmount:
      type:
      - number
      - 'null'
      format: float
      description: Subtotal credited amount
      example: 27
    InvoiceRelationInvoice:
      type: string
      format: iri-reference
      description: Invoice IRI reference
      example: /invoices/92106967-2abd-5d64-95c2-4e73d96fb998
    InvoiceBatchPaymentDate:
      type:
      - string
      - 'null'
      format: date-time
      description: Payment date
    InvoicePaymentInvoiceUUID:
      type: string
      format: uuid
      description: The related deferred Invoice UUID (Folio fiscal)
      example: def404af-5eef-4112-aa99-d1ec8493b89a
    InvoiceBatchPaymentExchangeRate:
      type:
      - number
      - 'null'
      format: float
      description: Set when `currency` is different than MXN
      example: 19.8
    InvoiceVersion:
      type:
      - number
      - 'null'
      format: float
      enum:
      - 3.2
      - 3.3
      - 4.0
      description: CFDI version
      example: 3.3
    InvoiceBatchPaymentBeneficiaryBank:
      type: object
      properties:
        rfc:
          type: string
          maxLength: 13
          description: Beneficiary bank RFC
          example: IIA040805DZ4
        accountNumber:
          type: string
          maxLength: 50
          description: Beneficiary bank account number
          example: '12343453245633'
    InvoiceReference:
      type:
      - string
      - 'null'
      description: An open field for internal identification. Commonly used to identify a branch
      maxLength: 25
      example: Branch-A
    InvoiceIssuer:
      type: object
      properties:
        rfc:
          $ref: '#/components/schemas/TaxpayerID'
        name:
          $ref: '#/components/schemas/TaxpayerName'
        taxRegime:
          $ref: '#/components/schemas/InvoiceIssuerTaxRegime'
        blacklistStatus:
          $ref: '#/components/schemas/TaxpayerBlacklistStatus'
      example:
        rfc: AOM920820BEA
        name: APPLE OPERATIONS MEXICO S.A. DE C.V.
        taxRegime: 601
        blacklistStatus: null
    InvoicePaymentExchangeRate:
      type:
      - number
      - 'null'
      format: float
      description: Set when `currency` is different than MXN
      example: 19.8
    Tag:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Resource tag IRI reference
          example: /tags/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: Tag
        id:
          $ref: '#/components/schemas/uuid'
        name:
          type: string
          description: Display name for the tag
          example: To be reviewed
        resourceType:
          type: string
          description: Resource type this tag can be applied to
          example: invoice
        color:
          type:
          - string
          - 'null'
          description: Lowercase 7-character hexadecimal color used to display the tag (`#RRGGBB`). Defaults to `#a3aab5` when a tag is created without a color.
          example: '#22c558'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    InvoiceIssuedAt:
      type: string
      format: date-time
      description: Invoice issue date
      example: '2019-01-03T21:10:40.000Z'
    InvoiceCancellationStatus:
      type: string
      enum:
      - Cancelable sin aceptación
      - Cancelable con aceptación
      - No cancelable
      description: Whether or not the invoice can be canceled
      example: Cancelable con aceptación
    TagCollection:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
    TaxpayerName:
      type: string
      minLength: 1
      maxLength: 254
      description: Taxpayer name
      example: Pedro Infante Cruz
    InvoiceCanceledAt:
      type:
      - string
      - 'null'
      format: date-time
      description: Set when *status* is `CANCELADO`
    InvoiceBatchPaymentCanceledAt:
      type:
      - string
      - 'null'
      format: date-time
      description: Date and time the payment receipt invoice was canceled
    InvoicePaymentCurrency:
      type:
      - string
      - 'null'
      description: ISO 4217 alphabetic currency code
      minLength: 3
      maxLength: 3
      example: MXN
    InvoicePaymentMethod:
      type:
      - string
      - 'null'
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - 08
      - '12'
      - '13'
      - '14'
      - '15'
      - '17'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '28'
      - '29'
      - '30'
      - '31'
      - '99'
      example: '04'
      description: Payment method code from the [c_FormaPago](/guides/catalogs#c_formapago) catalog
      externalDocs:
        url: https://syntage.com/docs/catalogs#c_formapago
    InvoiceInternalIdentifier:
      type:
      - string
      - 'null'
      description: An open field for internal identification. Commonly used to identify an invoice
      maxLength: 40
      example: '00001'
    InvoiceSubtotal:
      type: number
      format: float
      description: Subtotal amount
      example: 51349.8
    InvoiceLastPaymentDate:
      type:
      - string
      - 'null'
      format: date-time
      description: This field is populated with the last related payment date (Applies only for "PPD" invoices).
    InvoiceBatchPaymentPayerBank:
      type: object
      properties:
        rfc:
          type: string
          maxLength: 13
          description: Payer bank RFC
          example: IIA040805DZ4
        name:
          type: string
          maxLength: 300
          description: Payer bank name
          example: International bank
        accountNumber:
          type: string
          maxLength: 50
          description: Payer bank account number
          example: '12343453245633'
    InvoiceCancellationStatusProcess:
      type:
      - string
      - 'null'
      enum:
      - En proceso
      - Solicitud rechazada
      - Cancelado sin aceptación
      - Cancelado con aceptación
      - Plazo vencido
      description: Set when the cancellation process starts
      example: En proceso
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    InvoicePaymentCanceledAt:
      type:
      - string
      - 'null'
      format: date-time
      description: Set when the payment invoice is canceled
    InvoiceRelationRelatedInvoice:
      type:
      - string
      - 'null'
      format: iri-reference
      description: Invoice IRI reference
      example: /invoices/92106967-2abd-5d64-95c2-4e73d96fb998
    InvoiceUsage:
      type:
      - string
      - 'null'
      enum:
      - G01
      - G02
      - G03
      - I01
      - I02
      - I03
      - I04
      - I05
      - I06
      - I07
      - I08
      - D01
      - D02
      - D03
      - D04
      - D05
      - D06
      - D07
      - D08
      - D09
      - D10
      - S01
      - P01
      - CP01
      - CN01
      example: G03
      description: Invoice usage code from the [c_UsoCFDI](/guides/catalogs#c_usocfdi) catalog
      externalDocs:
        url: https://syntage.com/docs/catalogs/#c_usocfdi
    InvoicePaymentTermsRaw:
      type:
      - string
      - 'null'
      example: Tarjeta de crédito
      description: The invoice payment terms text exactly as it comes from the invoice, i.e. immediate, 30 days, cash, credit card, etc
    InvoiceDueAmount:
      type: number
      format: float
      description: For a deferred invoice this field state the due amount. (Applies only for "PPD" invoices).
      example: 0
    InvoiceRelation:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Invoice Relation IRI reference
          example: /invoices/relations/93a197e7-6baa-5dc5-bf8d-fb1645a770c1
        '@type':
          type: string
          default: InvoiceRelation
        id:
          $ref: '#/components/schemas/InvoiceRelationID'
        type:
          $ref: '#/components/schemas/InvoiceRelationType'
        invoice:
          $ref: '#/components/schemas/InvoiceRelationInvoice'
        relatedInvoice:
          $ref: '#/components/schemas/InvoiceRelationRelatedInvoice'
        relatedInvoiceUuid:
          $ref: '#/components/schemas/InvoiceRelationRelatedInvoiceUuid'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    InvoiceRelationType:
      type: number
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      description: Invoice relation type code from the [c_TipoRelacion](/guides/catalogs#c_tiporelacion) catalog
      example: 7
      externalDocs:
        url: https://syntage.com/docs/catalogs/#c_tiporelacion
    InvoicePaymentTerms:
      type:
      - string
      - 'null'
      enum:
      - immediate_payment
      - net_0
      - net_15
      - net_30
      - net_45
      - net_90
      - net_120
      example: immediate_payment
      description: Payment terms
    InvoiceReceiver:
      type: object
      properties:
        rfc:
          $ref: '#/components/schemas/TaxpayerID'
        name:
          $ref: '#/components/schemas/TaxpayerName'
        blacklistStatus:
          $ref: '#/components/schemas/TaxpayerBlacklistStatus'
    InvoiceIsIssuer:
      type: boolean
      description: '`true` if the invoice issuer is the entity''s RFC

        '
      example: true
    InvoiceBatchPayment:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Invoice Batch Payment IRI reference
          example: /invoices/batch-payments/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: InvoiceBatchPayment
        id:
          $ref: '#/components/schemas/InvoiceBatchPaymentID'
        date:
          $ref: '#/components/schemas/InvoiceBatchPaymentDate'
        paymentMethod:
          $ref: '#/components/schemas/InvoiceBatchPaymentPaymentMethod'
        currency:
          $ref: '#/components/schemas/InvoiceBatchPaymentCurrency'
        exchangeRate:
          $ref: '#/components/schemas/InvoiceBatchPaymentExchangeRate'
        amount:
          $ref: '#/components/schemas/InvoiceBatchPaymentAmount'
        operationNumber:
          $ref: '#/components/schemas/InvoiceBatchPaymentOperationNumber'
        beneficiaryBank:
          $ref: '#/components/schemas/InvoiceBatchPaymentBeneficiaryBank'
        payerBank:
          $ref: '#/components/schemas/InvoiceBatchPaymentPayerBank'
        payments:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/InvoicePayment'
        invoice:
          allOf:
          - $ref: '#/components/schemas/Invoice'
        canceledAt:
          $ref: '#/components/schemas/InvoiceBatchPaymentCanceledAt'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    InvoiceBatchPaymentCurrency:
      type:
      - string
      - 'null'
      description: ISO 4217 alphabetic currency code
      minLength: 3
      maxLength: 3
      example: MXN
    InvoiceID:
      type: string
      format: uuid
      description: Invoice ID
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
    InvoicePaymentOutstandingBalance:
      type: number
      format: float
      description: Due amount after a payment
      example: 0
    InvoiceFullyPaidAt:
      type:
      - string
      - 'null'
      format: date-time
      description: This field is populated when the total debt is paid. (Applies only for "PPD" invoices).
    InvoiceTotal:
      type: number
      format: float
      description: Invoice total amount
      example: 53249.8
    InvoiceCreditedAmount:
      type:
      - number
      - 'null'
      format: float
      description: Credited amount
      example: 31.32
    InvoiceCurrency:
      type:
      - string
      - 'null'
      description: ISO 4217 alphabetic currency code
      minLength: 3
      maxLength: 3
      example: MXN
    InvoicePlaceOfIssue:
      type: string
      example: '01210'
      description: Postal code of the place of issue
    InvoiceType:
      type: string
      enum:
      - I
      - E
      - P
      - N
      - T
      description: Invoice type code from the [c_TipoDeComprobante](/guides/catalogs#c_tipodecomprobante) catalog
      externalDocs:
        url: https://syntage.com/docs/catalogs/#c_tipodecomprobante
    InvoiceCertifiedAt:
      type: string
      format: date-time
      description: Invoice certification date
      example: '2019-01-03T21:10:41.000Z'
  responses:
    InvoiceBatchPayment:
      description: Invoice batch payment resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/InvoiceBatchPayment
            - $ref: '#/components/schemas/InvoiceBatchPayment'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    InvoiceBatchPaymentCollection:
      description: Invoice batch payment collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/InvoiceBatchPaymentCollection'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    invoiceId:
      name: id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/InvoiceID'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
