openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Shareholders API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Shareholders
  description: Shareholders represent individuals or entities that own shares in a company.
paths:
  /entities/{entityId}/shareholders:
    get:
      tags:
      - Shareholders
      operationId: GetEntityShareholders
      summary: List an entity's shareholders
      description: Lists shareholders connected to an entity. Use filters to narrow the list by shareholder type, name, or RFC.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - $ref: '#/components/parameters/shareholderTypeFilter'
      - $ref: '#/components/parameters/shareholderNameFilter'
      - $ref: '#/components/parameters/shareholderRfcFilter'
      - $ref: '#/components/parameters/orderName'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/orderUpdatedAt'
      responses:
        '200':
          description: Shareholders
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CursorCollection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/Shareholder
                    '@id':
                      example: /entities/91ab5678-1234-5678-9abc-def012345678/shareholders
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/Shareholder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Shareholders
      operationId: CreateEntityShareholder
      summary: Create a new shareholder for an entity
      description: Adds manually collected shareholder information to an entity. The request creates a shareholder and the relation between that shareholder and the entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - relationType
              - name
              - shares
              properties:
                relationType:
                  allOf:
                  - $ref: '#/components/schemas/ShareholderRelationType'
                  description: Direction of the ownership relation to create
                name:
                  type: string
                  description: Name of the shareholder to add
                  example: JUAN MANUEL PEREZ GONZALEZ
                rfc:
                  allOf:
                  - $ref: '#/components/schemas/TaxpayerID'
                  description: Shareholder RFC, when available
                shares:
                  type: number
                  format: float
                  description: Number of shares represented by the relation
                  minimum: 0.01
                  example: 1500.5
      responses:
        '201':
          description: Shareholder created successfully
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Shareholder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /shareholders:
    get:
      tags:
      - Shareholders
      operationId: GetShareholders
      summary: List shareholders
      description: Lists shareholders available to the organization. Use this endpoint when you need to search shareholders across entities.
      parameters:
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - $ref: '#/components/parameters/shareholderTypeFilter'
      - $ref: '#/components/parameters/shareholderNameFilter'
      - $ref: '#/components/parameters/shareholderRfcFilter'
      - $ref: '#/components/parameters/orderName'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/orderUpdatedAt'
      responses:
        '200':
          description: Shareholders
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CursorCollection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/Shareholder
                    '@id':
                      example: /shareholders
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/Shareholder'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /shareholders/{id}:
    get:
      tags:
      - Shareholders
      operationId: GetShareholder
      summary: Retrieve a shareholder
      description: Retrieves one shareholder by ID.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Shareholder
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Shareholder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Shareholders
      operationId: UpdateShareholder
      summary: Update a shareholder
      description: Updates manually editable shareholder details such as the shareholder's name or RFC.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Updated shareholder name
                  example: JUAN MANUEL PEREZ GONZALEZ
                rfc:
                  allOf:
                  - $ref: '#/components/schemas/TaxpayerID'
                  description: Updated shareholder RFC
      responses:
        '200':
          description: Shareholder updated successfully
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Shareholder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Shareholders
      operationId: DeleteShareholder
      summary: Delete a shareholder
      description: Deletes a shareholder resource.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '204':
          description: Shareholder deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /shareholders/{shareholderId}/relations:
    get:
      tags:
      - Shareholders
      operationId: GetShareholderRelations
      summary: List shareholder relations
      description: Lists the entity relationships for a shareholder, including ownership direction and available ownership details.
      parameters:
      - $ref: '#/components/parameters/shareholderId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - $ref: '#/components/parameters/relationTypeFilter'
      - $ref: '#/components/parameters/orderShares'
      - $ref: '#/components/parameters/orderOwnership'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/orderUpdatedAt'
      responses:
        '200':
          description: Shareholder Relations
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CursorCollection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/ShareholderRelation
                    '@id':
                      example: /shareholders/91ab5678-1234-5678-9abc-def012345678/relations
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/ShareholderRelation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /shareholders/{shareholderId}/relations/{relationId}:
    get:
      tags:
      - Shareholders
      operationId: GetShareholderRelation
      summary: Retrieve a shareholder relation
      description: Retrieves one shareholder relation by ID.
      parameters:
      - $ref: '#/components/parameters/shareholderId'
      - $ref: '#/components/parameters/relationId'
      responses:
        '200':
          description: Shareholder Relation
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ShareholderRelation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Shareholders
      operationId: UpdateShareholderRelation
      summary: Update a shareholder relation
      description: Updates manually editable details for a shareholder relation, such as the number of shares.
      parameters:
      - $ref: '#/components/parameters/shareholderId'
      - $ref: '#/components/parameters/relationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - shares
              properties:
                shares:
                  type: number
                  format: float
                  description: Updated number of shares represented by the relation
                  minimum: 0.01
                  example: 1500.5
      responses:
        '200':
          description: Shareholder Relation updated successfully
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ShareholderRelation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Shareholders
      operationId: DeleteShareholderRelation
      summary: Delete a shareholder relation
      description: Deletes the relationship between a shareholder and an entity.
      parameters:
      - $ref: '#/components/parameters/shareholderId'
      - $ref: '#/components/parameters/relationId'
      responses:
        '204':
          description: Shareholder Relation deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /shareholders/{shareholderId}/relations/{relationId}/promote:
    post:
      tags:
      - Shareholders
      operationId: PromoteShareholderRelation
      summary: Promote a shareholder relation
      description: Promotes a shareholder relation by creating an entity for the shareholder. Use this when the shareholder should be managed as its own person or company in your integration.
      parameters:
      - $ref: '#/components/parameters/shareholderId'
      - $ref: '#/components/parameters/relationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - rfc
              properties:
                name:
                  type: string
                  description: Name to use for the new promoted entity
                  example: JUAN MANUEL PEREZ GONZALEZ
                rfc:
                  allOf:
                  - $ref: '#/components/schemas/TaxpayerID'
                  description: RFC to use for the new promoted entity
                datasources:
                  type: array
                  description: Datasources to connect when creating the promoted entity
                  items:
                    type: object
                    required:
                    - name
                    properties:
                      name:
                        type: string
                        enum:
                        - sat
                        - buro_de_credito
                        - rpc
                        - rug
                        - bil
                        description: Datasource to connect to the promoted entity
                        example: sat
                    additionalProperties: true
                  example:
                  - name: sat
                  - name: rpc
      responses:
        '200':
          description: Shareholder Relation promoted successfully
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  '@type':
                    type: string
                    default: ShareholderPromotedResponse
                  id:
                    type: string
                    format: uuid
                    description: ID of the created entity
                    example: 91ab5678-1234-5678-9abc-def012345678
                  name:
                    type: string
                    description: Name of the created entity
                    example: JUAN MANUEL PEREZ GONZALEZ
                  rfc:
                    allOf:
                    - $ref: '#/components/schemas/TaxpayerID'
                    description: RFC assigned to the created entity
                  onboardingUrl:
                    type:
                    - string
                    - 'null'
                    description: Onboarding URL for the created entity, when onboarding is required
                    example: https://api.syntage.com/onboarding/91ab5678-1234-5678-9abc-def012345678
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /shareholders/{shareholderId}/relations/{relationId}/sources:
    get:
      tags:
      - Shareholders
      operationId: GetShareholderRelationSources
      summary: List shareholder relation sources
      description: Lists the sources that support a shareholder relation, such as manually entered data or information sourced from RPC.
      parameters:
      - $ref: '#/components/parameters/shareholderId'
      - $ref: '#/components/parameters/relationId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      - $ref: '#/components/parameters/sourceNameFilter'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/orderUpdatedAt'
      responses:
        '200':
          description: Shareholder Relation Sources
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CursorCollection'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/ShareholderRelationsSource
                    '@id':
                      example: /shareholders/91ab5678-1234-5678-9abc-def012345678/relations/82cd9012-3456-7890-abcd-ef1234567890/sources
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/ShareholderRelationsSource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /shareholders/{shareholderId}/relations/{relationId}/sources/{sourceId}:
    get:
      tags:
      - Shareholders
      operationId: GetShareholderRelationSource
      summary: Retrieve a shareholder relation source
      description: Retrieves one source for a shareholder relation.
      parameters:
      - $ref: '#/components/parameters/shareholderId'
      - $ref: '#/components/parameters/relationId'
      - $ref: '#/components/parameters/sourceId'
      responses:
        '200':
          description: Shareholder Relation Source
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ShareholderRelationsSource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Shareholders
      operationId: DeleteShareholderRelationSource
      summary: Delete a shareholder relation source
      description: Deletes one source from a shareholder relation.
      parameters:
      - $ref: '#/components/parameters/shareholderId'
      - $ref: '#/components/parameters/relationId'
      - $ref: '#/components/parameters/sourceId'
      responses:
        '204':
          description: Shareholder Relation Source deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    ShareholderRelation:
      type: object
      required:
      - id
      - link
      - shareholder
      - relationType
      - sources
      - shares
      - totalShares
      - ownership
      - createdAt
      - updatedAt
      properties:
        '@id':
          type: string
          format: iri-reference
          description: ShareholderRelation IRI reference
          example: /shareholders/91ab5678-1234-5678-9abc-def012345678/relations/82cd9012-3456-7890-abcd-ef1234567890
        '@type':
          type: string
          default: ShareholderRelation
        id:
          type: string
          format: uuid
          description: Unique shareholder relation ID
          example: 82cd9012-3456-7890-abcd-ef1234567890
        link:
          type: string
          format: iri-reference
          description: Entity connected to this shareholder relation
          example: /entities/91ab5678-1234-5678-9abc-def012345678
        shareholder:
          allOf:
          - $ref: '#/components/schemas/Shareholder'
          description: Shareholder connected by this relation
        relationType:
          type: string
          enum:
          - shareholders
          - shareholder_of
          description: Direction of the ownership relation between the shareholder and entity
          example: shareholders
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ShareholderRelationsSource'
          description: Sources that support this shareholder relation
        shares:
          type: number
          format: float
          description: Number of shares represented by this relation
          example: 1500.5
        totalShares:
          type:
          - number
          - 'null'
          format: float
          description: Total number of shares in the company, when known
          example: 10000.0
        ownership:
          type:
          - number
          - 'null'
          format: float
          description: Ownership ratio as a decimal value, for example `0.15` means 15%
          example: 0.15
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    Shareholder:
      type: object
      required:
      - id
      - name
      - type
      - rfc
      - relations
      - entity
      - createdAt
      - updatedAt
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Shareholder IRI reference
          example: /shareholders/91ab5678-1234-5678-9abc-def012345678
        '@type':
          type: string
          default: Shareholder
        id:
          type: string
          format: uuid
          description: Unique shareholder ID
          example: 91ab5678-1234-5678-9abc-def012345678
        name:
          type: string
          description: Name of the person or company that owns shares
          example: JUAN MANUEL PEREZ GONZALEZ
        type:
          type: string
          enum:
          - physical
          - legal
          - unknown
          description: Shareholder type, where `physical` is a person, `legal` is a company, and `unknown` means the type cannot be determined
          example: physical
        rfc:
          allOf:
          - $ref: '#/components/schemas/TaxpayerID'
          description: Shareholder RFC, when available
        relations:
          type: array
          items:
            $ref: '#/components/schemas/ShareholderRelation'
          description: Relations that connect this shareholder to entities
        entity:
          type:
          - string
          - 'null'
          format: iri-reference
          description: Entity created for this shareholder after promotion, if the shareholder has been promoted
          example: /entities/91ab5678-1234-5678-9abc-def012345678
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    ShareholderRelationType:
      type: string
      enum:
      - shareholders
      - shareholder_of
      description: 'Represents the relationship between a shareholder and an entity:

        - **shareholders**: The entity''s shareholders

        - **shareholder_of**: Entities that this shareholder owns shares in

        '
      example: shareholders
    ShareholderRelationsSource:
      type: object
      required:
      - id
      - relation
      - shareholder
      - sourceName
      - sourceId
      - shares
      - createdAt
      - updatedAt
      properties:
        '@id':
          type: string
          format: iri-reference
          description: ShareholderRelationsSource IRI reference
          example: /shareholders/91ab5678-1234-5678-9abc-def012345678/relations/82cd9012-3456-7890-abcd-ef1234567890/sources/73de0123-4567-8901-bcde-f23456789012
        '@type':
          type: string
          default: ShareholderRelationsSource
        id:
          type: string
          format: uuid
          description: Unique shareholder relation source ID
          example: 73de0123-4567-8901-bcde-f23456789012
        relation:
          allOf:
          - $ref: '#/components/schemas/ShareholderRelation'
          description: Shareholder relation supported by this source
        shareholder:
          allOf:
          - $ref: '#/components/schemas/Shareholder'
          description: Shareholder described by this source
        sourceName:
          type: string
          enum:
          - manual
          - rpc_socio
          - company_verification
          description: Source that provided the shareholder information
          example: manual
        sourceId:
          type: string
          format: uuid
          description: ID of the source record that provided this information
          example: 64ef1234-5678-9012-cdef-345678901234
        shares:
          type: number
          format: float
          description: Number of shares reported by this source
          example: 1500.5
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    orderShares:
      name: order[shares]
      in: query
      description: Order by number of shares
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    relationId:
      name: relationId
      in: path
      required: true
      description: The relation ID
      example: 82cd9012-3456-7890-abcd-ef1234567890
      schema:
        type: string
        format: uuid
    sourceId:
      name: sourceId
      in: path
      required: true
      description: The source ID
      example: 73de0123-4567-8901-bcde-f23456789012
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    shareholderTypeFilter:
      name: type
      in: query
      description: Filter shareholders by type
      schema:
        type: string
        enum:
        - physical
        - legal
        - unknown
    orderCreatedAt:
      name: order[createdAt]
      in: query
      description: Order by resource creation date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    shareholderNameFilter:
      name: name
      in: query
      description: Filter shareholders by name (supports partial matching)
      example: JUAN PEREZ
      schema:
        type: string
    orderName:
      name: order[name]
      in: query
      description: Order by name
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    orderUpdatedAt:
      name: order[updatedAt]
      in: query
      description: Order by resource update date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    shareholderId:
      name: shareholderId
      in: path
      required: true
      description: The shareholder ID
      example: 91ab5678-1234-5678-9abc-def012345678
      schema:
        type: string
        format: uuid
    sourceNameFilter:
      name: sourceName
      in: query
      description: Filter sources by name
      schema:
        type: string
        enum:
        - manual
        - rpc_socio
        - company_verification
    shareholderRfcFilter:
      name: rfc
      in: query
      description: Filter shareholders by RFC (supports partial matching)
      example: PEGJ850101
      schema:
        type: string
    orderOwnership:
      name: order[ownership]
      in: query
      description: Order by ownership percentage
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    relationTypeFilter:
      name: relationType
      in: query
      description: Filter relations by type
      schema:
        type: string
        enum:
        - shareholders
        - shareholder_of
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
