openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Scores Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Scores Insight
paths:
  /entities/{entityId}/insights/metrics/scores:
    get:
      tags:
      - Scores Insight
      operationId: GetScoresInsight
      summary: Get scores
      description: Entity scores aggregated from every configured score source (Syntage Score and any third-party rating providers enabled for the organization).
      parameters:
      - $ref: '#/components/parameters/entityId'
      responses:
        '200':
          $ref: '#/components/responses/ScoresInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /insights/metrics/scores/syntage/distribution:
    get:
      tags:
      - Scores Insight
      operationId: GetSyntageScoreDistribution
      summary: Get Syntage Score distribution
      description: Get the distribution of current Syntage Score values across score buckets.
      responses:
        '200':
          description: Syntage Score distribution
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ScoreDistribution'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /entities/{entityId}/insights/metrics/buro-de-credito/summary:
    get:
      tags:
      - Scores Insight
      operationId: GetBuroDeCreditoSummaryInsight
      summary: Get Buró de Crédito summary
      description: List Buró de Crédito report score summaries for an entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by report creation date on or after this date
        schema:
          type: string
          default: '2014-01-01'
      - name: options[to]
        in: query
        description: Filter by report creation date on or before this date
        schema:
          type: string
          default: now
      responses:
        '200':
          description: Buró de Crédito summary
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/HydraView'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/BuroDeCreditoSummary
                    '@id':
                      example: /entities/9bd4a640-9f41-4cd5-a158-20767b386ca0/insights/metrics/buro-de-credito/summary
                    hydra:member:
                      type: array
                      items:
                        $ref: '#/components/schemas/BuroDeCreditoSummaryInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/insights/metrics/buro-de-credito/summary/export:
    get:
      tags:
      - Scores Insight
      operationId: ExportBuroDeCreditoSummaryInsight
      summary: Export Buró de Crédito summary
      description: Export Buró de Crédito report score summaries for an entity as CSV or XLSX.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: Accept
        in: header
        required: true
        description: Export format to return
        schema:
          type: string
          enum:
          - text/csv
          - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
      - name: options[from]
        in: query
        description: Filter by report creation date on or after this date
        schema:
          type: string
          default: '2014-01-01'
      - name: options[to]
        in: query
        description: Filter by report creation date on or before this date
        schema:
          type: string
          default: now
      responses:
        '200':
          description: Buró de Crédito summary export
          content:
            text/csv:
              schema:
                type: string
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
components:
  responses:
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/ld+json:
          schema:
            type: object
            properties:
              '@context':
                type: string
                default: /contexts/Error
              '@type':
                type: string
                default: hydra:Error
              hydra:title:
                type: string
                default: An error occurred
              hydra:description:
                type: string
                description: Concatenated violation messages
                example: 'exampleField: Syntage score already exists.'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    ScoresInsight:
      description: Entity scores
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/Scores
            - $ref: '#/components/schemas/Scores'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  schemas:
    BuroDeCreditoSummaryInsight:
      type: object
      description: Summary row for one Buró de Crédito report score.
      properties:
        id:
          type: string
          format: uuid
          description: Buró de Crédito report ID
          example: 9cc7fc78-5e84-4862-af83-c6c7022fcb41
        productType:
          type: string
          enum:
          - '007'
          - '004'
          - INFORME_BURO
          - RCO
          description: Buró de Crédito product type used to generate the report
          example: '007'
        createdAt:
          type: string
          format: date-time
          description: Date and time when the report was created
          example: '2024-01-31T00:00:00+00:00'
        scoreValue:
          type:
          - string
          - 'null'
          description: Score value returned by Buró de Crédito when available
          example: '0676'
        scoreCode:
          type:
          - string
          - 'null'
          description: Buró de Crédito score code when available
          example: '007'
        scoreReasonCodes:
          type: array
          description: Buró de Crédito score reason codes
          items:
            type: string
          example:
          - '04'
        externalReturnKey:
          type:
          - string
          - 'null'
          description: Provider return key for legal-entity report products when available
          example: '1'
    ScoreDistribution:
      type: object
      description: Distribution of current Syntage Score values across score buckets.
      properties:
        distribution:
          type: array
          description: Number of Syntage Score records in each score bucket
          items:
            type: object
            properties:
              label:
                type: integer
                description: Score bucket label
                example: 500
              metric:
                type: integer
                description: Number of scores in the bucket
                example: 12
    HydraView:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:totalItems:
          type: integer
          description: Total number of items found
          minimum: 0
          example: 1
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:first:
              type: string
              format: iri-reference
              description: First page IRI reference; omitted when there is no pagination
            hydra:next:
              type: string
              format: iri-reference
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              format: iri-reference
              description: Last page IRI reference; omitted when there is no pagination
    Score:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Score IRI reference
          example: /.well-known/genid/78c595ac88fa9659fa80
        '@type':
          type: string
          description: Type of score object
          default: ScoreBySource
        id:
          $ref: '#/components/schemas/uuid'
        source:
          type: string
          description: Source of the score
          example: syntage
        type:
          type: string
          description: Type of score
          example: internal
        score:
          type: string
          description: Calculated score
          example: '532'
        generatedAt:
          type: string
          description: Date and time the resource was generated
          example: '2020-01-01T12:15:00.000Z'
        metadata:
          type: object
          description: Essential information and attributes about the score; structure changes depending on source and type
          example:
            breakdown:
              offenders:
                margen_bruto: Missing gross margin
                margen_neto: Missing net margin
              performers:
                debt_to_income: Debt to income between 0.4 and 0.6
                quick_ratio: Quick ratio > 3
            distribution:
            - label: 500
              metric: 1
    Scores:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Scores IRI reference
          example: /.well-known/genid/78c595ac88fa9659fa80
        '@type':
          type: string
          default: Scores
        scores:
          type: array
          description: List of score objects
          items:
            $ref: '#/components/schemas/Score'
    uuid:
      type: string
      format: uuid
      example: e0a24894-7fbf-48ae-bfb0-efaae30a6319
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
