openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX BIL Reports API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX BIL Reports
paths:
  /entities/{entityId}/datasources/bil/reports:
    get:
      tags:
      - DS MX BIL Reports
      operationId: ListEntityBilReports
      summary: List an entity's BIL reports
      description: List Buró de Investigaciones Legales reports generated for an entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/BilReportCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /datasources/bil/reports/{id}:
    get:
      tags:
      - DS MX BIL Reports
      operationId: GetBilReport
      summary: Retrieve a BIL report
      description: Retrieve a single Buró de Investigaciones Legales report by ID.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/BilReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    BilReport:
      type: object
      description: Buró de Investigaciones Legales report generated for an entity.
      properties:
        '@id':
          type: string
          format: iri-reference
          description: BIL report IRI reference.
          example: /datasources/bil/reports/9cc7fc78-5e84-4862-af83-c6c7022fcb41
        '@type':
          type: string
          description: JSON-LD resource type
          default: BilReport
        id:
          type: string
          format: uuid
          description: Unique BIL report ID.
          example: 9cc7fc78-5e84-4862-af83-c6c7022fcb41
        fecha:
          type: string
          format: date-time
          description: Date and time reported by BIL for the generated report.
          example: '2026-05-19T12:22:39-06:00'
        investigado:
          type: string
          description: Name searched and reported by BIL.
          example: EMPRESA DE PRUEBA SA DE CV
        folio:
          type: string
          description: BIL report folio.
          example: ENG10387-001
        gradoMaximo:
          type: integer
          description: Highest grade returned by BIL for the report.
          example: 5
        data:
          type: object
          description: Parsed BIL XML response. The structure follows the vendor response and can vary by report content.
          additionalProperties: true
          example:
            REPORTES:
              REPORTE:
                TIPO: BASICO
                INVESTIGADO: EMPRESA DE PRUEBA SA DE CV
                FOLIO: ENG10387-001
                GRADO_MAXIMO: '5'
        xmlFile:
          allOf:
          - $ref: '#/components/schemas/File'
          - description: File resource for the original BIL XML response.
            example:
              '@id': /files/88d3e2b7-6262-4ec7-9b2b-5a90a6227d01
              '@type': File
              id: 88d3e2b7-6262-4ec7-9b2b-5a90a6227d01
              type: bil.report.xml
              resource: /datasources/bil/reports/9cc7fc78-5e84-4862-af83-c6c7022fcb41
              mimeType: text/xml
              extension: xml
              filename: ENG10387-001.xml
        pdfFile:
          allOf:
          - $ref: '#/components/schemas/File'
          - description: File resource for the BIL PDF report.
            example:
              '@id': /files/0ab1bdf6-9008-4acf-8e31-8196405df2d0
              '@type': File
              id: 0ab1bdf6-9008-4acf-8e31-8196405df2d0
              type: bil.report.pdf
              resource: /datasources/bil/reports/9cc7fc78-5e84-4862-af83-c6c7022fcb41
              mimeType: application/pdf
              extension: pdf
              filename: ENG10387-001.pdf
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    BilReportCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/BilReport
          '@id':
            example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/datasources/bil/reports
          hydra:member:
            type: array
            items:
              $ref: '#/components/schemas/BilReport'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  responses:
    BilReportCollection:
      description: BIL report collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/BilReportCollection'
    BilReport:
      description: BIL report resource response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/BilReport'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
