openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Products and Services Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Products and Services Insight
paths:
  /entities/{entityId}/insights/products-and-services-bought:
    get:
      tags:
      - Products and Services Insight
      operationId: GetProductsAndServicesBoughtInsight
      summary: Get products and services bought
      description: Returns a paginated list of products and services bought by the entity, including transaction details and share percentages.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
          default: '2014-01-01T00:00:00.000Z'
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
          default: now
      - name: page
        in: query
        description: Page number for pagination
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: itemsPerPage
        in: query
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
      responses:
        '200':
          description: Products and Services Bought
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    description: List of products and services bought
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Product or service identification/description
                          example: Software
                        total:
                          type: number
                          description: Total amount spent on this product/service in MXN
                          example: 87000
                        share:
                          type: number
                          description: Percentage share of total expenditure
                          example: 72.41
                        transactions:
                          type: array
                          description: Transaction breakdown by period
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                description: Date period
                                example: 2025-10
                              total:
                                type: number
                                description: Total amount for this period in MXN
                                example: 87000
                  hydra:totalItems:
                    type: integer
                    description: Total number of products/services
                    example: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/insights/products-and-services-sold:
    get:
      tags:
      - Products and Services Insight
      operationId: GetProductsAndServicesSoldInsight
      summary: Get products and services sold
      description: Returns a paginated list of products and services sold by the entity, including transaction details and share percentages.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
          default: '2014-01-01T00:00:00.000Z'
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
          default: now
      - name: page
        in: query
        description: Page number for pagination
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: itemsPerPage
        in: query
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
      responses:
        '200':
          description: Products and Services Sold
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    description: List of products and services sold
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Product or service identification/description
                          example: Marketing and distribution
                        total:
                          type: number
                          description: Total revenue from this product/service in MXN
                          example: 13208067.16
                        share:
                          type: number
                          description: Percentage share of total revenue
                          example: 72.02
                        transactions:
                          type: array
                          description: Transaction breakdown by period
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                description: Date period
                                example: 2025-10
                              total:
                                type: number
                                description: Total amount for this period in MXN
                                example: 75000.0
                  hydra:totalItems:
                    type: integer
                    description: Total number of products/services
                    example: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
