openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Schedulers API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Schedulers
paths:
  /schedulers:
    post:
      tags:
      - Schedulers
      operationId: CreateScheduler
      summary: Create a scheduler
      description: Create a scheduler that can run one or more extraction rules.
      requestBody:
        $ref: '#/components/requestBodies/SchedulerCreate'
      responses:
        '202':
          $ref: '#/components/responses/Scheduler'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Schedulers
      summary: List schedulers
      description: List all schedulers.
      operationId: ListSchedulers
      parameters:
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/SchedulerCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /schedulers/{id}:
    get:
      tags:
      - Schedulers
      summary: Retrieve a scheduler
      operationId: GetTScheduler
      description: Retrieve a scheduler by ID, including its rules and tags.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/Scheduler'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Schedulers
      summary: Update a scheduler
      operationId: UpdateScheduler
      description: Update a scheduler's name or enabled state.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      requestBody:
        $ref: '#/components/requestBodies/SchedulerUpdate'
      responses:
        '200':
          $ref: '#/components/responses/Scheduler'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
      - Schedulers
      summary: Delete a scheduler
      operationId: DeleteScheduler
      description: Delete a scheduler.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '204':
          description: Scheduler resource deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    SchedulerRule:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Scheduler Rule IRI reference
          example: /schedulers/rules/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: SchedulerRule
        id:
          $ref: '#/components/schemas/uuid'
        scheduler:
          type: string
          description: Scheduler that owns this rule
          example: Daily Invoices Scheduler
        extractor:
          $ref: '#/components/schemas/ExtractionExtractor'
        options:
          $ref: '#/components/schemas/ExtractionOptions'
        cronExpression:
          type:
          - string
          - 'null'
          description: Cron expression that controls when the rule runs
          example: '@daily'
        nextRunDate:
          type: string
          description: Date and time the resource should execute in the next iteration
          example: '2020-01-01T12:15:00.000Z'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    HydraView:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:totalItems:
          type: integer
          description: Total number of items found
          minimum: 0
          example: 1
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:first:
              type: string
              format: iri-reference
              description: First page IRI reference; omitted when there is no pagination
            hydra:next:
              type: string
              format: iri-reference
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              format: iri-reference
              description: Last page IRI reference; omitted when there is no pagination
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    SchedulerInput:
      type: object
      required:
      - type
      properties:
        name:
          type:
          - string
          - 'null'
          writeOnly: true
          description: Scheduler name; if omitted, the scheduler is created without a name
          example: Daily Invoices Scheduler
        type:
          type: string
          writeOnly: true
          description: Scheduler type; only `recurring` is allowed for creation
          example: recurring
          enum:
          - recurring
        isEnabled:
          type: boolean
          writeOnly: true
          description: Whether the scheduler is enabled
          example: true
          default: true
        tags:
          type: array
          writeOnly: true
          description: Entity tags to associate with the scheduler
          example:
          - /entity-tags/91106968-1abd-4d64-85c1-4e73d96fb997
          items:
            type: string
            format: iri-reference
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    SchedulerCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/Scheduler
          '@id':
            default: /schedulers
          hydra:member:
            items:
              $ref: '#/components/schemas/Scheduler'
    SchedulerRuleCollection:
      allOf:
      - $ref: '#/components/schemas/Collection'
      - type: object
        properties:
          '@context':
            default: /contexts/SchedulerRule
          '@id':
            default: /schedulers/rules
          hydra:member:
            items:
              $ref: '#/components/schemas/SchedulerRule'
          hydra:view:
            properties:
              '@id':
                example: /schedulers/rules?page=1
              '@type':
                type: string
                default: hydra:PartialCollectionView
              hydra:first:
                example: /schedulers/rules?page=1
              hydra:next:
                example: /schedulers/rules?page=2
              hydra:last:
                example: /schedulers/rules?page=3
    SchedulerUpdateInput:
      type: object
      properties:
        name:
          type: string
          writeOnly: true
          description: Scheduler name
          example: Daily Invoices Scheduler
        isEnabled:
          type: boolean
          writeOnly: true
          description: Whether the scheduler is enabled
          example: true
        tags:
          type: array
          writeOnly: true
          description: Tags to associate with the scheduler; sending this key replaces the existing tag collection
          example:
          - /entity-tags/91106968-1abd-4d64-85c1-4e73d96fb997
          items:
            type: string
            format: iri-reference
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    Collection:
      allOf:
      - $ref: '#/components/schemas/HydraView'
      - type: object
        properties:
          hydra:search:
            type: object
            properties:
              '@type':
                type: string
              hydra:template:
                type: string
              hydra:variableRepresentation:
                type: string
              hydra:mapping:
                type: array
                items:
                  type: object
                  properties:
                    '@type':
                      type: string
                    variable:
                      type: string
                    property:
                      type: string
                    required:
                      type: boolean
    ExtractionOptions:
      type: object
      description: Extractor options; check the available options for each extractor in [Extractions](https://docs.syntage.com/api-reference/extractions/overview#extractors)
      example:
        types:
        - I
        - E
        - P
        period:
          from: '2020-01-01T00:00:00.000Z'
          to: '2020-03-31T23:59:59.000Z'
    EntityTag:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Entity Tag IRI reference
          example: /entity-tags/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: EntityTag
        id:
          $ref: '#/components/schemas/uuid'
        name:
          type: string
          description: Display name for the entity tag
          example: Priority Entity
        color:
          type:
          - string
          - 'null'
          description: Lowercase 7-character hexadecimal color used to display the tag (`#RRGGBB`). Defaults to `#a3aab5` when an entity tag is created without a color.
          example: '#22c558'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    ExtractionExtractor:
      type: string
      description: Extractor to run, which retrieves resources from the corresponding datasource
      enum:
      - invoice
      - monthly_tax_return
      - annual_tax_return
      - rif_tax_return
      - tax_status
      - tax_retention
      - tax_compliance
      - electronic_accounting
      - sat_certificates
      - rpc
      - buro_de_credito_report
      - bil
      - rug
      - background_check
    EntityTagCollection:
      type: array
      items:
        $ref: '#/components/schemas/EntityTag'
    Scheduler:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Scheduler IRI reference
          example: /schedulers/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: Scheduler
        id:
          $ref: '#/components/schemas/uuid'
        name:
          type:
          - string
          - 'null'
          example: Daily Invoices Scheduler
          description: Scheduler name; may be null for first-time schedulers created automatically by the platform
        type:
          type: string
          description: Scheduler type
          example: recurring
          enum:
          - recurring
        isEnabled:
          type: boolean
          description: Whether the scheduler is enabled
          example: true
        rules:
          $ref: '#/components/schemas/SchedulerRuleCollection'
        tags:
          $ref: '#/components/schemas/EntityTagCollection'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    uuid:
      type: string
      format: uuid
      example: e0a24894-7fbf-48ae-bfb0-efaae30a6319
  requestBodies:
    SchedulerCreate:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SchedulerInput'
    SchedulerUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SchedulerUpdateInput'
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    SchedulerCollection:
      description: Scheduler collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/SchedulerCollection'
    Scheduler:
      description: Scheduler resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/Scheduler
            - $ref: '#/components/schemas/Scheduler'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
