openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage DS MX SAT Tax Compliance Checks API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: DS MX SAT Tax Compliance Checks
  description: A tax compliance check maps the content of Opinion de Cumplimiento de Obligaciones Fiscales, an official SAT document that states whether an RFC is complying with its tax obligations.
paths:
  /tax-compliance-checks/{id}:
    get:
      tags:
      - DS MX SAT Tax Compliance Checks
      operationId: GetTaxComplianceCheck
      summary: Retrieve a tax compliance check
      description: Retrieve a tax compliance check by ID, including the SAT compliance result and source PDF file.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/TaxComplianceCheck'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/{entityId}/tax-compliance-checks:
    get:
      tags:
      - DS MX SAT Tax Compliance Checks
      operationId: ListTaxpayerTaxComplianceCheck
      summary: List an entity's tax compliance checks
      description: List tax compliance checks extracted for an entity.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: internalIdentifier
        in: query
        schema:
          $ref: '#/components/schemas/TaxComplianceCheckInternalIdentifier'
      - name: taxpayer.rfc
        in: query
        schema:
          $ref: '#/components/schemas/TaxpayerID'
      - name: taxpayer.name
        in: query
        schema:
          $ref: '#/components/schemas/TaxpayerName'
      - name: result
        in: query
        schema:
          $ref: '#/components/schemas/TaxComplianceCheckResult'
      - name: checkedAt[before]
        in: query
        description: Filter by check date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/TaxComplianceCheckCheckedAt'
      - name: checkedAt[strictly_before]
        in: query
        description: Filter by check date (less than `<`)
        schema:
          $ref: '#/components/schemas/TaxComplianceCheckCheckedAt'
      - name: checkedAt[after]
        in: query
        description: Filter by check date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/TaxComplianceCheckCheckedAt'
      - name: checkedAt[strictly_after]
        in: query
        description: Filter by check date (greater than `>`)
        schema:
          $ref: '#/components/schemas/TaxComplianceCheckCheckedAt'
      - name: createdAt[before]
        in: query
        description: Filter by creation date (less than or equal `<=`)
        schema:
          $ref: '#/components/schemas/createdAt'
      - name: createdAt[strictly_before]
        in: query
        description: Filter by creation date (less than `<`)
        schema:
          $ref: '#/components/schemas/createdAt'
      - name: createdAt[after]
        in: query
        description: Filter by creation date (greater than or equal `>=`)
        schema:
          $ref: '#/components/schemas/createdAt'
      - name: createdAt[strictly_after]
        in: query
        description: Filter by creation date (greater than `>`)
        schema:
          $ref: '#/components/schemas/createdAt'
      - name: order[checkedAt]
        in: query
        description: Order by check date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - name: order[createdAt]
        in: query
        description: Order by creation date
        schema:
          $ref: '#/components/schemas/CollectionOrder'
      - $ref: '#/components/parameters/collectionCursorNextPageParam'
      - $ref: '#/components/parameters/collectionCursorPreviousPageParam'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerTaxComplianceCheckCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    File:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: File IRI reference
          example: /files/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: File
          example: File
        id:
          type: string
          format: uuid
          description: Unique file ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        type:
          type: string
          description: File category, such as an invoice CFDI XML or PDF
          example: invoice.cfdi.xml
        resource:
          type: string
          description: IRI of the resource that produced or owns the file
          example: /invoices/7c45e9c6-8f7f-4d0e-b6e5-65fef6c8c2f9
        mimeType:
          type: string
          description: Media type of the file content
          example: text/xml
        extension:
          type: string
          description: File extension for the stored content
          example: xml
        size:
          type: integer
          description: File size in bytes
          example: 40544
        filename:
          type: string
          description: Suggested filename for the file content
          example: 6f3c5312-2849-4525-86f6-c48a54c64c60.xml
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    TaxComplianceCheckInternalIdentifier:
      type: string
      description: The internal identifier (folio) generated by the SAT
      example: 20NE1234567
    TaxpayerTaxComplianceCheckCollection:
      allOf:
      - $ref: '#/components/schemas/CursorCollection'
      - type: object
        properties:
          '@context':
            default: /contexts/TaxComplianceCheck
          '@id':
            default: /entities/{entityId}/tax-compliance-checks
            example: /entities/91106968-1abd-4d64-85c1-4e73d96fb997/tax-compliance-checks
          hydra:member:
            items:
              $ref: '#/components/schemas/TaxComplianceCheck'
    CursorCollection:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:next:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[lt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              example: /entity/2a15f539-3251-48e1-aaeb-a154dc9c6edb/resource?id[gt]=9b8e5365-0b36-45f5-9c76-fbe439632367
              description: Last page IRI reference; omitted when there is no pagination
        hydra:search:
          type: object
          properties:
            '@type':
              type: string
            hydra:template:
              type: string
            hydra:variableRepresentation:
              type: string
            hydra:mapping:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  variable:
                    type: string
                  property:
                    type: string
                  required:
                    type: boolean
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    TaxpayerName:
      type: string
      minLength: 1
      maxLength: 254
      description: Taxpayer name
      example: Pedro Infante Cruz
    TaxpayerID:
      type: string
      minLength: 12
      maxLength: 13
      description: RFC (Registro Federal de Contribuyentes)
      example: PEIC211118IS0
    TaxComplianceCheckCheckedAt:
      type: string
      description: Check date
      example: '2020-01-01T12:15:00.000Z'
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    TaxComplianceCheckResult:
      type: string
      enum:
      - positive
      - negative
      - no_obligations
      - activity_suspended
      example: no_obligations
    TaxComplianceCheck:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Tax Compliance Check IRI reference
          example: /tax-compliance-checks/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          default: TaxComplianceCheck
        id:
          type: string
          description: Tax compliance check ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        file:
          allOf:
          - $ref: '#/components/schemas/File'
          - example:
              type: tax_compliance_check.pdf
              resource: /tax-compliance-check/91106968-1abd-4d64-85c1-4e73d96fb997
              mimeType: application/pdf
              extension: pdf
              filename: PEIC211118IS0_20RD1174999.pdf
        internalIdentifier:
          $ref: '#/components/schemas/TaxComplianceCheckInternalIdentifier'
        taxpayer:
          type: object
          description: Taxpayer details reported in the compliance document
          properties:
            rfc:
              $ref: '#/components/schemas/TaxpayerID'
            name:
              $ref: '#/components/schemas/TaxpayerName'
        result:
          $ref: '#/components/schemas/TaxComplianceCheckResult'
        checkedAt:
          $ref: '#/components/schemas/TaxComplianceCheckCheckedAt'
        createdAt:
          $ref: '#/components/schemas/createdAt'
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TaxpayerTaxComplianceCheckCollection:
      description: Taxpayer tax compliance check collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/TaxpayerTaxComplianceCheckCollection'
    TaxComplianceCheck:
      description: Tax compliance check resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/TaxComplianceCheck
            - $ref: '#/components/schemas/TaxComplianceCheck'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    collectionCursorNextPageParam:
      name: id[lt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the next page
      schema:
        type: string
    collectionCursorPreviousPageParam:
      name: id[gt]
      in: query
      required: false
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      description: Collection cursor pointer to the previous page
      schema:
        type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
