openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Reports API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Reports
  description: 'Reports group entity insights into a configurable layout. A report is rendered in the dashboard''s Reports section and can be downloaded as a PDF document with the Exports API.


    Built-in reports are created and kept up to date by Syntage and cannot be modified or deleted. Custom reports are personal by default; organizational reports are shared with every user in the organization.'
paths:
  /reports:
    get:
      tags:
      - Reports
      operationId: ListReports
      summary: List all reports
      description: 'List the reports available to the authenticated user: built-in reports, the user''s personal reports, and organizational reports.


        Insight entries whose feature flags are not enabled for your organization are omitted from the `insights` layout.'
      parameters:
      - $ref: '#/components/parameters/createdAtBefore'
      - $ref: '#/components/parameters/createdAtStrictlyBefore'
      - $ref: '#/components/parameters/createdAtAfter'
      - $ref: '#/components/parameters/createdAtStrictlyAfter'
      - $ref: '#/components/parameters/orderCreatedAt'
      - $ref: '#/components/parameters/collectionPage'
      - $ref: '#/components/parameters/collectionLimit'
      responses:
        '200':
          $ref: '#/components/responses/InsightReportCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Reports
      operationId: CreateReport
      summary: Create a report
      description: 'Create a custom report with your own selection of insight entries. Set `organizational` to `true` to share the report with every user in your organization instead of keeping it personal.


        Reports created through the API are always custom reports: the report-level `builtIn` flag is set only by Syntage and cannot be set through the API.'
      requestBody:
        $ref: '#/components/requestBodies/InsightReportSave'
      responses:
        '201':
          $ref: '#/components/responses/InsightReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /reports/{id}:
    get:
      tags:
      - Reports
      operationId: GetReport
      summary: Retrieve a report
      description: Retrieve a report by ID. Use the report ID as the `uri` path segment when requesting a PDF download with the Exports API.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/InsightReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Reports
      operationId: UpdateReport
      summary: Update a report
      description: 'Update a custom report''s name, insight layout, or organizational visibility.


        Built-in reports cannot be updated. Personal reports can only be updated by their owner; organizational reports can only be updated by an admin.'
      parameters:
      - $ref: '#/components/parameters/resourceId'
      requestBody:
        $ref: '#/components/requestBodies/InsightReportSave'
      responses:
        '200':
          $ref: '#/components/responses/InsightReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
      - Reports
      operationId: DeleteReport
      summary: Delete a report
      description: 'Delete a custom report.


        Built-in reports cannot be deleted. Personal reports can only be deleted by their owner; organizational reports can only be deleted by an admin.'
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '204':
          description: Report resource deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/ld+json:
          schema:
            type: object
            properties:
              '@context':
                type: string
                default: /contexts/Error
              '@type':
                type: string
                default: hydra:Error
              hydra:title:
                type: string
                default: An error occurred
              hydra:description:
                type: string
                description: Concatenated violation messages
                example: 'exampleField: Syntage score already exists.'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Forbidden:
      description: Forbidden
      content:
        application/ld+json:
          schema:
            type: object
            properties:
              '@context':
                type: string
                default: /contexts/Error
              '@type':
                type: string
                default: hydra:Error
              hydra:title:
                type: string
                default: An error occurred
              hydra:description:
                type: string
                example: Access Denied.
    InsightReportCollection:
      description: Report collection response
      content:
        application/ld+json:
          schema:
            $ref: '#/components/schemas/InsightReportCollection'
    InsightReport:
      description: Report resource response
      content:
        application/ld+json:
          schema:
            allOf:
            - type: object
              properties:
                '@context':
                  type: string
                  default: /contexts/InsightReport
            - $ref: '#/components/schemas/InsightReport'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    collectionPage:
      name: page
      in: query
      required: false
      description: Collection page number
      schema:
        $ref: '#/components/schemas/CollectionPage'
    resourceId:
      name: id
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
    collectionLimit:
      name: itemsPerPage
      in: query
      required: false
      description: Number of items per page
      schema:
        $ref: '#/components/schemas/CollectionLimit'
    createdAtStrictlyAfter:
      name: createdAt[strictly_after]
      in: query
      description: Filter by resource creation date (greater than `>`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    createdAtStrictlyBefore:
      name: createdAt[strictly_before]
      in: query
      description: Filter by resource creation date (less than `<`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    orderCreatedAt:
      name: order[createdAt]
      in: query
      description: Order by resource creation date
      schema:
        $ref: '#/components/schemas/CollectionOrder'
    createdAtBefore:
      name: createdAt[before]
      in: query
      description: Filter by resource creation date (less than or equal `<=`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
    createdAtAfter:
      name: createdAt[after]
      in: query
      description: Filter by resource creation date (greater than or equal `>=`)
      example: '2020-01-17 11:47:27'
      schema:
        type: string
        format: date-time
  schemas:
    HydraView:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:totalItems:
          type: integer
          description: Total number of items found
          minimum: 0
          example: 1
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:first:
              type: string
              format: iri-reference
              description: First page IRI reference; omitted when there is no pagination
            hydra:next:
              type: string
              format: iri-reference
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              format: iri-reference
              description: Last page IRI reference; omitted when there is no pagination
    updatedAt:
      type: string
      description: Date and time the resource was last updated
      example: '2020-01-01T12:15:00.000Z'
    CollectionPage:
      type: integer
      default: 1
    CollectionLimit:
      type: integer
      default: 20
      minimum: 1
      maximum: 1000
    CollectionOrder:
      type: string
      enum:
      - asc
      - desc
      example: asc
    Collection:
      allOf:
      - $ref: '#/components/schemas/HydraView'
      - type: object
        properties:
          hydra:search:
            type: object
            properties:
              '@type':
                type: string
              hydra:template:
                type: string
              hydra:variableRepresentation:
                type: string
              hydra:mapping:
                type: array
                items:
                  type: object
                  properties:
                    '@type':
                      type: string
                    variable:
                      type: string
                    property:
                      type: string
                    required:
                      type: boolean
    InsightReportCollection:
      allOf:
      - $ref: '#/components/schemas/Collection'
      - type: object
        properties:
          '@context':
            default: /contexts/InsightReport
          '@id':
            default: /reports
          hydra:member:
            items:
              $ref: '#/components/schemas/InsightReport'
    InsightReportInsightEntry:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: Entry identifier within the report layout
          example: sales-revenue
        type:
          type: string
          description: '`insight` renders a single insight; `group` renders a titled section of child insight entries'
          enum:
          - insight
          - group
        insight:
          type: string
          description: Name of the insight rendered by this entry; present when `type` is `insight`
          example: sales-revenue
        visible:
          type: boolean
          description: Whether the entry is currently shown when the report is rendered
        children:
          type: array
          description: Child insight entries; present when `type` is `group`
          items:
            $ref: '#/components/schemas/InsightReportInsightEntry'
        builtIn:
          type: boolean
          description: Whether the entry comes from a built-in report definition; omitted for entries defined in custom reports
    createdAt:
      type: string
      description: Date and time the resource was created
      example: '2020-01-01T12:15:00.000Z'
    InsightReportInsightEntryInput:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: Entry identifier within the report layout
          example: sales-revenue
        type:
          type: string
          description: '`insight` renders a single insight; `group` renders a titled section of child insight entries'
          enum:
          - insight
          - group
        insight:
          type: string
          description: Name of the insight rendered by this entry; required when `type` is `insight`
          example: sales-revenue
        visible:
          type: boolean
          description: Whether the entry is shown when the report is rendered
        children:
          type: array
          description: Child insight entries; used when `type` is `group`
          items:
            $ref: '#/components/schemas/InsightReportInsightEntryInput'
    InsightReport:
      type: object
      properties:
        '@id':
          type: string
          format: iri-reference
          description: Report IRI reference
          example: /reports/91106968-1abd-4d64-85c1-4e73d96fb997
        '@type':
          type: string
          description: JSON-LD resource type
          default: InsightReport
        id:
          type: string
          format: uuid
          description: Unique report ID
          example: 91106968-1abd-4d64-85c1-4e73d96fb997
        name:
          type: string
          description: Report name shown in the dashboard's report selector; built-in reports use stable names such as `full_report`
          example: Credit review
        builtIn:
          type: boolean
          description: Whether the report is managed by Syntage; built-in reports are kept up to date automatically and cannot be modified or deleted
          example: false
        organizational:
          type: boolean
          description: Whether the report is shared with every user in the organization; personal reports are only visible to their owner
          example: false
        insights:
          type: array
          description: Ordered layout of insight entries and groups rendered by the report
          items:
            $ref: '#/components/schemas/InsightReportInsightEntry'
        createdBy:
          type: object
          description: Profile of the user who created the report; omitted for built-in reports
          properties:
            id:
              type: string
              format: uuid
              description: User ID
              example: 91106968-1abd-4d64-85c1-4e73d96fb997
            firstName:
              type: string
              example: John
            lastName:
              type: string
              example: Doe
            fullName:
              type: string
              example: John Doe
        createdAt:
          $ref: '#/components/schemas/createdAt'
        updatedAt:
          $ref: '#/components/schemas/updatedAt'
  requestBodies:
    InsightReportSave:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - name
            - insights
            properties:
              name:
                type: string
                description: Report name shown in the dashboard's report selector
                example: Credit review
              insights:
                type: array
                description: Ordered layout of insight entries and groups rendered by the report
                items:
                  $ref: '#/components/schemas/InsightReportInsightEntryInput'
              organizational:
                type: boolean
                description: Share the report with every user in the organization instead of keeping it personal
                default: false
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
