openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Invoicing Annual Comparison Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Invoicing Annual Comparison Insight
paths:
  /entities/{entityId}/insights/metrics/invoicing-annual-comparison:
    get:
      tags:
      - Invoicing Annual Comparison Insight
      operationId: GetInvoicingAnnualComparison
      summary: Get invoicing annual comparison
      description: Year-over-year totals of issued and received invoicing activity, one row per fiscal year.
      parameters:
      - $ref: '#/components/parameters/entityId'
      responses:
        '200':
          description: Success
          content:
            application/ld+json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/HydraView'
                - type: object
                  properties:
                    '@context':
                      default: /contexts/GetInvoicingAnnualComparison
                    '@id':
                      example: /entities/9bd4a640-9f41-4cd5-a158-20767b386ca0/insights/metrics/invoicing-annual-comparison
                    hydra:member:
                      type: array
                      items:
                        type: object
                        properties:
                          period:
                            type: string
                            example: '2021'
                          totalSalesRevenue:
                            type: string
                            format: float
                            example: '161227.35'
                            description: Total sales revenue from active issued invoices (type I, status VIGENTE)
                          totalIncome:
                            type: string
                            format: float
                            example: '161227.35'
                            description: Total income including sales revenue and payroll (totalSalesRevenue + incomePayroll)
                          incomePaymentPending:
                            type: string
                            format: float
                            example: '24206.10'
                          totalIncomeCancelled:
                            type: string
                            format: float
                            example: '0.00'
                          incomeDiscounts:
                            type: string
                            format: float
                            example: '11754.18'
                          incomeCreditNotes:
                            type: string
                            format: float
                            example: '0.00'
                          netIncome:
                            type: string
                            format: float
                            example: '125267.06'
                          incomeDueUponReceipt:
                            type: string
                            format: float
                            example: '0.0051'
                          incomeDueOverTime:
                            type: string
                            format: float
                            example: '0.9949'
                          collectedIncomeDueOverTime:
                            type: string
                            format: float
                            example: '0.8596'
                          incomePayroll:
                            type: string
                            format: float
                            example: '0.00'
                            description: Payroll received by the entity (income for PF/PFAE)
                          totalExpenses:
                            type: string
                            format: float
                            example: '120439.39'
                          receivedPaymentPending:
                            type: string
                            format: float
                            example: '26514.75'
                          totalExpensesCancelled:
                            type: string
                            format: float
                            example: '0.00'
                          expensesDiscounts:
                            type: string
                            format: float
                            example: '5670.48'
                          expensesCreditNotes:
                            type: string
                            format: float
                            example: '0.00'
                          payroll:
                            type: string
                            format: float
                            example: '0.00'
                          netExpensesPlusPayroll:
                            type: string
                            format: float
                            example: '88254.16'
                          margin:
                            type: string
                            format: float
                            example: '0.2955'
                          expensesDueUponReceipt:
                            type: string
                            format: float
                            example: '0.3511'
                          expensesDueOverTime:
                            type: string
                            format: float
                            example: '0.6489'
                          paidExpensesDueOverTime:
                            type: string
                            format: float
                            example: '0.0193'
                          daysPayableOutstanding:
                            type: string
                            format: float
                            example: '14.00'
                          daysSalesOutstanding:
                            type: string
                            format: float
                            example: '-1.33'
                          netExpenses:
                            type: string
                            format: float
                            example: '88254.16'
                          netIncomePlusPayroll:
                            type: string
                            format: float
                            example: '125267.06'
                            description: Net income plus payroll received (net_income + income_payroll)
                          profitOrLoss:
                            type: string
                            format: float
                            example: '37012.90'
                            description: Profit or loss including payroll income ((net_income + income_payroll) - net_expenses_plus_payroll)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    HydraView:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:totalItems:
          type: integer
          description: Total number of items found
          minimum: 0
          example: 1
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:first:
              type: string
              format: iri-reference
              description: First page IRI reference; omitted when there is no pagination
            hydra:next:
              type: string
              format: iri-reference
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              format: iri-reference
              description: Last page IRI reference; omitted when there is no pagination
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
