openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Cash Flow Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Cash Flow Insight
paths:
  /entities/{entityId}/insights/cash-flow-stats:
    get:
      tags:
      - Cash Flow Insight
      operationId: GetCashFlowInsight
      summary: Get cash flow
      description: Inflows and outflows over time, derived from issued and received invoices.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[periodicity]
        in: query
        description: The data set is grouped by this field
        schema:
          enum:
          - daily
          - weekly
          - monthly
          - quarterly
          - yearly
          type: string
          default: monthly
      - name: options[type]
        in: query
        description: Group series by type
        schema:
          enum:
          - total
          - payment-method
          - currency
          - invoice-type
          type: string
          default: total
      - name: options[from]
        in: query
        description: Filter by issuing date (greater than)
        schema:
          type: string
          format: date-time
          default: '2014-01-01T00:00:00.000Z'
      - name: options[to]
        in: query
        description: Filter by issuing date (less than)
        schema:
          type: string
          format: date-time
          default: now
      responses:
        '200':
          $ref: '#/components/responses/CashFlowInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    CashFlowInsight:
      description: Entity cash flow
      content:
        application/ld+json:
          schema:
            type: object
            properties:
              data:
                description: Cash flow data grouped by period and dimension
                type: array
                items:
                  type: object
                  properties:
                    type:
                      description: Used to identify the flow
                      enum:
                      - inflow
                      - outflow
                      type: string
                      example: inflow
                    date:
                      description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period.

                        '
                      deprecated: true
                      type: string
                      example: '202408'
                    dateLabel:
                      description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period. Human-readable label for the period.

                        '
                      deprecated: true
                      type: string
                      example: 2024/Aug
                    startDate:
                      description: The start date of the period in `YYYY-MM-DD` format.
                      type: string
                      format: date
                      example: '2024-08-01'
                    transactions:
                      description: Number of invoices processed to get this record
                      type: integer
                      example: 6
                    amount:
                      description: Total amount in the original currency
                      type: number
                      example: 5938.88
                    mxnAmount:
                      description: '**Deprecated.** Use `metric` instead. Amount converted to `MXN` using the exchange rate at the time the invoice was issued. Always non-negative.

                        '
                      deprecated: true
                      type: number
                      example: 114638.76
                    metric:
                      description: Signed MXN amount. Positive for inflows, negative for outflows.
                      type: number
                      example: 114638.76
                    dimension:
                      description: 'The dimension value for the selected `options[type]` grouping.


                        | `options[type]` | `dimension` values |

                        | --- | --- |

                        | `total` | `"total"` |

                        | `currency` | ISO 4217 code — e.g. `MXN`, `USD`, `EUR` |

                        | `payment-method` | `"<SAT forma de pago label> (<code>)"` — e.g. `"Efectivo (01)"`, `"Transferencia electrónica de fondos (03)"`. Falls back to the raw numeric code when no mapping exists. |

                        | `invoice-type` | `"<CFDI type label> (<abbrev>)"` — e.g. `"Ingreso (I)"`, `"Egreso (E)"`, `"Pago (P)"`, `"Traslado (T)"`, `"Nómina (N)"`. |


                        Additionally, `"unknown"` appears for any `options[type]` whenever the underlying value was `NULL` in the database.

                        '
                      type: string
                      example: total
                    label:
                      description: Human-readable display label for the row's dimension. Same value as `dimension`.
                      type: string
                      example: total
                    groupName:
                      description: '**Deprecated.** Use `dimension` instead. Same value as `dimension`.

                        '
                      deprecated: true
                      type: string
                      example: total
              stats:
                description: Data quality statistics per period, indicating how many invoices had the required fields for accurate calculation.
                type: array
                items:
                  type: object
                  properties:
                    total:
                      description: Total number of invoices in this period
                      type: integer
                      example: 50
                    hits:
                      description: Number of invoices with sufficient data for accurate calculation
                      type: integer
                      example: 48
                    date:
                      description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period.

                        '
                      deprecated: true
                      type: string
                      example: '202408'
                    dateLabel:
                      description: '**Deprecated.** Use `startDate` together with `options[periodicity]` to format the period. Human-readable label for the period.

                        '
                      deprecated: true
                      type: string
                      example: 2024/Aug
                    startDate:
                      description: The start date of the period in `YYYY-MM-DD` format
                      type: string
                      format: date
                      example: '2024-08-01'
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
