openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Shareholders Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Shareholders Insight
paths:
  /entities/{entityId}/insights/shareholders:
    get:
      tags:
      - Shareholders Insight
      operationId: GetShareholdersInsight
      summary: Get shareholders
      description: 'Returns a paginated shareholder insight for an entity.


        Use `relations.relationType=shareholders` to list the entity''s shareholders. Use `relations.relationType=shareholder_of` to list entities that this shareholder owns shares in.


        When `relations.relationType=shareholders` and Company Verification-sourced shareholder data is available, the response returns Company Verification-sourced shareholders instead of older RPC-sourced rows. If no Company Verification-sourced shareholders are available, the response returns the available shareholder relations from other sources such as RPC or manually entered data.


        This endpoint replaces the deprecated RPC Shareholders insight.'
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: relations.relationType
        in: query
        required: true
        description: Shareholder relation direction to return
        schema:
          type: string
          enum:
          - shareholders
          - shareholder_of
        example: shareholders
      - name: page
        in: query
        description: Page number for pagination
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: itemsPerPage
        in: query
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 1000
      responses:
        '200':
          $ref: '#/components/responses/ShareholdersInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  schemas:
    HydraView:
      type: object
      properties:
        '@context':
          type: string
        '@id':
          type: string
        '@type':
          type: string
          default: hydra:Collection
        hydra:member:
          type: array
          items:
            type: object
        hydra:totalItems:
          type: integer
          description: Total number of items found
          minimum: 0
          example: 1
        hydra:view:
          type: object
          description: Pagination information
          properties:
            '@id':
              type: string
              format: iri-reference
              description: Current page IRI reference
            '@type':
              type: string
              default: hydra:PartialCollectionView
            hydra:first:
              type: string
              format: iri-reference
              description: First page IRI reference; omitted when there is no pagination
            hydra:next:
              type: string
              format: iri-reference
              description: Next page IRI reference; omitted when there is no pagination
            hydra:last:
              type: string
              format: iri-reference
              description: Last page IRI reference; omitted when there is no pagination
    Collection:
      allOf:
      - $ref: '#/components/schemas/HydraView'
      - type: object
        properties:
          hydra:search:
            type: object
            properties:
              '@type':
                type: string
              hydra:template:
                type: string
              hydra:variableRepresentation:
                type: string
              hydra:mapping:
                type: array
                items:
                  type: object
                  properties:
                    '@type':
                      type: string
                    variable:
                      type: string
                    property:
                      type: string
                    required:
                      type: boolean
  responses:
    ShareholdersInsight:
      description: Shareholders insight
      content:
        application/ld+json:
          schema:
            type: object
            allOf:
            - $ref: '#/components/schemas/Collection'
            - type: object
              properties:
                '@context':
                  default: /contexts/GetShareholdersInsight
                '@id':
                  example: /entities/91ab5678-1234-5678-9abc-def012345678/insights/shareholders?relations.relationType=shareholders
                hydra:member:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        description: Shareholder ID
                        type: string
                        format: uuid
                        example: 91ab5678-1234-5678-9abc-def012345678
                      name:
                        description: Shareholder name
                        type: string
                        example: EJEMPLO HOLDINGS, S.A. DE C.V.
                      rfc:
                        description: Shareholder RFC, when available
                        type:
                        - string
                        - 'null'
                        example: EHO240101AB1
                      shares:
                        description: Number of shares recorded for the relation
                        type: string
                        example: '500'
                      percentage:
                        description: Ownership percentage for this shareholder relation
                        type: string
                        example: '50.00'
                      relationId:
                        description: Shareholder relation ID
                        type: string
                        format: uuid
                        example: 82cd9012-3456-7890-abcd-ef1234567890
                      sources:
                        description: Comma-separated sources that support the relation
                        type: string
                        example: company_verification
                      entityId:
                        description: Entity ID created for the shareholder, when the shareholder has been promoted
                        type:
                        - string
                        - 'null'
                        format: uuid
                        example: 3f6b8b52-60f3-4af1-8459-6f23a0a0c944
                      sourceId:
                        description: Source record ID for the latest RPC source, when available
                        type:
                        - string
                        - 'null'
                        format: uuid
                        example: 11d2c236-bbd0-4024-8e59-089aa0d4359d
                      scores:
                        description: Scores available for the promoted shareholder entity
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: Score source record ID, when available
                              type:
                              - string
                              - 'null'
                              format: uuid
                              example: 76e6d0ec-9e6a-40c7-85e2-4ce02b5d9568
                            source:
                              description: Score source
                              type: string
                              example: buro_de_credito
                            type:
                              description: Score type
                              type: string
                              example: informe_buro
                            score:
                              description: Score value, when available
                              type:
                              - string
                              - 'null'
                              example: '533'
                            generatedAt:
                              description: Date and time when the score was generated
                              type: string
                              format: date-time
                              example: '2024-10-04T20:53:09+00:00'
                            metadata:
                              description: Additional score metadata
                              type: object
                              additionalProperties: true
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
