openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Trial Balance Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Trial Balance Insight
paths:
  /entities/{entityId}/insights/trial-balance:
    get:
      tags:
      - Trial Balance Insight
      operationId: GetTrialBalanceInsight
      summary: Get trial balance
      description: Returns all trial balances accounts matching on the account catalogs. If not present it will be tagged/grouped as '000 - Undefined'.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
      - name: options[periodicity]
        in: query
        description: Filter by periodicity (yearly as default)
        required: false
        schema:
          type: string
          enum:
          - yearly
          - monthly
      responses:
        '200':
          $ref: '#/components/responses/TrialBalanceInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TrialBalanceInsight:
      description: Entity trial balance
      content:
        application/json:
          schema:
            allOf:
            - type: array
              items:
                type: object
                properties:
                  data:
                    type: object
                    description: Data
                    properties:
                      periods:
                        type: object
                        description: Reporting periods keyed by `YYYY-MM`
                        properties:
                          2020-12:
                            type: object
                            description: Period data
                            properties:
                              year:
                                type: integer
                                description: Year
                                example: 2020
                              month:
                                type: integer
                                description: Year
                                example: 12
                      accounts:
                        type: object
                        description: Accounts keyed by code
                        properties:
                          '100':
                            type: object
                            description: Account
                            properties:
                              code:
                                type: string
                                description: Code
                                example: '100'
                              description:
                                type: string
                                description: Description
                                example: Bancos
                              trialBalance:
                                type: object
                                description: Period data
                                properties:
                                  2020-12:
                                    type: object
                                    description: Period data
                                    properties:
                                      initialBalance:
                                        type: number
                                        description: Initial balance data
                                        example: 431147.87
                                      credits:
                                        type: number
                                        description: Credits data
                                        example: 5081813.59
                                      debits:
                                        type: number
                                        description: Debits data
                                        example: 3339130.2
                                      endingBalance:
                                        type: number
                                        description: Ending balance data
                                        example: 2173831.27
                              children:
                                type: object
                                description: Children data
                                properties:
                                  '102':
                                    type: object
                                    description: Account
                                    properties:
                                      code:
                                        type: string
                                        description: Code
                                        example: '102'
                                      description:
                                        type: string
                                        description: Description
                                        example: Bancos nacionales
                                      trialBalance:
                                        type: object
                                        description: Period data
                                        properties:
                                          2020-12:
                                            type: object
                                            description: Period data
                                            properties:
                                              initialBalance:
                                                type: number
                                                description: Initial balance data
                                                example: 431147.87
                                              credits:
                                                type: number
                                                description: Credits data
                                                example: 5081813.59
                                              debits:
                                                type: number
                                                description: Debits data
                                                example: 3339130.2
                                              endingBalance:
                                                type: number
                                                description: Ending balance data
                                                example: 2173831.27
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
