openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Insight Exports API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Insight Exports
  description: Insight exports return supported entity insights as CSV or XLSX files.
paths:
  /entities/{entityId}/insights/{insight}/export:
    get:
      tags:
      - Insight Exports
      operationId: ExportInsight
      summary: Export an insight
      description: 'Export a supported insight for an entity as CSV or XLSX.


        Use the same `options[...]` query parameters supported by the corresponding insight endpoint. Unsupported insight names return `404`.'
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: insight
        in: path
        required: true
        description: Insight name to export
        schema:
          type: string
        example: sales-revenue
      - name: Accept
        in: header
        required: true
        description: Export format to return
        schema:
          type: string
          enum:
          - text/csv
          - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
      responses:
        '200':
          description: Insight export
          content:
            text/csv:
              schema:
                type: string
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
components:
  responses:
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/ld+json:
          schema:
            type: object
            properties:
              '@context':
                type: string
                default: /contexts/Error
              '@type':
                type: string
                default: hydra:Error
              hydra:title:
                type: string
                default: An error occurred
              hydra:description:
                type: string
                description: Concatenated violation messages
                example: 'exampleField: Syntage score already exists.'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
