openapi: 3.2.0
info:
  version: '2020-06-28'
  title: Syntage Financial Ratios Insight API
  contact:
    name: Email
    email: support@syntage.com
  description: '# Introduction


    The Syntage API is organized around REST.'
servers:
- url: https://api.syntage.com
  description: Production
- url: https://api.sandbox.syntage.com
  description: Sandbox
security:
- ApiKey: []
tags:
- name: Financial Ratios Insight
paths:
  /entities/{entityId}/insights/financial-ratios:
    get:
      tags:
      - Financial Ratios Insight
      operationId: GetFinancialRatiosInsight
      summary: Get financial ratios
      description: Liquidity, leverage, profitability, and efficiency ratios computed per fiscal year from the entity's annual tax filings.
      parameters:
      - $ref: '#/components/parameters/entityId'
      - name: options[from]
        in: query
        description: Filter by invoice issuing date (greater than)
        schema:
          type: string
          format: date-time
      - name: options[to]
        in: query
        description: Filter by invoice issuing date (less than)
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Financial Ratios
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      liquidity:
                        type: object
                        properties:
                          current_ratio:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 2.170153630241602
                              '2015':
                                type: number
                                example: 3.9382332732421896
                              '2016':
                                type: number
                                example: 1.4433204505794686
                              '2017':
                                type: number
                                example: 1.4715106437701448
                              '2018':
                                type: number
                                example: 1.1730789739846177
                              '2019':
                                type: number
                                example: 2.3687243725981255
                              '2020':
                                type: number
                                example: 1.3305483243873792
                          quick_ratio:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 1.8293385448664694
                              '2015':
                                type: number
                                example: 3.292934792905369
                              '2016':
                                type: number
                                example: 1.2009179843461073
                              '2017':
                                type: number
                                example: 1.1939344402370429
                              '2018':
                                type: number
                                example: 0.9524613210383901
                              '2019':
                                type: number
                                example: 2.047362926655386
                              '2020':
                                type: number
                                example: 1.165771941991342
                          cash_ratio:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.8457322529202494
                              '2015':
                                type: number
                                example: 0.9863829458972141
                              '2016':
                                type: number
                                example: 0.4934330804148122
                              '2017':
                                type: number
                                example: 0.5376921355145503
                              '2018':
                                type: number
                                example: 0.357758593415979
                              '2019':
                                type: number
                                example: 0.7029122106845779
                              '2020':
                                type: number
                                example: 0.4280589983565223
                          cash_to_assets:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.8457322529202494
                              '2015':
                                type: number
                                example: 0.9863829458972141
                              '2016':
                                type: number
                                example: 0.4934330804148122
                              '2017':
                                type: number
                                example: 0.5376921355145503
                              '2018':
                                type: number
                                example: 0.357758593415979
                              '2019':
                                type: number
                                example: 0.7029122106845779
                              '2020':
                                type: number
                                example: 0.4280589983565223
                          net_working_capital_to_sales:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.8457322529202494
                              '2015':
                                type: number
                                example: 0.9863829458972141
                              '2016':
                                type: number
                                example: 0.4934330804148122
                              '2017':
                                type: number
                                example: 0.5376921355145503
                              '2018':
                                type: number
                                example: 0.357758593415979
                              '2019':
                                type: number
                                example: 0.7029122106845779
                              '2020':
                                type: number
                                example: 0.4280589983565223
                      activity:
                        type: object
                        properties:
                          total_asset_turnover:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.7571560970807056
                              '2015':
                                type: number
                                example: 0.7877245363542329
                              '2016':
                                type: number
                                example: 2.3693977000910613
                              '2017':
                                type: number
                                example: 0.6628963317110973
                              '2018':
                                type: number
                                example: 0.8299941484739886
                              '2019':
                                type: number
                                example: 1.3275331009476332
                              '2020':
                                type: number
                                example: 0.5645231967194583
                          inventory_turnover:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.9355785151784264
                              '2015':
                                type: number
                                example: 0.7176644321323731
                              '2016':
                                type: number
                                example: 1.828113585829089
                              '2017':
                                type: number
                                example: 0.7805613367433604
                              '2018':
                                type: number
                                example: 0.6717572448950851
                              '2019':
                                type: number
                                example: 1.8946440989913522
                              '2020':
                                type: number
                                example: 0.7171407160576209
                          fixed_asset_turnover_ratio:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.9355785151784264
                              '2015':
                                type: number
                                example: 0.7176644321323731
                              '2016':
                                type: number
                                example: 1.828113585829089
                              '2017':
                                type: number
                                example: 0.7805613367433604
                              '2018':
                                type: number
                                example: 0.6717572448950851
                              '2019':
                                type: number
                                example: 1.8946440989913522
                              '2020':
                                type: number
                                example: 0.7171407160576209
                          sales_to_capital_employed:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.9355785151784264
                              '2015':
                                type: number
                                example: 0.7176644321323731
                              '2016':
                                type: number
                                example: 1.828113585829089
                              '2017':
                                type: number
                                example: 0.7805613367433604
                              '2018':
                                type: number
                                example: 0.6717572448950851
                              '2019':
                                type: number
                                example: 1.8946440989913522
                              '2020':
                                type: number
                                example: 0.7171407160576209
                          accounts_payable_payment_period:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.9355785151784264
                              '2015':
                                type: number
                                example: 0.7176644321323731
                              '2016':
                                type: number
                                example: 1.828113585829089
                              '2017':
                                type: number
                                example: 0.7805613367433604
                              '2018':
                                type: number
                                example: 0.6717572448950851
                              '2019':
                                type: number
                                example: 1.8946440989913522
                              '2020':
                                type: number
                                example: 0.7171407160576209
                          accounts_receivable_collection_period:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.9355785151784264
                              '2015':
                                type: number
                                example: 0.7176644321323731
                              '2016':
                                type: number
                                example: 1.828113585829089
                              '2017':
                                type: number
                                example: 0.7805613367433604
                              '2018':
                                type: number
                                example: 0.6717572448950851
                              '2019':
                                type: number
                                example: 1.8946440989913522
                              '2020':
                                type: number
                                example: 0.7171407160576209
                      profitability:
                        type: object
                        properties:
                          return_on_assets:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.8909660418010791
                              '2015':
                                type: number
                                example: 0.9170198717865244
                              '2016':
                                type: number
                                example: 0.8867081841792085
                              '2017':
                                type: number
                                example: 0.8763975270414898
                              '2018':
                                type: number
                                example: 0.7464401447048928
                              '2019':
                                type: number
                                example: 0.8589579515876329
                              '2020':
                                type: number
                                example: 0.8023060035397855
                          return_on_equity:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 1.2206153800050163
                              '2015':
                                type: number
                                example: 0.9472091208246147
                              '2016':
                                type: number
                                example: 0.8345801104504675
                              '2017':
                                type: number
                                example: 1.4492972599256255
                              '2018':
                                type: number
                                example: 0.5783242083326875
                              '2019':
                                type: number
                                example: 1.0231983929814674
                              '2020':
                                type: number
                                example: 0.8401368179614076
                          return_on_sales:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 1.1767270252941127
                              '2015':
                                type: number
                                example: 1.1641377530661918
                              '2016':
                                type: number
                                example: 0.37423358018163444
                              '2017':
                                type: number
                                example: 1.3220732792098786
                              '2018':
                                type: number
                                example: 0.8993318158655498
                              '2019':
                                type: number
                                example: 0.6470331707544488
                              '2020':
                                type: number
                                example: 1.4212099842878454
                          gross_profit_margin:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 1.267320660225698
                              '2015':
                                type: number
                                example: 1.0523144011638075
                              '2016':
                                type: number
                                example: 0.5410234037399851
                              '2017':
                                type: number
                                example: 1.0225926594543397
                              '2018':
                                type: number
                                example: 1.2427611679673494
                              '2019':
                                type: number
                                example: 0.6312249227085254
                              '2020':
                                type: number
                                example: 1.5823179451948328
                          return_on_investment:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 1.1767270252941127
                              '2015':
                                type: number
                                example: 1.1641377530661918
                              '2016':
                                type: number
                                example: 0.37423358018163444
                              '2017':
                                type: number
                                example: 1.3220732792098786
                              '2018':
                                type: number
                                example: 0.8993318158655498
                              '2019':
                                type: number
                                example: 0.6470331707544488
                              '2020':
                                type: number
                                example: 1.4212099842878454
                      leverage:
                        type: object
                        properties:
                          total_debt_ratio:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.2700681505443447
                              '2015':
                                type: number
                                example: 0.03187178878916228
                              '2016':
                                type: number
                                example: -0.062460239677416485
                              '2017':
                                type: number
                                example: 0.3952948430424381
                              '2018':
                                type: number
                                example: -0.29069496650829235
                              '2019':
                                type: number
                                example: 0.16051671163718226
                              '2020':
                                type: number
                                example: 0.04502934952121079
                          debt_equity_ratio:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 0.836600142459244
                              '2015':
                                type: number
                                example: 0.6650153634660437
                              '2016':
                                type: number
                                example: 1.3233877546014627
                              '2017':
                                type: number
                                example: 0.8459680150547594
                              '2018':
                                type: number
                                example: 0.9916920082233325
                              '2019':
                                type: number
                                example: 0.7331621821311222
                              '2020':
                                type: number
                                example: 0.9173805946813605
                          coverage:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 1.6967874814292707
                              '2015':
                                type: number
                                example: 0.6353417929046555
                              '2016':
                                type: number
                                example: 1.3123395940652847
                              '2017':
                                type: number
                                example: 1.0541585331655516
                              '2018':
                                type: number
                                example: 1.2425865404494898
                              '2019':
                                type: number
                                example: 1.249555054360737
                              '2020':
                                type: number
                                example: 0.7879005075830647
                          capital_intensity_ratio:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 1.3207316217297917
                              '2015':
                                type: number
                                example: 1.269479308881536
                              '2016':
                                type: number
                                example: 0.42204818547834655
                              '2017':
                                type: number
                                example: 1.5085315035893407
                              '2018':
                                type: number
                                example: 1.2048277711819788
                              '2019':
                                type: number
                                example: 0.7532768857410559
                              '2020':
                                type: number
                                example: 1.7714063935922786
                          solvency:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 1.3207316217297917
                              '2015':
                                type: number
                                example: 1.269479308881536
                              '2016':
                                type: number
                                example: 0.42204818547834655
                              '2017':
                                type: number
                                example: 1.5085315035893407
                              '2018':
                                type: number
                                example: 1.2048277711819788
                              '2019':
                                type: number
                                example: 0.7532768857410559
                              '2020':
                                type: number
                                example: 1.7714063935922786
                          interest_expense_to_sales:
                            type: object
                            properties:
                              '2014':
                                type: number
                                example: 1.3207316217297917
                              '2015':
                                type: number
                                example: 1.269479308881536
                              '2016':
                                type: number
                                example: 0.42204818547834655
                              '2017':
                                type: number
                                example: 1.5085315035893407
                              '2018':
                                type: number
                                example: 1.2048277711819788
                              '2019':
                                type: number
                                example: 0.7532768857410559
                              '2020':
                                type: number
                                example: 1.7714063935922786
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    entityId:
      name: entityId
      in: path
      required: true
      example: 91106968-1abd-4d64-85c1-4e73d96fb997
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Your API key is available in the [Production](https://app.syntage.com/settings/api-keys) and [Sandbox](https://app.sandbox.syntage.com/settings/api-keys) dashboards.

        '
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
